<?= $pd->text(_('It’s much more powerful to write in your own words, telling your
representative about your own beliefs and experiences.  We want to make the
voice of the individual more powerful, so we block "identikit" letters. 

It would be easy to help people send lots of identical messages with one
click. But then MPs would be drowned out by automated emailings organised by
large campaigns groups and corporations. We prefer that representatives can trust
messages from WriteToThem as being from real individuals, giving their own story.

If you’re a pressure group, think about what you’re doing. Ask your
supporters to write to their own representative in their own words. Your
message will be much more powerful. Even though your supporters may send fewer
messages, their impact will be ahead of the game.

Still not convinced? Here’s a quote from a Parliamentary researcher, whose
job is to make the MP he/she works for as accessible as possible (such people
are the hidden gems of our democracy):

<blockquote>
MPs rather naturally take a sudden influx of identical or similar messages
with a large pinch of salt, since they know that what they are seeing is stuff
from a minority of constituents who are either impassioned/neurotic about the
topic concerned or who are easily gulled into agreeing with some plausible
story and sending the message, since it takes minimum effort to do so.

Given a daily mailbag of (say) 50 individual messages from individual
constituents, on a wide range of topics, when the mailbag suddenly rises to 100
a day, 50 of which are much the same as each other, the representative has no
way at all of knowing whether the message concerned is representative of
opinion in the constituency.

All he or she knows is that 50 constituents have been persuaded to mail them
about "topic X". Much more notice is taken of trends within the regular flow of
messages from clearly identified constituents. If in a month 50 people write in
different ways and through different routes with similar views on a subject,
this is much more likely to raise the profile of the topic with the MP.
</blockquote>

So please don’t copy and paste the same message as everyone else. And don’t
encourage others to do so. It’s worse than useless as we’ll automatically stop
your messages before they get through. Ask people to write in their own words.
If they care enough about your issue, they’ll do so.')) ?>
