<?= $pd->text(_('Elected representatives have a duty to listen and respond to those who
live in their areas of responsibility &mdash; but they can’t possibly cope with
regular communication from the entire UK population.  We try to strike a
balance between getting people listened to, and filling their inboxes with
problems which it is not their job to solve.

We don’t let anyone write to any representative &mdash; our service is only
to enable people to write to their own elected representatives (or 
<a href="/about-lords">any lord</a>). If we did let anyone write to any
representative in the country, professional lobbyists would
use us to mail every one of the representatives, in the same way as marketeers
junk-mail as many people as they can. Eventually, representatives would ignore
<em>every</em> message sent through our service, instead of trusting it as a
source of genuine letters from genuine constituents. And the main losers in
this would be real constituents with real problems.')) ?>

