<? $values['title'] = "What Can Your MP Do To Help You?"; include "header.php"; ?>

<p><font color="#ff0000" size="-1"><strong>This is placeholder text.
</strong> The about and help pages are not finished yet.
</p>

<H3>WriteToThem.com - <?=$values['title']?></H3>
<UL>
<LI><A HREF="#what">When can my MP help me?</A>
<LI><A HREF="#not">When can't my MP help?</A>
<LI><A HREF="#howmpdeals">How will my MP deal with my problem?</A>
<LI><A HREF="#raiseincommons">Will my MP mention my case in the House of Commons?</A>
<LI><A HREF="#petitions">How do I submit a petition?</A>
<LI><A HREF="#campaigns">How do I lobby my MP on an issue that's important to me?</A>
</UL>
<i>The document below is copied from the House Of Commons Information Office Factsheet M1 
"<A HREF="http://www.parliament.uk/commons/lib/FACT.HTM">You and Your MP</A>"  </a></i>
<P>
<A NAME="what"></A>
<B>WHAT CAN YOUR MP DO TO HELP YOU?</B><P>
Many people think that their MP is there to solve all their problems for them: unfortunately 
this is not the case. MPs are there to help only with those matters for which Parliament
 or central government is responsible. 
<P><b>Your MP will be able to help you with such areas as:</b>
<UL>
<LI><b>Tax problems</b> involving the Inland Revenue and Customs 
and Excise Departments (but not such areas as the council tax which is paid to your local authority)
<LI>Problems dealt with by the Department of Health such as <b>hospitals and the National Health Service</b>
<LI>Problems dealt with by the Department of Social Security such as <b>benefits, pensions and national 
insurance</b> (but not problems with the social services department of your local authority)
<LI>Problems dealt with by the Home Office such as <b>immigration</b> 
<LI>Matters such as <b>school closures and grants</b> which are dealt with by the Department for Education 
and Employment (but not day to day problems involving 
schools which are run by their governors and your local education authority). <A NAME="not"></A>
</UL>
Your MP is <b>not</b> there to help you in private disputes with other <b>individuals</b> or with 
<b>companies</b> who have sold you faulty goods, nor, for example, to interfere with decisions 
made by <b>courts</b>.
<P>
Constituents often take a problem to their MP because they do not know who else could help them. MPs 
are very generous at giving help and advice and will usually have a local councillor at their constituency 
surgeries to help those constituents whose problems are connected with the services provided by local 
authorities such as dustbins, housing repairs or public lavatories. 
<P>If you feel that your problem really 
concerns the council rather than central government, then you should contact your local council or 
councillor. Your <A HREF="http://www.upmystreet.com">local library or town hall</A> should be 
able to provide you with your councillor's name and contact information. 
<P>If your problem is of a more general nature or you are uncertain where to go 
for advice, then your nearest <A HREF="http://www.nacab.org.uk">Citizens Advice Bureau</A> will 
be able to guide you. Alternatively, your town hall may run its own general advice centre or
 be able to direct you towards an independent centre. 
<P>
Your MP will try to be as helpful as he or she can but, since he or she will have around 88,000 
constituents to look after and his or her Parliamentary duties to attend to, this will place 
limits on the amount of time which can be spent in the constituency. It is then important 
that they spend their time dealing with problems which relate to them, rather than
 diverting queries which should have been taken elsewhere. <A NAME="howmpdeals"></A>
<P>
<B>HOW DOES YOUR MP DEAL WITH PROBLEMS?</B><P>
Where your problem does involve central government, your MP has a number of methods available to 
try to resolve the matter. A letter from your MP to the relevant department or official will often 
provide a solution. If not, your MP may decide to take matters a stage further by writing to the Minister 
involved, or even making an appointment to see the Minister personally. 
<P>
Many constituents' problems can be solved in this way but not all problems, of course, have an easy 
solution. The Minister may not be able to give the answer which you wanted to hear but if the decision 
has been made in the right way, there may be little that can be done. If, on the other hand, there has 
been unnecessary delay, or if some essential procedure has been missed out, i.e. if there has been 
maladministration, your MP may be able to take your case to the Ombudsman (Parliamentary 
Commissioner for Administration). He is sometimes able to resolve such cases where there has been 
administrative incompetence. The Ombudsman can only be approached via your MP, you cannot 
approach him directly. The Health Service Commissioner can provide similar help where the problem 
involves the NHS. There is also a Commissioner for Local Administration (Local Ombudsman) who 
deals with possible maladministration in local government matters. He should be approached through 
your local councillor. <A NAME="raiseincommons"></A>
<P>
<B>RAISING MATTERS IN THE HOUSE OF COMMONS</B><P>
All of the methods discussed so far allow problems to be kept confidential. If your MP is not satisfied 
with the answers received, he or she may feel that there is something to be gained by making the matter 
public and may want to raise the issue in the House of Commons in front of the press and public. There 
are a number of occasions when your MP may have the chance to do this. The most popular is for your 
MP to put the Minister on the spot by asking an oral question at Question Time one afternoon. Ministers 
answer questions at the despatch box on a rota basis and there is a limit to the number of questions which 
there will be time to ask, so this cannot necessarily be done on a given day; your MP may not be called 
by the Speaker.
<P>
 Your MP may also try to raise your problem in the half­hour Adjournment Debate, 
which is usually the last business of the day, although again there will be competition amongst MPs for 
the right to raise matters on adjournment and your MP must be successful in a ballot or have his or her 
subject chosen by the Speaker. At other times, your MP may prefer to draw attention to the matter by 
what is called an Early Day Motion. Although EDMs are not usually debated, your MP will have placed 
on record his or her opinion on a subject and is able to gauge the support of his or her fellow MPs. 
These methods can all produce results and sometimes the publicity may be helpful in 
persuading a Minister to change his or her mind. If your MP becomes aware that your problem is a 
common one then he or she may try to gain the opportunity to introduce a Private Member's Bill (see 
Factsheet No 4). Only a very few such measures are successful (see Factsheet No 67) but once again 
publicity is drawn to the matter and the Minister may be persuaded to make changes in the future.
 <A NAME="petitions"></A>
<P>
<B>PETITIONS</B><P> 
If you and other people feel strongly about a certain issue, you may decide to organise a petition to the 
House of Commons. Your petition can only be presented by an MP and must be arranged in a particular 
format. You can obtain advice on this by writing to the Clerk of Public Petitions, Journal Office, House 
of Commons, London SW1A 0AA or by downloading the House Of Commons Information Office Factsheet P7 
"<!-- <A HREF="http://www.parliament.uk/commons/lib/fs32.pdf">Public Petitions</A> --><A HREF="http://www.parliament.uk/documents/upload/p07.pdf">Public Petitions</A>" (Adobe Acrobat document). 
<A NAME="campaigns"></A>
<P>
<b>CAMPAIGNS AND LOBBYING </b><P>
MPs are often contacted by constituents campaigning on behalf of a particular cause, perhaps 
representing an organised pressure group. It will be for your MP to decide whether to take any action. 
Anyone who is intending to organise a 'mass lobby'to the House of Commons must contact the Serjeant 
at Arms Department (020­7219 3060) well in advance. <A NAME="varied"></A>
<P>
<b>THE VARIED RESPONSIBILITIES OF YOUR MP </b><P>
Your MP will generally do everything he or she can to help constituents, but will not feel able to support 
every cause, nor will he or she be able to get the desired solution to every individual problem. Members 
may not be willing to support one constituent if in doing so they will deprive another. At times a 
constituent's demands may conflict with party policy and your MP will have to decide where first loyalty 
should lie. The Member may think that, in any case, a majority of constituents would support the party 
policy ­ after all that is likely to be one of the reasons why they elected him or her. 
<P>
<? include "footer.php"; ?>
