<? $values['title'] = "Who are you lot, and why are you doing this?"; include "header.php"; ?>

<H3>WriteToThem.com - <?=$values['title']?></H3>
<P>
<SPAN CLASS="normal">
We would love to tell you that we're a terrifyingly well-organised e-democracy strike force, 
whose members have years of lobbying experience fighting for justice in the corridors of 
Westminster. But we'd be lying. Again.
<P>
In reality, we are a dozen or so volunteers who don't see why ordinary 
people should have to jump through hoops to contact their elected MP. 
<P>

We do this in our spare time, because we think it's worth doing. And if it's worth
doing, we might as well try to do it well. We've recently helped to launch <a 
href="http://www.theyworkforyou.com/">TheyWorkForYou.com, 
a new website which lets you keep track of what your MP does and says in Parliament.</a>
<P>
Most people don't know the name of their MP, let alone their constituency. 
We think it's important that constituents know the identity of their Parliamentary 
representative, and be able to contact him or her when they feel the need.<P> 
Hence this website. 
<P>You can read what the press has written about us <A HREF="press.php3">here</a>. 
We've won the odd <A HREF="press.php3">award</A>, 
but it's <A HREF="feedback.php3">feedback</A> from our users which gives us the biggest buzz.
<P>
In order to sign the contracts to enable the service to be carried 
on various interactive TV platforms, we were obliged to form a 
UK limited company called FaxYourMP Ltd (registered in England and Wales under Company Number 4176048)<P>
FaxYourMP Ltd owns and runs
this website and its <A HREF="onnet_index.php3">sister service catering for
interactive TV users</A> on a strictly not-for-profit basis. Click 
<A HREF="/q_a.php3#whoareyou">
here</A> for more information.<P>
If you want to probe us for more details, just email us at: 
<A HREF="mailto:info@faxyourmp.com">info@faxyourmp.com</A>
<A NAME="people"></A>
<P>
<I>
Owen Blacker<BR>
James Cronin<BR>
Cait Hurley<BR>
Manar Hussain<BR>
Malcolm Hutty<BR>
Tom Loosemore<BR>
Stefan Magdalinski<BR>
Danny O'Brien<BR>
Alaric Snell<BR>
Stuart Tily<BR>
Sam Urquhart<BR>
Matt Zandstra<BR>
</I>
<P>
November 2000<P>
<A HREF="mailto:info@faxyourmp.com">info@faxyourmp.com</A><P>
<P>
<P>
<P>

<? include "footer.php"; ?>
