<? $values['title'] = "Tell Us What You Think"; include "header.php"; ?>

<p><font color="#ff0000" size="-1"><strong>This is placeholder text.
</strong> The about and help pages are not finished yet.
</p>

<H3>Your Feedback</H3>
<P>
<SPAN CLASS="normal">
So, does the service *actually* work? Do MPs really respond? Read the feedback below and make up your own mind. 

<P>
<I>"Thanks for the service - great idea. I faxed my MP a fortnight ago, and received a reply from him in a week, to which I have sent a further response. Watch this space!!"</I> 
<P>
<I>"My MP actually got back to me within 48 hours which is great."</I> 
<P>
<I>"Great service - I even got a response!"</I> 
<P>
<I>"Just thought I'd say that I used your service to fax my MP a week ago and today I received an email reply from her, which is fantastic! I never even knew who my MP was, let alone knew how to contact her directly and even less expected to receive a reply. As to how many fibres are intertwined in a shredded wheat? The answer is [CENSORED]"</I><BR>
(We have a nasty feeling he actually *counted* them all) 
 <P>
<I>"What a super system you have, which I have just used to fax my MP as a result of the Equitable Life debacle. Although I wanted to write to my MP the reality is that I probably would not have sent it via "snail mail"."</I> 
<P>
<I>"I really enjoyed getting that high density paper and cream envelope with the house of commons stamp on it in response"</I> 
<P>
<I>"Lovely!  Shall certainly tell friends.  Of course, shall not use it often as this would be counterproductive."<BR></I>
(Thanks... You're not wrong...)
<P>
<I>"I got a very prompt (written!) reply so that was definitely good!"</I> 
<P>
<I>"I have just faxed my MP via your service.  I have never contacted my MP before"</I> 
<P>
<I>"On The 1st Of Jan I used your site to fax my MP. While not fully answering my fax he did get back to me very quickly and has passed it on to another MP.  He has said that he will get back to me again when he has the information he has called for."</I> 
<P>
<I>"Dear all, I have received a letter from my MP today along with a lot of facts and figures about a compensation claim for an industrial condition I have. What a result after only sending a fax last week."</I> 
<P>
<I>"Just to let you know that I received a very prompt response from my MP after using your fax service. I'm sure I'll be using it again."</I> 
<P>
<I>"I used your service to fax my MP  because I had been bombarding the DSS for six months with letters and forms to get the Winter Heating allowance I am entitled to as an elderly person, all without any acknowledgement or result. I have just received it, thanks to you and my MP."<BR></I>
(This is our favourite Feedback email. We were chuffed to get it...)
<P>
<I>"My fax to my MP arrived.  Received a prompt reply promising further action. Thank you"</I> 
<P>
<I>"On behalf of my mother, I used your site to get a letter to our MP so he would have it for the Parliamentary vote on the Tuesday 16th.
Received a reply from his office on 27th specifically mentioning he received the letter fax via the "new Fax Your MP facility"."</I> 
<P>
<I>"I just wanted to tell you that the fax you sent for me to my MP achieved a
really good result.
I'll be using your service again to thank him"</I> 
<P>
<I>" the next day I got a response to the letter I faxed to them, just  writing to let you know"</I> 
<P>
<I>" I successfully faxed my MP last week and have just received a *letter* from him"</I> 
<P>
<I>"I have been so impressed by the speed in which I was contacted after my
first fax to my MP"</I> 
<P>
<I>"Just a note to say that we received a telephone call from our MP, in response to a fax I sent via your service"</I> 
<P>
It's genuinely inspiring hearing about your successes, but also feel free to drop us a line if your MP doesn't get back to you. 
<P>
If you're in the mood, you can read what the press has written about us <A HREF="press.php3">here</a>. 
We like press; but we like your emails better.<P>
Email us at <B><A HREF="mailto:info@faxyourmp.com">info@faxyourmp.com</a></B>
<P>
To protect those MPs who do get in touch with their constituents we have taken out their names and replaced them with "my MP". Other than that, all these quotes are genuine, and from constituents rather like yourself.<P>
We can't guarantee that your MP will get in touch with you about your query, but it appears that many of them do respond promptly. 

<P>
<? include "footer.php"; ?>
