<? $values['title'] = "How To Link To Us"; include "header.php"; ?>

<p><font color="#ff0000" size="-1"><strong>This is placeholder text.
</strong> The about and help pages are not finished yet.
</p>

<H3>WriteToThem.com - <?=$values['title']?> </H3>
<SPAN CLASS="normal">


Cut and paste the code below into your own webpage and you will be able to link directly through to our server. <P>
<table width="500" border="1" cellspacing="0" cellpadding="0" align="center">
<tr> 
<td>
<pre>&lt;form method=&quot;get&quot; action=&quot;http://www.writetothem.com/&quot;&gt;
&lt;table border=&quot;0&quot; bgcolor=&quot;#cccc99&quot;&gt;
&lt;tr&gt;
&lt;td&gt;&lt;b&gt;&nbsp;&lt;a href=&quot;http://www.writetothem.com/&quot;&gt;WriteToThem.com&lt;/a&gt;&lt;/b&gt;&lt;br&gt;
&lt;input name=&quot;pc&quot; type=&quot;text&quot; size=&quot;13&quot; value=&quot;Your Postcode&quot;&gt;
&lt;input type=&quot;submit&quot; value=&quot;Go&quot;&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;/form&gt;</pre>
</td></tr></table>
<P>
This will give you a form which looks vaguely like this: <P>
<FORM METHOD="GET" ACTION="http://www.writetothem.com/">
<TABLE BORDER="0" BGCOLOR="#cccc99">
<TR>
<TD><B> <A HREF="http://www.writetothem.com/">WriteToThem.com</A></B><BR>
<INPUT NAME="pc" TYPE="text" SIZE="13" Value="Your Postcode">
<INPUT TYPE="submit" VALUE="Go">
</TD>
</TR>
</TABLE>
</FORM>

<P>
Feel free to hack around with the design as much as you like - just make sure you retain the link to www.writetothem.com, so that we get all those lovely Google referrer points, ok? Ta. Any questions, just drop us a line at <a href="mailto:help@writetothem.com">help@writetothem.com</a>
<P>

<? include "footer.php"; ?>
