<? $values['title'] = "Questions and Answers"; include "header.php"; ?>
<H3>WriteToThem.com - Questions and Answers</H3>
<P>

<SPAN CLASS="normal">
<UL>
<LI><A HREF="/about-yourrep">When should I contact my representative?</a> 
<LI><A HREF="/about-feedback">Does it really work? Some user feedback...</A> 
<li><a href="/about-guidelines">I'm planning a campaign that uses
WriteToThem.com. Is there anything I should know in advance?</li>
</UL>
<UL>
<LI><A HREF="#how">How do I send a message?</A>
<LI><A HREF="#address">Why do you want my address, name, email address and phone?</A>
<LI><A HREF="#onlyrep">Why can't I message any representative I like?</A>

<LI><A HREF="#formletters">Why shouldn't I copy and paste "form" letters?</A>
<LI><A HREF="#personal">What will you do with the very personal information I'm putting in to this 
site?</A>
<LI><A HREF="#whoareyou">Who are you and why are you doing this?</A>
<LI><A HREF="#digitalsig">There's a statement about signatures at the bottom of my message. What's that about?</A>
<LI><A HREF="#checkmessage">Can I check the message before I send it?</A>
<LI><A HREF="#howsitsent">How is it sent to all the councillors and members?</A>
<LI><A HREF="#guarantee">Can you guarantee my message will be sent?</A>
<LI><A HREF="#doityourself">I have an idea for a service similar to WriteToThem.com. How would I set it up? Can I use your software?<P>

<LI><A HREF="#wrong">What do I do if I think something went wrong, or if I see an error on the site?</A>
<LI><A HREF="about-linktous">How Do I Link To This Website?</a>
</UL>
<P>

<A NAME="how"></A><P>
<A HREF="#top">top</A><P>


<B>How do I send a message?</B><BR>
All you need is your postcode to start. Just go to the front page of the 
site, type it in and hit the "Go" button. Up will pop details of all your local representatives. Select the one you want, and press 'next'. This will take you straight to a simple form in which you can start writing straight away. Don't forget to fill in your Name, Address and Email - we can't send the message without these.<P> 

Now you can get in touch with any of your representatives direct. WriteToThem.com saves 
you the trouble of writing and sending your letter through the traditional routes.  There's no cost to 
you  - bar the cost of you being online in the first place.<P>

Being part way through the process, you can choose to go offline if you 
like (keeping your browser windows open), to save yourself a bit of cash. 
Write the letter you wish to send in the word processing program you 
use every day, then when you are happy with it, dial in to your ISP again 
and just copy and paste your letter into the message form. The form will also 
ask you for your full name, address and email address. These personal 
details are to verify who you are, and to allow your representative  to get in touch 
with you direct.<P>

Next, press the "Preview" button to view your letter before sending it.
 Take a look to see if you have made your point or request as well as you
want to. If you are not happy, you can click on "edit this Message" to go
back to the original form, and change your letter. You can press on the "Start
messageing" button to start the process of messageing your representative .<P> 

Before WriteToThem.com sends the message, there is a simple fourth step. We send 
you an email explaining that someone purporting to be you wants to send a 
message to a named representative . <B>This email will also contain a copy of your letter</B>, for 
you to keep as a reference. If the email cannot be sent for whatever 
reason, the message will not be sent. If the email goes unanswered, the message 
will not be sent. For these reasons, make sure you type in your email 
address correctly on the form.<P>

Your representative  will be messaged only after you have visited a web address 
(otherwise known as a "link" or "url") that we will send to you via email. No need to write anything on the
mail - just click on the link, or copy and paste it in to your browser window and that's it. message sent.<P>

If you would like a reply to your letter, don't forget to ask for one when 
composing your message. It's up to the representative  in question to get in touch with 
you.<P>

Two weeks after your message has been sent, we will email you again asking if your representative  has 
been in touch.  WriteToThem.com cannot be held responsible for any 
Member of Parliament's failure get in touch, but we think it worthwhile
to track representatives' responsiveness. 

<P>
WriteToThem.com would like to say again that while we are offering this site 
as a service to the public, we can't guarantee to anyone that your representative will 
view the message you send, and we can't follow up any enquiries you make regarding
your 
communication from your representative .<BR>


<A NAME="address"></A><P>
<A HREF="#top">top</A><P>
<B>Why do you want my address, name, email address and phone?</B><BR>
<ul>
<li>Firstly to enable your representative to get in touch with you, and to
help the message that is sent look more like a formal letter.  Note that
entering your phone number is optional, but advisable, so
councillors can respond to your message by ringing you up.</li>
<li>Secondly, to enable us to send you a copy of your message for your
records, and to tell you if there was a delivery problem. </li>
<li>Thirdly, to enable you to confirm who you are.  WriteToThem.com is
concerned that this service is used in a responsible way by everyone.
Which is why we built it responsibly.  </li>
</ul>

<A NAME="onlyrep"></A><P>
<A HREF="#top">top</A><P>

<B>Why can't I write to any representative I like?</B><BR>
Representatives have a duty to listen and respond to the voters in
their areas of responsibility - but they can't possibly cope with regular communication from the entire UK population.
We try to strike a balance between getting people listened too, and not spamming elected officials.

<P> We don't let anyone write to any representative - we try to encourage people to write to their own elected officials. If we let anyone write to anyone representative in the country, professional lobbyists would use us to blanket-message every one of the representatives, in the same way as
marketeers junk-mail as many people as they can. Parliament's telephone lines
would soon be melting from irrelevant spam. Eventually, representatives would ignore
<I>every</I> message, and the constituents who we try to put in contact with the only
person who can help them would get lost in the noise.

<A NAME="formletters"></A><P>
<A HREF="#top">top</A><P>

<B>Why shouldn't I copy and paste "form" letters?</B><BR>
We know your issue is important to you, but we've spoken to representatives - and if you
are not a constituent, or you send a "copied and pasted" form letter, your message will go straight
into the parliamentary bin.<P>

If you're a pressure group, please think about what you're doing. If you
encourage all your members to write to the same representative , you will not show that representative 
the depth of support for your issue. You'll simply have used up a few sheets
of tax-funded message paper, and irritated an underpaid secretary or researcher.  And if you
encourage them all to send the same rote letter, representatives will just assume you
have a nasty little man with a photocopier blasting them out from your office,
and ignore you even more than they did before.
<P>
Still not convinced? Here's a quote from a Parliamentary researcher, whose job is to make 
the representative  he/she works for as accessible as possible (such people are the hidden gems of our 
democracy)<BR>
<BLOCKQUOTE>
<I>MPs rather 
naturally take a sudden influx of identical or similar messages with a large pinch of salt, since 
they know that what they are seeing is stuff from a minority of constituents who are either 
impassioned/neurotic about the topic concerned or who are easily gulled into agreeing with some 
plausible story and sending the message, since it takes minimum effort to do so.<P>
 Given a daily 
mailbag of (say) 50 individual messages from individual constituents, on a wide range of topics, 
when the mailbag suddenly rises to 100 a day, 50 of which are much the same as each other, the representative  
has no way at all of knowing whether the message concerned is representative of opinion in the 
constituency.<P>

 All he or she knows is that 50 constituents have been persuaded to mail them about 
'topic X'. Much more notice is taken of trends within the regular flow of messages from clearly 
identified constituents. If in a month 50 people write in different ways and through different 
routes with similar views on a subject, this is much more likely to raise the profile of the topic 
with the MP'.

</I>
</BLOCKQUOTE>
So please don't copy and paste the same message as everyone else. And don't encourage others to 
do so. It's worse than useless. Ask 
people to write in their own words. If they care enough about your issue, they'll do so.<BR>

<A NAME="personal"></A><P>
<A HREF="#top">top</A><P>

<B>What will you do with the very personal information I'm putting in to this 
site?</B><BR>

<ul>
<li>We guarantee you we will not sell or distribute any information you give WriteToThem.com</li>
<li>We guarantee you we will not keep permanent copies of the letters you write to send
to your representative  </li>
<li>We store your name, email address and the name of your
representative. We have had to do this in order to stop abuse of the
service. We do not keep a copy of the body of your message.</li>

<li>We will not use this data for any other purpose other than to
minimise abuse of the service. </li>
<li>We will not be sending you unsolicited email.</li>
<li>We are registered with the <A
HREF="http://www.dpr.gov.uk/search.html">Data Protection Register</A> in
accordance with the Data Protection Act 1998. Our reference number is
Z6500557. </li>
</ul>

<A NAME="whoareyou"></A><P>
<A HREF="#top">top</A><P>

<B>Who are you and why are you doing this?</B><BR>

This site has been built by mySociety, under the gracious guidance of
the original FaxYourMP.com team. mySociety has two missions. The first
is to be a charitable project which builds websites that have simple,
tangible benefits for individuals and groups in British society. The
second is to demonstrate to the public and voluntary sectors how
thoughtful use of the internet can lead to clear real-world results.

<P>We are non-party political, and our parent organisation is the
registered charity UK Citizens Online Democracy.

<P>We have been fortunate enough to obtain funding from the Office of the
Deputy Prime Minister, in partnership with West Sussex County Council.
The funding comes from something called their <a
href="http://www.odpm.gov.uk/pns/DisplayPN.cgi?pn_id=2004_0060">e-innovations
fund</a>.

<P>FaxYourMP.com was a fully grassroots operation, which became
incorporated as FaxYourMP Ltd in order to exist legally.

<P>Remember that it doesn't who you voted for personally, the
representatives  who are elected for your area are duty bound to listen
to your concerns. We think that is a very important 
thing, and we want to help to promote their ability to listen to you.

<P>For a list of people involved in FaxYourMP.com and WriteToThem.com
see also the <a href="/about-us">about page</a>.

<BR>



<A NAME="digitalsig"></A><P>
<A HREF="#top">top</A><P>

<B>There's a statement about signatures at the bottom of my message. What's that about?</B><BR>

<P>Recently, a small group of MPs have started replying to constituents who
used FaxYourMP, saying that they could not possibly respond to unsigned messages.
Because FaxYourMP messages weren't signed, the MPs couldn't be sure that they
were genuine. The constituents were asked to resubmit their request in       
handwritten form.</P>                       

<P>This was a bit confusing to us. In practical terms, a written signature
proves nothing: in order to check the veracity of the letter or signature,
you'd have to check it with the original author to get a confirmatory sample
of their signature - and if you were doing that, why didn't you just
<I>ask</I> them about the letter?  It made no sense.</P>

<P>Then we thought: aha, perhaps this is some <I>legal</I> requirement. We
understand that a lot of MPs are lawyers, so they're probably very good about
this kind of thing. Perhaps even better than they were at simply answering   
constituents' requests.</P>                                                  

<P>Well, fortunately, if it's legality they're worried about, we found a fix.
The Electronic Communications Act 2000, Subsection 7(3) states:</P>          

<BLOCKQUOTE>
7(3) For the purposes of this section an electronic
signature incorporated                             
into or associated with a particular electronic communication or particular
electronic data is certified by any person if that person (whether before or
after the making of the communication) has made a statement confirming that-

   (a) the signature,
   (b) a means of producing, communicating or verifying the signature, or
   (c) a procedure applied to the signature,                             
   is (either alone or in combination with other factors) a valid means of
establishing the authenticity of the communication or data, the integrity of
the communication or data, or both."                                        
</BLOCKQUOTE>                                                               

<P>The message at the bottom of your message is your statement to that effect.
For the purpose of sending a letter to your representative , your electronic signature is legally  
valid. You may point this out to your representative  when they start replying to your     
messages, telling you how they can't reply to your messages, because they don't know
who you are.</P>                                                              

And what's the strange '0c0c38720cde084343' bit signify?

It's an MD5 hash of your e-mail address. Very impressive to overly legalistic
MPs. Highly technical.                                                  
<BR>

<A NAME="checkmessage"></A><P>
<A HREF="#top">top</A><P>

<B>Can I check the message before I send it?</B><BR>

Yes. There is every chance to take a second look and make sure you said what 
you wanted to say. Just click on "Preview" before you send the message, and you 
can see the whole thing nicely formatted.<BR>
Check through it, and if you see 
anything you don't like, just click on<BR><B>"&lt;&lt;edit this Message"</B>.<BR>

It will take you straight 
back to the form, where you will be able to delete or add anything you 
want. There is no limit to the amount of times you can preview and edit.<BR>

<A NAME="howsitsent"></A><P>
<A HREF="#top">top</A><P>

<B>How is it sent to all the councillors and mebmbers?</B><BR>

Most messages are sent directly to representative's official email
addresses. However, we can also fax messages to those representatives
who do not yet have public email addresses. Furthermore, we may fax
messages to representatives who do not appear to be actively checking
their email.
 
<BR>

<A NAME="guarantee"></A><P>
<A HREF="#top">top</A><P>

<B>Can you guarantee my message will be sent?</B><BR>

Sadly, no. We have over 20,000 representives in our database, and whilst
<a href="http://www.goveval.com">GovEval</a> help us keep them up to date, there will be some that fall through the gap. We will do everything we can to spot and eliminate problems though, so please let us know if you have spotted any gaps.
<BR>

<A NAME="doityourself"></A><P>
<A HREF="#top">top</A><P>

<B>I have an idea for a service similar to WriteToThem.com. How would I set it up? Can I use your software?</B><P>

Our software is all available on our public CVS. There's a link in the
copyright messages at the bottom of every page.  Sadly, we have to keep
licenced data out of the public domain, but there is a huge amount of
useful work available here, especially for people who want to build
versions of WriteToThem.com in other countries.
 
<A NAME="wrong"></A><P>
<A HREF="#top">top</A><P>

<B>What do I do if I think something went wrong, or if I see an error on the site?</B><P>

Then we really want to hear from you.<P>

Whilst we offer this service for free, we still want it to work. Don't
hesitate to mail us at the following email address to let us know if
anything strange happens (while you use the site, not in life
generally), you see any error messages or simply if you want to get in
touch with us for any reason.
<P> 

<A HREF="mailto:help@writetothem.com">help@writetothem.com</A><P>

<A HREF="#top">top</A><P>

<? include "footer.php"; ?>
