<? $values['title'] = "Who Should I Write To?"; include "header.php"; ?>

<h2><?=$values['title'] ?> </h2>
<UL>
<LI><A HREF="#mp">When should I contact my MP?</A>
<LI><A HREF="#councillor">When should I contact one of my councillors?</A>
<LI><A HREF="#mep">When should I contact an MEP?</A>
<LI><A HREF="#msp">When should I contact my MSP?</A>
<LI><A HREF="#welsh">When should I contact my Welsh Assembly Member?</A>
<LI><A HREF="#gla">When should I contact my Greater London Assembly?</A>

</UL>
<p><i>The MP section below is copied from the House Of Commons Information Office Factsheet M1 
	"<A HREF="http://www.parliament.uk/commons/lib/FACT.HTM">You and Your MP</A>"  </i></p>

<P>
<A NAME="mp"></A>
<B>When should I contact my MP?</B><P>
Many people think that their MP is there to solve all their problems for them: unfortunately 
this is not the case. MPs are there to help only with those matters for which Parliament
 or central government is responsible. 
<P><b>Your MP will be able to help you with such areas as:</b>
<UL>
<LI><b>Tax problems</b> involving the Inland Revenue and Customs 
and Excise Departments (but not such areas as the council tax which is paid to your local authority)
<LI>Problems dealt with by the Department of Health such as <b>hospitals and the National Health Service</b>
<LI>Problems dealt with by the Department of Social Security such as <b>benefits, pensions and national 
insurance</b> (but not problems with the social services department of your local authority)

<LI>Problems dealt with by the Home Office such as <b>immigration</b> 
<LI>Matters such as <b>school closures and grants</b> which are dealt with by the Department for Education 
and Employment (but not day to day problems involving 
schools which are run by their governors and your local education authority). <A NAME="not"></A>
</UL>
<p>Your MP is <b>not</b> there to help you in private disputes with other <b>individuals</b> or with 
<b>companies</b> who have sold you faulty goods, nor, for example, to interfere with decisions 
made by <b>courts</b>.


<P>
<A NAME="councillor"></A>
<B>When should I contact one of my councillors?</B><P>

Councillors have differing responsibilities depending on which council you live in. Because of these variations we are only able to give you 'rule-of-thumb' guidance here.
<UL>
<LI><b>District Councillors</b> If you have one or more district councillor, they tend to deal with issues around <b>council housing, planning, rubbish collection, the local environment, and the administration of elections.</b> 
<LI><b>County Councillors</b> If you have one or more county councillors, they tend to deal with <b>education, transport and roads, fire and social services plus libraries</b>.
</ul>

<P>
<A NAME="mep"></A>
<B>When should I contact one of my MEPs?</B><P>
If you have a question about the European directives (laws), the European Parliament, Commission or Union, your MEPs may be able to help.


<P>
<A NAME="msp"></A>
<B>When should I contact one of my MSP?</B><P>

According to the Scottish Parliament website, "MSPs deal with the issues for which the Scottish Parliament is responsible. These are called devolved matters. They include:
<UL>
<LI><b>health</b>
<LI><b>education and training</b>
<LI><b>local government</b>
<LI><b>social work</b>
<LI><b>housing</b>
<LI><b>planning</b>
<LI><b>tourism, economic development and financial assistance to industry</b>
<LI><b>some aspects of transport, including the Scottish road network, bus policy and ports and harbours</b>
<LI><b>law and home affairs, including most aspects of criminal and civil law, the prosecution system and the courts</b>
<LI><b>Police and Fire services</b>
<LI><b>environment</b>
<LI><b>natural and built heritage</b>
<LI><b>agriculture, forestry and fishing</b>
<LI><b>sport and the arts</b>
<LI><b>statistics, public registers and records"</b>
</ul>

<P>
<A NAME="welsh"></A>
<B>When should I contact one of my Welsh Assembly Member?</B><P>

According to the Welsh Assembly website "Examples of the important decisions the Assembly can make include:

<ul>
<LI><b>developing education, training and lifelong learning in Wales;</b>
<LI><b>developing and funding NHS services in Wales;</b>
<LI><b>administering European funds including the Objective One programme;</b>
<LI><b>administering funding for local authorities in Wales;</b>
<LI><b>developing housing policy, including tackling homelessness;</b>
<LI><b>sponsoring bodies that protect our environment and conserve wildlife and natural habitats;</b>
<LI><b>developing an integrated transport framework for Wales;</b>
<LI><b>promoting agricultural schemes and rural development;</b>
<LI><b>developing schemes to promote the culture and heritage of Wales;</b>
<LI><b>establishing schemes for sustainable development and equality of opportunity; and</b>
<LI><b>developing information and communication technology in Wales."</b>
</ul>


<P>
<A NAME="gla"></A>
<B>When should I contact one of my London Assembly members?</B><P>

According to the official website, the "GLA's main areas of responsibility are:

<ul>
<LI><b>Transport</b>
<LI><b>Policing</b>
<LI><b>Fire and emergency planning</b>
<LI><b>Economic development</b>
<LI><b>Planning</b>
<LI><b>Culture</b>
<LI><b>Environment</b>
<LI><b>Health</b>
</ul>

<? include "footer.php"; ?>
