<? $values['title'] = "Questions and Answers"; include "header.php"; ?>

<H3>WriteToThem.com - <?=$values['title']?></H3>
<P>
<SPAN CLASS="normal">
<UL>
<LI><A HREF="youandyourmp.php3">When Should I Contact My MP?</a> 
<LI><A HREF="feedback.php3">Does It Really Work? Some User Feedback...</A> 
<li><a href="/guidelines.php3">I'm planning a campaign that uses
FaxYourMP.com. Is there anything I should know in advance?</li>
</UL>
<UL>
<LI><A HREF="#how">How Do I Send A Fax?</A>
<LI><A HREF="#whynotemail">Why Can't I Just Email My Member of Parliament?</A>
<LI><A HREF="#address">Why do you want my address, name and email address?</A>
<LI><A HREF="#onlymp">Why can't I fax any MP I like?</A>
<LI><A HREF="#formletters">Why shouldn't I copy  and paste "form" letters?</A>
<LI><A HREF="#personal">What will you do with the very personal information I'm putting in to this 
site?</A>
<LI><A HREF="#whoareyou">Who are you and why are you doing this?</A>
<LI><A HREF="#makingmoney">So what's your angle - you must be hoping to make money on this?</A>
<LI><A HREF="#digitalsig">There's a statement about signatures at the bottom of my fax. What's that about?</A>
<LI><A HREF="#checkfax">Can I check the fax before I send it?</A>
<LI><A HREF="#howsitsent">How is it sent to MPs?</A>
<LI><A HREF="#guarantee">Can you guarantee my fax will be sent?</A>
<LI><A HREF="#responsiveness">So what does that weird "68% of faxes replied to within 14 days" mean?</A>
<LI><A HREF="#foolproof">Are these statistics foolproof?</A>
<LI><A HREF="#doityourself">I want to set up something similar to FaxYourMP in my country. How did you do it?</A>
<LI><A HREF="#wrong">What do I do if I think something went wrong, or if I see an error on the site?</A>
<LI><A HREF="link_to_us.php3">How Do I Link To This Website?</a>
</UL>
<P>
<A NAME="how"></A><B>How do I send a fax?</B><BR>
All you need is your postcode to start. Just go to the front page of the 
site, type it in and hit the "Go" button. Up will pop details of your
local MP, along with a simple form in which you can start writing straight away. Don't forget to 
fill in your Name, Address and Email - we can't send the fax without these.<P> 

Now you can get in touch with your MP direct. FaxYourMP.com saves 
you the trouble of writing and sending your letter through the traditional 
routes.  There's no cost to 
you  - bar the cost of you being online in the first place.<P>

Being part way through the process, you can choose to go offline if you 
like (keeping your browser windows open), to save yourself a bit of cash. 
Write the letter you wish to send in the word processing program you 
use every day, then when you are happy with it, dial in to your ISP again 
and just copy and paste your letter into the fax form. The form will also 
ask you for your full name, address and email address. These personal 
details are to verify who you are, and to allow your MP to get in touch 
with you direct.<P>

Next, press the "Preview" button to view your letter before sending it.
 Take a look to see if you have made your point or request as well as you
want to. If you are not happy, you can click on "Edit this message" to go
back to the original form, and change your letter. You can press on the "Start
Faxing" button to start the process of faxing your MP.<P> 

Before FaxYourMP.com sends the fax, there is a simple fourth step. We send 
you an email explaining that someone purporting to be you wants to send a 
fax to a named MP. <B>This email will also contain a copy of your letter</B>, for 
you to keep as a reference. If the email cannot be sent for whatever 
reason, the fax will not be sent. If the email goes unanswered, the fax 
will not be sent. For these reasons, make sure you type in your email 
address correctly on the form.<P>

Your MP will be faxed only after you have visited a web address 
(otherwise known as a "link" or "url") that we will send to you via email. No need to write anything on the
mail - just click on the link, or copy and paste it in to your browser window and that's it. Fax sent.<P>

If you would like a reply to your letter, don't forget to ask for one when 
composing your fax. It's up to the MP in question to get in touch with 
you.<P>

Two weeks after your fax has been sent, we will email you again asking if your MP has 
been in touch.  FaxYourMP.com cannot be held responsible for any 
Member of Parliament's failure get in touch, but we think it worthwhile
to track MPs' responsiveness. You never know, we might even get round to publishing
a league table of MPs' performance one day...
<P>
If, after two or three weeks you have heard nothing, then constituency surgeries or 
sending the same letter by traditional post may be a next step.<P>
You can write to your MP at the following address:
<P>
House of Commons<BR>
London<BR>
SW1A 0AA</P>

<A NAME="whynotemail"></A><P>

<A HREF="#top">top</A><P>

<B>Why Can't I Just Email My Member of Parliament? </B><BR>

Good question... Sadly, UK Members of Parliament are <A HREF="http://www.publications.parliament.uk/pa/cm200102/cmselect/cminform/1065/106505.htm#a9">not adopting
email</A> with anything like the enthusiasm of their constituents (not to
mention their colleagues in the US Congress, who all embrace email as a means 
of communicating with their voters.)
<P>
According to <A HREF="http://www.parliament.uk/commons/lib/alms.htm">Parliament's
own website</A> (warning: this page takes ages to load) more than two thirds of all MPs allow constituents to contact them
via email. Wonderful.<P>
<B>However,</B> it's very much in doubt whether your MP will treat communication they receive by email 
seriously. Many emails <A HREF="http://news.bbc.co.uk/1/hi/uk_politics/2143702.stm">never get answered</A>.<P>

Faxes from constituents, on the other hand, get treated with rather more respect. 
Hence this website.<P>

<B>However, however</B>, a noble handful of honourable members *do* use email to communicate
to their constituents, and in response to their promptings we have added
in a feature that will send them an email rather than a fax from the site. 
We don't publish their email address as part of this process, and we can't
send you a "Your MP has received your message" confirmation email in such cases. Sorry.

<P>
FaxYourMP.com would like to say again that while we are offering this site 
as a service to the public, we can't guarantee to anyone that your MP will 
view the fax you send, and we can't follow up any enquiries you make regarding
your 
communication from your MP.<BR>


<A NAME="address"></A><P>
<A HREF="#top">top</A><P>
<B>Why do you want my address, name and email address?</B><BR>
Firstly to enable your MP to get in touch with you, and to help the fax 
that is sent look more like a formal letter. Secondly, to enable us to send 
you a copy of the letter you want to be faxed, and thirdly, to enable you 
to confirm who you are. FaxYourMP.com is concerned that this service is 
used in a responsible way by everyone. Which is why we built it responsibly.<BR><A NAME="onlymp"></A><P>
<A HREF="#top">top</A><P>



<B>Why can't I fax any MP I like?</B><BR>
We believe MPs have a responsibility to listen and respond to the voters in
their constituency. And we think MPs might, albeit grudgingly, agree with us.
To work, FaxYourMP.com depends on that agreement.<P>

We don't let anyone, anywhere fax any MP. If we did that, professional
lobbyists would use us to blanket-fax every one of the MPs, in the same way as
marketeers junk-mail as many people as they can. Parliament's fax machines
would soon be melting from irrelevant fax spam. Eventually, MPs would ignore
<I>every</I> fax, and the constituents who we try to put in contact with the only
person who can help them would get lost in the noise.<A NAME="formletters"></A><P>
<A HREF="#top">top</A><P>
<B>Why shouldn't I copy  and paste "form" letters?</B><BR>
We know your issue is important to you, but we've spoken to MPs - and if you
are not a constituent, or you send a "copied and pasted" form letter, your fax will go straight
into the parliamentary bin.<P>

If you're a pressure group, please think about what you're doing. If you
encourage all your members to write to the same MP, you will not show that MP
the depth of support for your issue. You'll simply have used up a few sheets
of tax-funded fax paper, and irritated an underpaid secretary or researcher.  And if you
encourage them all to send the same rote letter, MPs will just assume you
have a nasty little man with a photocopier blasting them out from your office,
and ignore you even more than they did before.
<P>
Still not convinced? Here's a quote from a Parliamentary researcher, whose job is to make 
the MP he/she works for as accessible as possible (such people are the hidden gems of our 
democracy)<BR>
<BLOCKQUOTE>
<I>MPs rather 
naturally take a sudden influx of identical or similar messages with a large pinch of salt, since 
they know that what they are seeing is stuff from a minority of constituents who are either 
impassioned/neurotic about the topic concerned or who are easily gulled into agreeing with some 
plausible story and sending the message, since it takes minimum effort to do so.<P>
 Given a daily 
mailbag of (say) 50 individual messages from individual constituents, on a wide range of topics, 
when the mailbag suddenly rises to 100 a day, 50 of which are much the same as each other, the MP 
has no way at all of knowing whether the message concerned is representative of opinion in the 
constituency.<P>

 All he or she knows is that 50 constituents have been persuaded to mail them about 
'topic X'. Much more notice is taken of trends within the regular flow of messages from clearly 
identified constituents. If in a month 50 people write in different ways and through different 
routes with similar views on a subject, this is much more likely to raise the profile of the topic 
with the MP.
</I>
</BLOCKQUOTE>
So please don't copy and paste the same message as everyone else. And don't encourage others to 
do so. It's worse than useless. Ask 
people to write in their own words. If they care enough about your issue, they'll do so.<BR>

<A NAME="personal"></A><P>
<A HREF="#top">top</A><P>

<B>What will you do with the very personal information I'm putting in to this 
site?</B><BR>

&#149;&nbsp;We guarantee you we will not sell or distribute any information you give FaxYourMP.com<BR>
&#149;&nbsp;We guarantee you we will not keep permanent copies of the letters you write to fax 
to your MP <BR>
&#149;&nbsp;We store your name, email address and the name of your MP. We have had to do this in order to stop abuse of the service. We do not keep a copy of the body of your fax.<BR>
&#149;&nbsp;We will not use this data for any other purpose other than to minimise abuse of the service. <BR>
&#149;&nbsp;We will not be sending you unsolicited email.<BR>
&#149;&nbsp;We are registered with the <A HREF="http://www.dpr.gov.uk/search.html">Data Protection Register</A> in accordance with the Data Protection Act 1998. Our reference number is Z6500557. 

<BR><A NAME="whoareyou"></A><P>

<A HREF="#top">top</A><P>

<B>Who are you and why are you doing this?</B><BR>

We are a not-for-profit group of individuals who belong to no lobbying 
groups, no political parties and will happily declare any of our interests 
if asked. The driving reason for us to build this facility is so that 
people like you can make direct contact with the MP elected
to Parliament to represent the area in which you live.<P>

In order to sign the contracts to enable the service to be carried 
on various interactive TV platforms, we were obliged to form a 
UK limited company - FaxYourMP Ltd<P>

FaxYourMP Ltd owns and runs
this website and its <A HREF="onnet_index.php3">sister service</A> catering for
interactive TV users on a strictly not-for-profit basis. FaxYourMP Limited is Registered in England and Wales under
Company Number 4176048 (Directors: <A HREF="mailto:james@faxyourmp.com">James Cronin</A> and <A HREF="mailto:tom@faxyourmp.com">Tom Loosemore</A>). 
We're happy to divulge our accounts should anyone want to see them. 
Just email us at <A HREF="mailto:info@faxyourmp.com">info@faxyourmp.com</A><P>

Remember that it doesn't matter who you voted for personally, the MP who 
was elected for your constituency is duty bound 
to listen to your concerns. We think that is a very important 
thing, and we want to help to promote their ability to listen to you.
<BR>


<A NAME="makingmoney"></A><P>
<A HREF="#top">top</A><P>



<B>So what's your angle - you must be hoping to make money on this?</B><BR> 
Nope. Running a Website, contrary to what most highly-paid Net
 consultants will tell you, can come in very, very cheap. If you can get enough
 people to volunteer their time and expertise (there's a bunch of us -
 you can see the names by clicking <A HREF="about_us.php3#people">here</A>),
 you can create even quite complex Internet projects for almost no
 money.  A large proportion of how the Internet works is based on
 volunteer projects like ours.<P>

 Of course - it's a little more than just late nights after work. There
 are a couple of servers we use. Thanks to <A HREF="http://www.subatomic.com/">Stu Tily</A> and <A HREF="http://www.flirble.org/">The Flirble
 Organisation Ltd.</A> Bandwidth is kindly donated by <A HREF="http://www.easynet.net/">Easynet Group plc</A>. The postcode data was purchased 
 with a small monetary donation by a friend of the volunteers.  
 Finally the fax phone call charges were covered by 
 <A HREF="http://www.ivision.co.uk/">Internet Vision Ltd</A> while we started
 up and the fax engine is now run by <A HREF="http://www.unfortu.net/">James Cronin</A> from his spare room.
<P>


<A NAME="digitalsig"></A><P>
<A HREF="#top">top</A><P>

<B>There's a statement about signatures at the bottom of my fax. What's that about?</B><BR>

<P>Recently, a small group of MPs have started replying to constituents who
used FaxYourMP, saying that they could not possibly respond to unsigned faxes.
Because FaxYourMP messages weren't signed, the MPs couldn't be sure that they
were genuine. The constituents were asked to resubmit their request in       
handwritten form.</P>                       

<P>This was a bit confusing to us. In practical terms, a written signature
proves nothing: in order to check the veracity of the letter or signature,
you'd have to check it with the original author to get a confirmatory sample
of their signature - and if you were doing that, why didn't you just
<I>ask</I> them about the letter?  It made no sense.</P>

<P>Then we thought: aha, perhaps this is some <I>legal</I> requirement. We
understand that a lot of MPs are lawyers, so they're probably very good about
this kind of thing. Perhaps even better than they were at simply answering   
constituents' requests.</P>                                                  

<P>Well, fortunately, if it's legality they're worried about, we found a fix.
The Electronic Communications Act 2000, Subsection 7(3) states:</P>          

<BLOCKQUOTE>
7(3) For the purposes of this section an electronic
signature incorporated                             
into or associated with a particular electronic communication or particular
electronic data is certified by any person if that person (whether before or
after the making of the communication) has made a statement confirming that-

   (a) the signature,
   (b) a means of producing, communicating or verifying the signature, or
   (c) a procedure applied to the signature,                             
   is (either alone or in combination with other factors) a valid means of
establishing the authenticity of the communication or data, the integrity of
the communication or data, or both."                                        
</BLOCKQUOTE>                                                               

<P>The message at the bottom of your message is your statement to that effect.
For the purpose of sending a letter to your MP, your electronic signature is legally  
valid. You may point this out to your MP when they start replying to your     
faxes, telling you how they can't reply to your faxes, because they don't know
who you are.</P>                                                              

And what's the strange '0c0c38720cde084343' bit signify?

It's an MD5 hash of your e-mail address. Very impressive to overly legalistic
MPs. Highly technical.                                                  
<BR>




<A NAME="checkfax"></A><P>

<A HREF="#top">top</A><P>

<B>Can I check the fax before I send it?</B><BR>

Yes. There is every chance to take a second look and make sure you said what 
you wanted to say. Just click on "Preview" before you send the fax, and you 
can see the whole thing nicely formatted.<BR>
Check through it, and if you see 
anything you don't like, just click on<BR><B>"&lt;&lt;edit this message"</B>.<BR>
It will take you straight 
back to the form, where you will be able to delete or add anything you 
want. There is no limit to the amount of times you can preview and edit.<BR><A NAME="howsitsent"></A><P>

<A HREF="#top">top</A><P>

<B>How is it sent to MPs?</B><BR>

You may have heard of companies that allow you to send faxes via email. 
FaxYourMP.com works in a similar way. We have built a heavily customised "web to fax gateway". 
Not that that tells you much, but it does sound good. The process is entirely automatic, 
all the software we use is free, and we wrote the code ourselves in our spare time. 
<BR><A NAME="guarantee"></A><P>

<A HREF="#top">top</A><P>

<B>Can you guarantee my fax will be sent?</B><BR>
Sadly, no. We are missing fax numbers for about a dozen MPs, and the remainder are 
forever changing their fax numbers for good reasons. We do our best to keep the 
fax numbers up to date. Faxes can also fail to be sent due to mis-matches between 
fax machines (though this is rare) and sometimes MPs switch off their Westminster 
faxes during Parliamentary recesses and/or overnight. <P>
Where we  have the relevent number, we prefer to send faxes to MPs' constituency offices, rather than to their offices at
 Westminster.<BR>
 <A NAME="responsiveness"></A>
 <P>
 <A HREF="#top">top</A><P>
 
<B>So what does that weird "68% of faxes replied to within 14 days" mean?</B>
<P>

<B><FONT color=red>IMPORTANT CAVEAT: Some MPs may have been treated unfairly. Please read <A HREF=q_a.php3#foolproof>this</A> to understand why.</FONT></B>
<P>
Parliament is probably the only large taxpayer-funded organisation whose 
performance is not measured and published. We're trying to 
fix this curious anomaly.
<P>
The majority of MPs respond promptly and diligently to the needs and 
views of their constituents. They deserve credit and respect for 
their conscientiousness.
<P>
However, we're keen to expose the tiny minority of MPs who don't seem to give
a damn about this important part of their job.
<P>
Since April 2002 we've been emailing everyone who has sent a fax via the site
asking if their MP replied within two weeks. Over 8 out of 10 of you have been kind enough 
to respond. 

<P>

From this data we work out most MP's average "responsiveness". For each MP we also 
list the number of people who've contributed to the survey (the "sample size"). In the interests of fairness and giving a good indication to our users of the likelihood that they'll get a response from their MP, we only count faxes sent within the most recent 12 months when compiling our statistics.
<P>
The full statistics for April 2002 to October 2004 are available <A HREF="stats.php3">here</A>.
<BR>
 <A NAME="foolproof"></A>
 <P>
 <A HREF="#top">top</A><P>

<B>Are these statistics foolproof?</B>
<P>
Nope. They merely provide a broad indication of an individual MP's performance.
 
 <P>In a minority of cases we have been unfair 
 to otherwise conscientious MPs. 

<P>

Notably:
<UL>
<LI>When we're using a wrong or out of date fax number and so faxes are not reaching
the MP. Fortunately, this seems rare.
<LI>When the number of people who've responded is low (when sample size is under 20)
<LI>When it's the Prime Minister, since many irritating people find ways to
send faxes to him even though they're not Sedgefield constituents. 
</UL>

<P>

Why 14 days? Well, 10 working days is the target the Government tends to set for its Departments to respond to 
letters, faxes and emails from the public. 
<P>
Parliament does not apply any such standards to its Members correspondence with their constituents. 
Very quaint. We are continuing the survey.

<P> 
<A NAME="doityourself"></A><P>
<A HREF="#top">top</A><P>
<B>I have an idea for a service similar to FaxYourMP. How would I set it up? Can I use your software?</B><P>

This is not an idea we're averse to. We have no intellectual property
issues and will gladly Open Source the codebase if we ever have the time
to clean it up and document it. However, as we usually end up explaining,
the engine we've created is no special sauce. It's mostly glue code that
holds the essential components together. These components are all easily
obtainable, being mostly Open Source products such as Hylafax, Apache,
MySQL, PHP, perl, Exim, etc. The hardware consists of a couple of
servers, one with a modem which is plugged into a phone line.
<P>
It's not the code that's the problem. If it was, we'd have opened it up
long ago. The main barriers to cloning FaxYourMP are the ones that usually
affect volunteer-run projects: Money and Time.
<P>
It takes money to run the servers, pay for the fax line and calls as well
as purchase the postcode mapping data, which is copyrighted. The costs run
to several thousand pounds a year, which comes from the pockets of a few
generous individuals. 
<P>
As for time, we spend large amounts of it responding to email
queries, tweaking the code and database and responding to enquiries from
the media. The unavoidable fact is that most of the continual effort
required is non-automatable. Rapid response to problems is vital to ensure
we maintain quality of service (and don't become a nuisance to MPs).
<P>
If you have access to the technical ability to put together the kind of
setup discussed above, then writing your own code shouldn't be much of a
problem - if you do have trouble, we'll happily give you advice on the
fiddly bits.
<P>
If you're still convinced, please look around first to make sure that the
service isn't already available elsewhere. You'll save yourself time,
effort and money if you can direct people to an existing service.

 
 <A NAME="wrong"></A><P>
<P>
<A HREF="#top">top</A><P>
<B>What do I do if I think something went wrong, or if I see an error on the site?</B><P>

Then we really want to hear from you.<P>
Whilst we offer this service for 
free, we still want it to work. Don't hesitate to mail us at the following 
email address to let us know if anything strange happens (while you use the 
site, not in life generally), you see any error messages or simply if you 
want to get in touch with us for any reason.
<P> 
<A HREF="#top">top</A><P>

<? include "footer.php"; ?>
