<? $values['title'] = "British Overseas Territories and Crown Dependencies"; include "header.php"; ?>

<H3>WriteToThem.com - <?=$values['title']?></H3>

<P>
<SPAN CLASS="normal">
At the moment, <b>WriteToThem.com</b> can't directly get you in contact with
elected representatives outside the United Kingdom. But we can try to help you
get in touch by yourself:
</SPAN>
</P>

<H2><a name="falklands"></a>The Falkland Islands</H2>

<P>
<SPAN CLASS="normal">
Eight representatives are elected to the Legislative Council of the Falkland
Islands every four years, five from Stanley and three from the remainder of the
Islands. The Falkland Islands government's web site is at
<a href="http://www.falklands.gov.fk/">http://www.falklands.gov.fk/</a>;
there's a list of the current members of the Council
<a href="www.falklands.gov.fk/9cq.htm">here</a>.
We can't find an email address for contacting members of the Legislative
Council, but you could try sending a request to
<a href="mailto:admin@falklands.gov.fk">admin@falklands.gov.fk</a>.
</SPAN>
</P>

<H2><a name="southgeorgia"></a>South Georgia and the South Sandwich Islands</H2>

<P>
<SPAN CLASS="normal">
South Georgia and the South Sandwich Islands are governed by a Commissioner
(who is also Governor of the Falklands) from the Falkland Islands. There are
no elected representatives for the islands.
</SPAN>
</P>

<H2><a name="sthelena"></a>St Helena, Ascension Island, and Tristan da Cunha</H2>

<P>
<SPAN CLASS="normal">
The website of the government of St Helena is at,
<a href="http://www.sainthelena.gov.sh/">http://www.sainthelena.gov.sh/</a>.
Twelve members are elected to a Legislative Council every four years; there
is a list of the members of the Council
<a href="http://www.sainthelena.gov.sh/government/legislative.htm">here</a>
and the Clerk of the Councils can be contacted at
<a href="cofcouncils@sainthelena.gov.sh">cofcouncils@sainthelena.gov.sh</a>.
</SPAN>
</P>

<P>
<SPAN CLASS="normal">
Ascension Island presently has no democratic representatives. There is an
Administrator, and proposals to create an elected Islands Council. You can
read more at,
<a href="http://www.ascension-island.gov.ac/">http://www.ascension-island.gov.ac/</a>.
</SPAN>
</P>

<P>
<SPAN CLASS="normal">
Tristan da Cunha is governed by an Administrator, appointed by the Governor
of St Helena. The Administrator is advised by an Island Council of eight
elected members. We have no email contact details for the Island Council --
sorry. There is more information
<a href="http://website.lineone.net/~sthelena/tristaninfo.htm#Government">here</a>.
</SPAN>
</P>

<H2><a name="antarctic"></a>British Antarctic Territory</H2>

<P>
<SPAN CLASS="normal">
The British Antarctic Territory has no elected representatives. You can read
more at the website for the
<a href="http://www.antarctica.ac.uk/">British Antarctic Survey</a>.
</SPAN>
</P>

<h2><a name="isleofman"></a>Isle of Man</h2>

<p>
<span class="normal">
Twenty-four members are elected to the
<a href="http://www.tynwald.org.im/keys/">House of Keys</a>, the lower house of
the <a href="http://www.tynwald.org.im/">Tynwald</a>, the Parliament of the
Isle of Man. The current members of Keys are listed
<a href="http://www.tynwald.org.im/keys/members-of-keys.shtml">here</a>; the
constituencies from which the members are elected are listed
<a href="http://www.tynwald.org.im/keys/elections-to-the-house.shtml">here</a>.
</span>
</p>

<h2><a name="jersey"></a>Jersey</h2>

<p>
<span class="normal">
The Jersey legislature is the <a href="http://www.statesassembly.gov.je/">States Assembly</a>; you can see a list of its members with email addresses <a href="http://www.statesassembly.gov.je/members.asp">here</a>.
</span>
</p>

<h2><a name="guernsey"></a>Guernsey</h2>

<p>
<span class="normal">
The Guernsey legislature is the States of Deliberation; there
is a list of its members <a href="http://www.gov.gg/States_Members/section1.htm">here</a>.
</span>
</p>

<h2><a name="gibraltar"></a>Gibraltar</h2>

<p>
<span class="normal">
There are fifteen members of Gibraltar's legislature, the
<a href="http://www.gibraltar.gov.gi/parliament/parliament_index.htm">House of Assembly</a>, elected by popular vote. Details of the current members of the
House are at the bottom of <a href="http://www.gibraltar.gov.gi/parliament/house_of_assembly.htm">this page</a>; you can write to members at the address,
</span>
</p>

<blockquote>
House of Assembly<br>
156 Main Street<br>
Gibraltar
</blockquote>

<p>
<span class="normal">
or contact them by phone on +350 78420, or by fax to +350 42849.
</span>
</p>

</BODY>
</HTML>
<? include "footer.php"; ?>
