<? $values['title'] = "Tell Us What You Think"; include "header.php"; ?>

<H3>WriteToThem.com - <?=$values['title'] ?> </H3>
<SPAN CLASS="normal">
<UL>
<LI>Did it work? 
<LI>Do you like it?
<LI>How can we improve the service?
<LI>Do the colours clash? 
<LI>How many fibres are intertwined in a Shredded Wheat biscuit?
</UL>
We earnestly seek responses to all these questions.<P>
<B>Our email address is &nbsp;<A HREF="mailto:feedback@mysociety.org">feedback@mysociety.org</A></B>
<P>
<P CLASS="small">
If you are an elected representative and you are receiving abusive faxes via WriteToThem.com, 
please email us with details on abuse@mysociety.org.
If you do not have access to email, you may send a fax or leave a voicemail on 0703 1150115.

<? include "footer.php"; ?>
