<? $values['title'] = "Tell Us What You Think"; include "header.php"; ?>

<p><font color="#ff0000" size="-1"><strong>This is placeholder text.
</strong> The about and help pages are not finished yet.
</p>

<H3>WriteToThem.com - <?=$values['title'] ?> </H3>
<SPAN CLASS="normal">
<UL>
<LI>Did it work? 
<LI>Do you like it?
<LI>How can we improve the service?
<LI>Do the colours clash? 
<LI>How many fibres are intertwined in a Shredded Wheat biscuit?
</UL>
We earnestly seek responses to all these questions.<P>
<B>Our email address is &nbsp;<A HREF="mailto:info@faxyourmp.com">info@faxyourmp.com</A></B>
<P>
<P CLASS="small">
If you are an MP and you are receiving abusive faxes via FaxYourMP.com, 
please email us with details on abuse@faxyourmp.com.
If you do not have access to email, you may send a fax or leave a voicemail on 0703 1150115.

<? include "footer.php"; ?>
