<? 
$values['title'] = "We'll send your message now";
include "header.php"; 
?>

<h3>All done... We'll send your message now</h3>

<!--<p>Thank you. We will send your message to your representative right now.</p>

<ul>
<li>We'll email you to let you know when we have sent it.</li>
<li>We'll also email you in a fortnight's time asking if your
representative replied.  We want your feedback on the responsiveness of
individual representatives so as to keep our performance data up to
date. 
</li>
-->

<p>Your message has been sent to back to you, as if you were
your representative!  Please send us any <a
href="mailto:fyr@mysociety.org">thoughts, complains or comments</a>
about this testing service.

<p align=center><h3>Coming Soon - <a
href="http://www.mysociety.org/cgi-bin/moin.cgi/PledgeBank">PledgeBank</a></h3>

<p>Are you involved with a community group or charity? Do you wish you had
a powerful tool for encouraging people to act together? <a
href="http://www.mysociety.org/cgi-bin/moin.cgi/PledgeBank">PledgeBank</a>
will be a simple site where anyone can set up a pledge, thus:

<p><i>"I'll go to this meeting if 50 other local people do"</i>, or:

<p><i>"I'll start recycling if 10,000 other people in the UK pledge to"</i>.

<p>If that sounds like something you're interested in, please <a
href="mailto:fyr@mysociety.org">email us</a>, we're currently hunting for
people to use the service when it's hot off the presses.



</ul>

<? include "footer.php"; ?>
