<? $values['title'] = "Now Select The Representative You'd Like To Contact"; include "header.php"; ?>

<H3>WriteToThem.com - <?=$values['title'] ?> </H3>

<? if ($values['error']) { ?>
<p align=center><font color="#ff0000" size="-1">
<b><?=$values['error']?></b>
</font>
</p>
<? } ?>


<P align="left" style="align: left;">You have several democratic representatives at different levels of government. Please choose the most appropriate one to contact.</p>

<p align="left"><b>If you aren't sure who to contact, please read <a href="about-yourrep">this advice</a>.</b></p>

<table>
<?
foreach ($values['reps'] as $row) {
    list($left_column, $right_column) = $row;
?>
    <tr><td colspan="2" align="center" height="4" bgcolor="#cecece"></td></tr>
    <tr><td width="50%"><?=$left_column?></td><td valign="bottom"><?=$right_column?></td></tr> 
<?
}
?>
</table>

</form>

<? include "footer.php"; ?>
