<? 
$values['title'] = "We'll send your message now";
template_draw('header', $values);
?>

<h2>All done&hellip; We&rsquo;ll send your message now</h2>

<div id="confirm_message">
<p>If, for some reason, we couldn&rsquo;t send your message
to your representative, we will email you to tell you. Otherwise, you can sit
back and relax &mdash; your message is on its way.</p>
</div>

<h3>That was fun. How else can I help?</h3>

<ul>
<li>Join <a href="http://www.facebook.com/group.php?gid=50061011231">this Facebook group</a>.
<li>Blog about it (see <a href="http://www.mysociety.org/2009/01/17/6-days-to-stop-mps-concealing-their-expenses/">our blog post</a>), text, email, and instant message your friends to let them know that about this campaign.
<li>Call a local newspaper (<a href="http://news.mysociety.org/">find one here</a>).
<li>Go to any online community that you are part of that is not connected to
mySociety, and (politely) tell them why it matters. Could be fishing, knitting,
student groups, am dram, residents association, whatever. It's super important
to get the message into non-usual quarters.
<li>Keep checking the <a href="http://www.mysociety.org/blog/">mySociety blog</a> for updates.
</ul>

<? template_draw('footer', $values); ?>
