<? 
$values['title'] = "We'll send your message now";
template_draw('header', $values);
?>

<h2>All done&hellip; We&rsquo;ll send your message now</h2>

<div id="confirm_message">
<p>If, for some reason, we couldn&rsquo;t send your message
to your representative, we will email you to tell you. Otherwise, you can sit
back and relax &mdash; your message is on its way.</p>
</div>

<h2>What else can I do?</h2>

<ul>
<li><strong>Join</strong> <a href="http://www.facebook.com/group.php?gid=50061011231">this Facebook group</a>.
<li>Blog about it, call a local newspaper (<a href="http://news.mysociety.org/">find one</a>), text, email, and instant
message your friends to let them know that about this campaign.
</ul>

<? template_draw('footer', $values); ?>
