<div class="newsletter-wrapper">
    <img src="/static/img/wtt-contact-newsletter.png" alt="" loading="lazy">
    <form action="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511&amp;f_id=002244e1f0" method="post" class="footer__newsletter-form">
        <h3>Like what we do?</h3>
        <p>We&rsquo;re mySociety, working towards a better, more inclusive democracy — and we&rsquo;ve got lots more sites like this. Sign up for our emails and we&rsquo;ll tell you more.</p>
        <div class="row collapse">
            <div class="small-8 columns">
                <input type="email" name="EMAIL" placeholder="Your email address" required>
            </div>
            <div class="small-4 columns">
                <input type="submit" name="subscribe" class="button success prefix" value="Subscribe">
            </div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            <!-- Lets mailchimp know where the user came from -->
            <input type="hidden" name="SIGNSOURCE" value="wtt about-contact page">
            <!-- Adds the tag WTT-visitor -->
            <input type="hidden" name="tags" value="11866280">
            <input type="text" name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="">
        </div>
        <a href="https://www.mysociety.org/privacy#newsletter">Your data</a>
    </form>
</div>
