<? $values['title'] = "Improved response rate"; $values['nobox'] = true;
template_draw('header', $values); ?>

<p>mySociety is not awarding a ranking to Ian Liddell-Grainger MP because
he tried to improve his responsiveness statistics by sending himself
messages.</p>

<p>We could go into lots of detail about the automated detection
mechanisms we put in place once we spotted what was going on, but it
is easier simply to print his own admission (see the bit we've
highlighted below).</p>

<pre>
From: LIDDELL-GRAINGER, Ian
To: Tom Steinberg
Date: 16-Dec-2004 14:36
Subject: RE: Can we help?

Tom

We have over the past years replied to every Fax we have had.

Yet my figures are very low. It is being used by an opponent to damage
my standing.

I have had not other complaints in the Constituency.

It would be fine if I had not been replying. <strong><em>If it takes me to help
myself I am sure you understand why</em></strong>.

Ian
</pre>

<p>For context: 62 survey responses had said that they had
not heard back from him in the 2002-2004 period, against 57 positives.</p>

<? template_draw('footer', $values); ?>

