<?php

$values['title'] = "How to link to us";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>How to link to us</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<p>Wouldn't it be great if you could put a little box on your website which would let your users get in touch with their elected representatives. Well, you can!
</p>

<ul class="side-nav">
<li><a href="#envelope">Envelope style box</a></li>
<li><a href="#conventional">Conventional style box</a></li>
<li><a href="#types">Linking to specific types of representative</a></li>
<li><a href="#prefill">Prefilling name and address</a></li>
<li><a href="#plugins">Plugins for WordPress</a></li>
</ul>

<p>Before you do so, make sure you read the <a
href="about-guidelines">guidelines for campaigners</a>.  You must not tell your
users to send cut-and-paste messages &mdash; they are against our conditions of
use and we will block them.</p>

<? $signup_form_normal = <<<END
<!-- WriteToThem conventional box, start -->
<div style="padding:0; border:1px solid #999999; width:14em; margin: 0;
            background-color:#FFE88C; font: 83% Helvetica, Arial, sans-serif;">
    <form method="get" action="https://www.writetothem.com/" style="text-align:center">
        <div style="background-color:#D0BF69;padding:3px; color:#2B3260;">
                <strong>Contact Your Politician</strong>
        </div>
        <div style="margin:0.5em; color:#2B3260; background-color: #ffe88c;">
            <div style="margin-bottom:0.25em;">Enter your Postcode below:</div>
            <input type="text" name="pc" size="13">
            <input type="submit" value="Go">
        </div>
    </form>
</div>
<!-- WriteToThem conventional box, end-->
END;
?>

<? $signup_form_envelope = <<<END
<!-- WriteToThem envelope box, start -->
<script type="text/javascript">
    function clearDefault(el) {
      if (el.defaultValue==el.value) el.value = "";
    }
    function fillDefault(el) {
      if (el.value=="") el.value = "Your Postcode";
    }
</script>
<div style="width:167px;height:120px;
    background: url(https://www.writetothem.com/envelope_bg.gif) no-repeat 0 0;
    font:9pt/11pt arial,helvetica,sans-serif;position:relative;">
    <form method="get" action="https://www.writetothem.com/">
        <div style="padding:55px 0 0 20px;">
            <label for="pc" style="display:none;">
                Contact Your Politician
            </label>
            <input type="text" value="Your Postcode" name="pc" size="13"
                style="width:90px;vertical-align:bottom;
                    font:8pt/11pt arial,helvetica,sans-serif;color:#666;"
                onfocus="clearDefault(this)" onblur="fillDefault(this)" />
            <input type="image" value="Go" style="vertical-align:bottom;"
                src="https://www.writetothem.com/envelope_arrow.gif" />
        </div>
    </form>
    <a href="https://www.writetothem.com/" title="Visit writetothem.com"
    style="display:block;position:absolute;bottom:0;width:100%;overflow:hidden;
    text-indent:-1234em;height:30px;bottom:0;">writetothem.com</a>
</div>
<!-- WriteToThem envelope box, end-->
END;
?>

<h2 id="envelope">Envelope style box</h2>
<?=$signup_form_envelope ?>
<p>To add the postcode box to your site, copy the HTML code given below into your own webpage. </p>
<pre><code><?=htmlspecialchars($signup_form_envelope)?></code></pre>

<h2 id="conventional">Conventional style box</h2>
<?=$signup_form_normal ?>
<p>To add the postcode box to your site, copy the HTML code given below into your own webpage. </p>
<pre><code><?=htmlspecialchars($signup_form_normal)?></code></pre>


<p>Feel free to hack around with the design as much as you like. Any questions, just <a href="/about-contact">drop us a line</a>.</p>

<h2 id="types">Linking to specific types of representative</h2>

<p>You can also link to a specific type of representative.
For example, if people on your website are writing only to their MP, use an
address like this.</p>

<pre><code>https://www.writetothem.com/?a=westminstermp</code></pre>

<p>Or if you are using a form to link to us, add this code to your form. It
goes just after the postcode <code>&lt;input&gt;</code> field, and before the submit/go
button one.</p>

<pre><code>&lt;input type=&quot;hidden&quot; name=&quot;a&quot; value=&quot;westminstermp&quot;&gt;</code></pre>

<p>Possible values for "a" in both cases are:</p>
<ul>
<li><code>westminstermp</code> &mdash; just your MP</li>
<li><code>council</code> &mdash; all local government councillors (in some areas this will return
district and county councillors, in others unitary authority councillors)</li>
<li><code>regionalmp</code> &mdash; members of Scottish Parliament, Welsh Assembly, Northern Ireland Assembly, or London Assembly</li>
<li><code>mep</code> &mdash; your MEPs (Members of European Parliament)</li>
</ul>

<p>There are some more detailed three letter codes that you can use instead.
Put these in a list as the value of "a", separated by commas ",".
<ul>
<li>District type councils: <code>DIW</code> &ndash; district council, <code>LBO</code> &ndash; London Borough</li>
<li>Unitary type councils: <code>MTW</code> &ndash; metropolitan district, <code>UTW</code> and <code>UTE</code> &ndash; Unitary authority,
<code>LGE</code> &ndash; Local government district, <code>COP</code> &ndash; Council of the Isles (Scilly)</li>
<li>County councils: <code>CED</code></li>
<li>London Assembly: <code>LAC</code> &ndash; constituency members, <code>LAE</code> &ndash; list members</li>
<li>Welsh Assembly: <code>WAC</code> &ndash; constituency members, <code>WAE</code> &ndash; list members</li>
<li>Scottish Parliament: <code>SPC</code> &ndash; constituency members, <code>SPE</code> &ndash; list members</li>
<li>Northern Ireland Assembly: <code>NIE</code></li>
<li>House of Commons: <code>WMC</code></li>
<li>European Parliament: <code>EUR</code></li>
</ul>

<p>So, for example, this would only show representatives of district type
councils.  For people entering postcodes in unitary areas, it would say there
were no representatives of that type and offer to show them all their
representatives.

<pre><code>&lt;input type=&quot;hidden&quot; name=&quot;a&quot; value=&quot;DIW,LBO&quot;&gt;</code></pre>

<h2 id="prefill">Prefilling name and address</h2>

<p>If you already know the name, address or email of the person using your website,
you can send the values to WriteToThem. They will then be defaults for the letter.
The person writing the letter can check or alter them before sending.

<p>
<pre><code>&lt;input type=&quot;hidden&quot; name=&quot;writer_email&quot; value=&quot;name@email.address&quot;&gt;</code></pre>

<p>The fields available are:

<ul>
<li><code>writer_name</code></li>
<li><code>writer_address1</code></li>
<li><code>writer_address2</code></li>
<li><code>writer_town</code></li>
<li><code>writer_county</code></li>
<li><code>writer_email</code></li>
<li><code>writer_phone</code></li>
</ul>

<h2 id="plugins">Plugins for WordPress</h2>

<p>Philip John has made a
<a href="http://wordpress.org/extend/plugins/writetothem/">WordPress plugin
for WriteToThem</a>, that lets you easily add a WriteToThem form to your
WordPress site as a standard WordPress widget.

<p>There is also a much older <a href="/WriteToThem.com.zip">WordPress
plugin</a>, written by Richard Pope, that needs you to alter your PHP template.

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
