<? $values['title'] = "Emailing WriteToThem.com";
template_draw('header', $values); ?>

<h2>Emailing WriteToThem.com</h3>

<p>WriteToThem.com is an independent, <a href="about-us">charitable project</a> 
to help the public contact their elected representatives.</p>

<h3>Contact your Councillors, MP, MEPs, MSPs, or
NI, Welsh and London Assembly Members</h3>

<ul>
<li><a href="/">Click here</a> and enter your postcode.</li>
<li>Then click on the name of the representative you would like to contact.</li>
</ul>

<h3>Contact the WriteToThem website</h3>

<ul>
<li> Please <a href="/about-qa">read the questions and answers section</a> and other help in the
bar on the right first.
<li> What do you think of this website, the one that helps you write to your elected representatives.
<ul>
	<li>Did it work? 
	<li>Do you like it?
	<li>How can we improve the service?
	<li>Do the colours clash? 
	<li>How many fibres are intertwined in a Shredded Wheat biscuit?
</ul>
</li>

We earnestly seek responses to all these questions.
<strong>We're not your MP or councillor, see above for how to contact them</strong>.
Our email address is <a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a>,
or read <a href="/about-qa">frequently asked questions</a>.

</ul>

<div id ="sendmess">
<h3>Tell us what you think</h3>

<? fyr_display_emailform($values); ?>
</div>

<h3>If you are an elected representative</h3>

<p>If you are an elected representative and you are receiving abusive messages via WriteToThem.com, 
please email us with details on <a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a>.
If you do not have access to email, you may send a fax or leave a voicemail on 07031&nbsp;150&nbsp;115.
<span class="repwarning">Do not send messages to your representatives to this number; they will
not be delivered.</span>
</p>

<? template_draw('footer', $values); ?>
