<style type="text/css">
/* Will move to stylesheet when working vaguely */
#sidebar {
	float: right;
	width: 15em;
	padding: 2px;
	border: solid 1px #7bc618;
	background-color: #ccff99;
	margin: 0 0 1em 10px;
}
#sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#sidebar ul li {
	margin: 0 0 0.5em 0;
	padding: 0;
}
#sidebar ul ul {
	list-style-type: disc;
	margin: 0;
	padding: 0 0 0 1.5em;
}
#sidebar ul ul li {
	margin: 0;
	padding: 0;
}
</style>
<div id="sidebar">
<ul>
		<li>WriteToThem.com Help
	<ul>
		<li><a href="/about-qa">Questions and Answers</a></li>
		<li><a href="/about-yourrep">Who Should I Write To?</a></li>
		<li><a href="/about-elsewhere">British Overseas Territories</a></li>
		<li><a href="/about-feedback">Quotes from Satisfied Users</a></li>
	</ul>
	</li>
	<li>Running a Campaign
	<ul>
		<li><a href="/about-guidelines">Guidelines for Campaigning</a></li>
		<li><a href="/about-linktous">Link to Us</a></li>
	</ul>
	</li>
	<li>Who Runs WriteToThem.com?
	<ul>
		<li><a href="/about-us">About Us</a></li>
		<li><a href="/about-copyright">Copyright</a></li>
		<li><a href="/about-contact">Contact Us</a></li>
	</ul>
	</li>
</ul>
</div>
