<? $values['title'] = "Who are my Representatives?"; include "header.php"; ?>

<h2><?=$values['title'] ?> </h2>
<ul>
<li><a href="#services">Servicemen</a></li>
<li><a href="#expat">Ex-Patriots</a></li>
<li><a href="#crownserv">Crown Servants</a></li>
<li><a href="#loccon">Homeless or of No Fixed Abode</a></li>
<li><a href="#loccon">Remand Prisioners</a></li>
<li><a href="#loccon">Mental Hospital Patients</a></li>
</ul>

<p>This page has been produced with assistance and advice from the Electoral Commission, including their leaflet, <a href="http://www.electoralcommission.org.uk/templates/search/document.cfm/6132">Electoral Registration in Great Britain</a></p>

<p><a name="services"></a><b>Representation of Servicemen</b></p>
<p>As a serviceman, you are still entitled to representation as a <strong>Service Voter</strong>. If you've not already registered, you need to fill out the form from <a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=5">http://www.aboutmyvote.co.uk/vote/register/?defCountry=5</a> - a part of the Electoral Commission. You can use a UK address with which you are affiliated to. That will be your constituency.</p>

<p><a name="expat"></a><b>Representation to Ex-Patriots</b></p>
<p>Ex-Patriots need to have been registered to vote in the UK at some point within the last 15 years. You should use the address with which you are most familiar in the UK.</p>

<p><a name="crownserv"></a><b>Representation of Crown Servants</b></p>
<p>As a Crown Servant/British Council Employee, you are entitled to representation. If you've not already registered, you need to fill out the form from <a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=4">http://www.aboutmyvote.co.uk/vote/register/?defCountry=4</a> - a part of the Electoral Commission. You can use a UK address with which you are affiliated to. That will be your constituency.</p>

<p><a name="loccon"></a><b>Representation of the Homeless, those of No Fixed Abode, Remand Prisioners or Mental Hospital Patients</b></p>
<p>So long as you have an address at which you have spent "considerable time" for 3 months, you're eligible to register to vote: your local ward and constituency will come from the post-code of the address you are familiar with. The form for registering to vote is available from <a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=6">http://www.aboutmyvote.co.uk/vote/register/?defCountry=6</a></p>

<? include "footer.php"; ?>