<? $values['title'] = "Who are my Representatives?"; include "header.php"; ?>

<h2>Who are my Representatives?</h2>

<a name="top"></a>
<ul>
<li><a href="#services">Servicemen</a></li>
<li><a href="#expat">Expatriates</a></li>
<li><a href="#crownserv">Crown Servants</a></li>
<li><a href="#loccon">Homeless or of No Fixed Abode</a></li>
<li><a href="#loccon">Remand Prisoners</a></li>
<li><a href="#loccon">Mental Hospital Patients</a></li>
</ul>

<p>(This page has been produced with assistance and advice from the
<a href="http://www.electoralcommission.org.uk/">Electoral Commission</a>,
including from their leaflet,
<a href="http://www.electoralcommission.org.uk/templates/search/document.cfm/6132">Electoral Registration in Great Britain</a>, and their
<a href="http://www.aboutmyvote.co.uk/">aboutmyvote web site</a>. Please note
that in Northern Ireland electoral registration is the responsibility of the
<a href="http://www.electoralofficeni.gov.uk/">Electoral Office for Northern
Ireland</a> who can give more specific advice.)</p>

<dl>

<dt><a name="services"></a>Representation of Servicemen</dt>

<dd><p>As a serviceman, you are still entitled to representation as a
<strong>Service Voter</strong>. If you've not already registered, you need to
fill out an
<a href="http://www.aboutmyvote.co.uk/documents/?DocID=9">Electoral
registration form for members of Her Majesty's armed forces</a> from
the Electoral Commission; you can read
<a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=5">more
information about electoral registration for servicemen</a> on the
aboutmyvote.co.uk web site. You should give an address in Great Britain when
you register; you will be registered to vote in the constituency where that
address lies. But if you live in Northern Ireland (or would live there when not
abroad) you need
<a href="http://www.electoralofficeni.gov.uk/registration/index.asp">this
form, available from the Electoral Office for Northern Ireland</a>.</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="expat"></a>Representation of Expatriates</dt>

<dd><p>Expatriates may register to vote from abroad if they have been
registered to vote in the UK at some point within the last 15 years; or, if you
were not old enough to vote when you were in the UK, if your parent or guardian
was registered. Please read
<a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=3">this
information for overseas voters from aboutmyvote</a>.</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="crownserv"></a>Representation of Crown Servants</dt>

<dd><p>Crown Servants and employees of the British Council, and their spouses,
are entitled to representation. If you've not already registered, you need to
fill out the
<a href="http://www.aboutmyvote.co.uk/documents/?DocID=8">Electoral
registration form for Crown Servants and British Council employees</a>;
see <a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=4">this
information for Crown Servants and British Council employees from
aboutmyvote</a>.</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="loccon"></a>Representation of the Homeless, those of No Fixed
Abode, Remand Prisioners or Mental Hospital Patients</dt>

<dd><p>So long as you have an address at which you have spent "considerable
time" for 3 months, you're eligible to register at that address and to vote.
You will need to fill out a "Declaration of Local Connection", which you can
get from your local electoral registration office; there is
<a href="http://www.aboutmyvote.co.uk/vote/register/?defCountry=6">more
information about the Declaration on aboutmyvote</a>.</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

</dl>

<? include "footer.php"; ?>
