<? $values['title'] = "Who are you lot, and why are you doing this?"; include "header.php"; ?>

<h2><?=$values['title']?></h2>
<p>
<b>FaxYourMP.com</b> was built by a terrifyingly well-organised e-democracy strike force, whose members have years of lobbying experience fighting for justice in the corridors of Westminster. Their names are below.</p>

<p><b>mySociety</b> has grown out of this community, and builds internet
projects which have strong, real world benefits, and which do so at very
low cost per person served. In other words, the FaxYourMP ethic, writ
large.</p>

<p><b>WriteToThem.com</b> is the first of five projects we're building in 2004-5. You can read about the rest at <a href="http://www.mysociety.org">the mySociety web site</a>.

mySociety combines the work of some core developers, who are paid and keep working when everyone else gets bored, and volunteers.  The original FaxYourMP.com was built entirely in the team's spare time, because they thought it was worth doing. 
</p>
<p>
Most people don't know the name of their representatives, let alone all the different wards, districts and constituencies they live in.

We think it's important that constituents know the identity of their representatives
and be able to contact them when they feel the need.</p>

<p>Hence this website.</p>

<p><a name="people"></a>
<i>
Owen Blacker<BR>
James Cronin<BR>
Cait Hurley<BR>
Manar Hussain<BR>
Malcolm Hutty<BR>
Francis Irving<BR>
Chris Lightfoot<BR>
Tom Loosemore<BR>
Stefan Magdalinski<BR>
Adam McGreggor<BR>
Danny O'Brien<BR>
Alaric Snell<BR>
Matthew Somerville<br>
Tom Steinberg <BR>
Stuart Tily<BR>
Sam Urquhart<BR>
Matt Zandstra<BR>
</I>
</p>
<p>
<a href="mailto:help@writetothem.com">help@writetothem.com</a>
<p>P.S. Some of these people have recently helped to launch <a
href="http://www.theyworkforyou.com/">TheyWorkForYou.com</a> a new
website which lets you keep track of what your MP does and says in
Parliament.</p>

<? include "footer.php"; ?>
