<? $values['title'] = "Who are my Representatives?";
template_draw('header', $values); ?>

<h2>What postcode should I use?</h2>

<p>If you're not sure what postcode to use, or you don't know your
postcode, this page will help.

<a name="top"></a>
<ul>
<li><a href="#lookup">Look up my postcode from my address</a></li>
<li><a href="#services">Armed Forces</a></li>
<li><a href="#expat">Expatriates</a></li>
<li><a href="#bot">British Overseas Territories</a></li>
<li><a href="#crownserv">Crown Servants</a></li>
<li><a href="#loccon">Homeless or of No Fixed Abode</a></li>
<li><a href="#loccon">Remand Prisoners</a></li>
<li><a href="#loccon">Mental Hospital Patients</a></li>
</ul>

<dl>

<dt><a name="lookup"></a>Look up my postcode from my address</dt>

<dd><p>Try <a href="http://www.royalmail.com/portal/rm/postcodefinder">this Postcode Finder</a>
if you know your address but don't know your postcode.
</p>
</dd>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="services"></a>Armed Forces</dt>

<dd><p>As a serviceman, you are still entitled to representation as a
<strong>Service Voter</strong>.</p>

<p>If you've not already registered, you need to
fill out an
<a href="http://www.aboutmyvote.co.uk/documents/?DocID=9">Electoral
registration form for members of Her Majesty's armed forces</a> from
the Electoral Commission; you can read
<a href="http://www.aboutmyvote.co.uk/FAQ/ServiceVoters.cfm">more
information about electoral registration for servicemen</a>.  If you live in
Northern Ireland (or would live there when not abroad) you need
<a href="http://www.electoralofficeni.gov.uk/registration/index.asp">this
form, available from the Electoral Office for Northern Ireland</a>.
<p>You should give an address in the UK when you register; you will be
registered to vote in the constituency where that address lies.  Use
the postcode of that address to contact your representatives using
WriteToThem.
</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="expat"></a>Expatriates</dt>

<dd><p>Expatriates may register to vote from abroad if they have been
registered to vote in the UK at some point within the last 15 years; or, if you
were not old enough to vote when you were in the UK, if your parent or guardian
was registered. Please read
<a href="http://www.aboutmyvote.co.uk/FAQ/OverseasVoters.cfm">this
information for overseas voters</a>. Use the postcode of
the address that you (or your parent or guardian) were last resident
at in the UK when contacting your representatives using WriteToThem.
</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="bot"></a>British Overseas Territories</dt>

<dd><p>If you live in a British Overseas Territory or Crown Dependency, such
as the Falkland Islands or British Antarctic Territory, then 
<a href="about-elsewhere">read this page</a> to find out how to 
contact your representatives.</p>
</dd>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="crownserv"></a>Crown Servants</dt>

<dd><p>Crown Servants and employees of the British Council, and their spouses,
are entitled to representation. If you've not already registered, you need to
fill out the
<a href="http://www.aboutmyvote.co.uk/documents/?DocID=8">Electoral
registration form for Crown Servants and British Council employees</a>. 
Use the postcode of the address where you would be living if you were in the
UK, or your last registered address, when contacting your representatives
using WriteToThem.
</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="loccon"></a>Homeless, of No Fixed
Abode, Remand Prisioners, Mental Hospital Patients</dt>

<dd><p>So long as you have an address at which you have spent "considerable
time" for 3 months, you're eligible to register at that address and to vote.
You will need to fill out a "Declaration of Local Connection", which you can
get from your local electoral registration office; register to vote at
<a href="http://www.aboutmyvote.co.uk/Register/">aboutmyvote.co.uk</a> for more
information. Use the postcode of the address you gave when registering to vote
to contact your representative using WriteToThem.
</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

</dl>

<p>(This page has been produced with assistance and advice from the
<a href="http://www.electoralcommission.org.uk/">Electoral Commission</a>,
including their leaflet,
<a href="http://www.electoralcommission.org.uk/templates/search/document.cfm/6132">Electoral Registration in Great Britain</a>, and their
<a href="http://www.aboutmyvote.co.uk/">aboutmyvote web site</a>. Please note
that in Northern Ireland electoral registration is the responsibility of the
<a href="http://www.electoralofficeni.gov.uk/">Electoral Office for Northern
Ireland</a> who can give more specific advice.)</p>


<? template_draw('footer', $values); ?>
