<? $values['title'] = "Guidelines for campaigning"; include "header.php"; ?>

<h2>Guidelines for campaigning</h2>

<p>If you're encouraging people to use WriteToThem.com to talk to their representatives about
a particular issue, there are some particularly important points to keep in
mind. Note that most of these are essential, not just handy hints: wilfully 
ignoring them could be construed as an abuse of our service (and, in extreme
cases, would cause us to block messages from your particular campaign). Plus, 
the only effect it'll have on representatives is annoying them and that won't do your 
campaign any good.</p>

<ol>
<li><strong>Don't give people text to paste into their messages.</strong><br>
Spamming lots of representatives with near-identical messages is definitely bad behaviour
in our book. 
This is our most common reason for blocking a campaign. (<a href="/about-qa#formletters">More information</a>.) Instead, provide a short
list of points which people should address in their own words.</li>

<li><strong>Don't spam people either.</strong><br>
If you're gathering the troops by email, only gather those who have already
committed to your cause. In the past, we've seen people using professional
spammers (sorry, "email marketers") to get the word out. Once again, this kind
of practice is only going to irritate people. We don't want to
be associated with that kind of behaviour, thankyouverymuch.</li>

<li><strong>Don't supply people with a postcode to use.</strong><br>
People should be writing to their <em>own</em> representatives, not anyone else's. Otherwise
one poor representative will end up with a whole load of messages and the others, who may
have been able to help, will get none. <a href="/about-qa#onlyrep">More information</a>.</li>

<li><strong>If you're talking to a large audience, stress that only UK citizens
	should be using our service.</strong><br>
We've seen too many large campaigns that have inadvertently
encouraged non-UK-citizens to dig up a UK address to use as their own when
contacting a representative.</li>

<li><strong>If you're talking to a <em>very</em> large audience, please try to
	<a href="/about-contact">let us know</a> in advance.</strong><br>
Occasionally, WriteToThem.com has been mentioned in campaigns that have 
reached tens of thousands of people at once, and the first we've known about
it is the smell of our servers melting. Results: Broken site, broken
campaign. It's unfortunate that our facilities aren't anywhere near the
industrial strength that we'd like; however, if you <a 
href="/about-contact">give us a few days'
notice</a>, we may be able to temporarily bolster them for you.</li>

<li><strong>Be considerate.</strong><br>
By now, the common pattern to the above guidelines should be clear: If you
irritate representatives, users or us, you're not helping anyone. </li>

<li><strong>When linking to us</strong>, either link to our 
<a href="http://www.writetothem.com/">front page</a> or
use our <a href="/about-linktous">handy linking form</a>.
</li>

<li><strong>If in doubt, <a href="/about-contact">ask us first</a>.</strong></li>
</ol>

<? include "footer.php"; ?>
