<? $values['title'] = "Running a campaign";
template_draw('header', $values); ?>

<h2>Running a campaign</h2>

<p>We quite often get emails from campaign groups asking how they can use our site to mobilise support. Here&rsquo;s how.</p>
 
<p>Firstly, here are the ways that WriteToThem <i>can&rsquo;t</i> help:</p>
<ul> 
<li> WriteToThem is not a petitioning site. If you want to collect signatures on a petition and then send it to an MP, we suggest you use one of the many free online petition websites. (We might develop this service in future, but at the moment it&rsquo;s not available.)</li>

<li> WriteToThem does not give out MPs&rsquo; contact details, sorry. You can obtain direct email and postal addresses for most MPs from <a href="http://www.parliament.uk/">Parliament&rsquo;s website</a>.</li>
</ul>

<p>These may seem like silly rules, but they&rsquo;re there for a good reason. Communication with MPs is far more effective if it comes from their own constituents (rather than any Tom, Dick or Harry who wants to lobby them) and is a personal message in the sender&rsquo;s own words (rather than a copy-and-pasted identikit message). <a href="/about-guidelines">Read more about our guidelines here</a>.</p>

<p>With that said, we&rsquo;re more than happy to provide a free service for campaign groups to encourage people to write to their MP on a particular issue, and there are a number of ways that you can integrate the WriteToThem experience into your own website.</p>

<p>Here&rsquo;s how to simply <a href="/about-linktous">link to us</a>. Put this code onto your website, and visitors can enter their postcode in a box and be taken to WriteToThem to send a message to their MP.</p>

<p>For a more seamless experience you might want to [create your own branded webpage for the campaign|link to new page], and there&rsquo;s code available to help you do that. Don&rsquo;t be daunted &ndash; you don&rsquo;t need to be a programmer to install it, and there are easy step-by-step instructions.</p>

<? template_draw('footer', $values); ?>
