<?php

$values['title'] = "Copyright information";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>Copyright information</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<h3><a href="https://www.mysociety.org"><img src="/static/img/credits/ms.png" data-interchange="[/static/img/credits/ms@2x.png, (retina)]" alt="mySociety"></a></h3>

<p>This site was built by <a href="https://www.mysociety.org">mySociety</a>:
here’s <a href="about-us">information about us and why we run this site</a>.
</p>

<p> Most of the site is Copyright &copy; <a
href="https://www.mysociety.org/about/structure-and-governance/">UK Citizens
Online Democracy</a>, but <a
href="https://github.com/mysociety/writetothem">the source code is
available</a> under an open source license.</p>

<hr>

<ul class="small-block-grid-3 large-block-grid-3">
  <li><a href="http://www.goveval.com/"><img src="/static/img/credits/ge.png" alt="GovEval"></a></li>
  <li><a href="http://www.ordnancesurvey.co.uk"><img src="/static/img/credits/os.png" alt="Ordnance Survey"></a></li>
  <li><a href="http://www.locatoronline.co.uk/"><img src="/static/img/credits/lo.png" alt="Locator Online"></a></li>
</ul>

<p>Our database of local councillors is kindly supplied by <a
href="http://www.goveval.com/">GovEval</a>. Postcode lookup uses <a
href="https://mapit.mysociety.org/">MapIt</a>, our tool for doing that sort of
thing, and uses Ordnance Survey open data behind the scenes. Thanks to them
both!</p>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
