<? $values['title'] = "Tell us what you think";
template_draw('header', $values); ?>

<h2><?=$values['title'] ?></h2>

<div class="repwarning">
    <p>The email address on this page is for contacting the creators of this site, not your representatives.
    Please enter your postcode on the <a href="/">front page of the site</a> to do that.</p>
</div>

<ul>
	<li>Did it work? 
	<li>Do you like it?
	<li>How can we improve the service?
	<li>Do the colours clash? 
	<li>How many fibres are intertwined in a Shredded Wheat biscuit?
</ul>
<p><a href="about-us">We</a> earnestly seek responses to all these questions.</p>

<p id="contactemail">Our email address is <a href="mailto:team@writetothem.com">team@writetothem.com</a>.<br>
<strong>Do NOT send messages for MPs or councillors to this address!<br>
They will not get through!</strong> <a href="/">Instead, click here to go back to the front page to write a
message to your representatives</a></p>

<p>If you are an elected representative and you are receiving abusive messages via WriteToThem.com, 
please email us with details on <a href="mailto:team@writetothem.com">team@writetothem.com</a>.
If you do not have access to email, you may send a fax or leave a voicemail on 07031&nbsp;150&nbsp;115.
<span class="repwarning">Do not send messages to your representatives to this number; they will
not be delivered.</span>
</p>

<? template_draw('footer', $values); ?>
