<?php

$values['title'] = "British Overseas Territories and Crown Dependencies";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>British Overseas Territories and Crown Dependencies</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<p>
At the moment, <b>WriteToThem.com</b> only works for contacting UK representatives.</p>
<p>If you live in an Overseas Territory or Crown Dependency, we can, however, give you the following advice on how to contact your own representatives:
</p>

<ul class="side-nav">
<h3>Crown Dependencies</h3>
<li><a href="#isleofman">Isle of Man</a></li>
<li><a href="#channel">Channel islands</a></li>
<h3>British Overseas Territories</h3>
<li><a href="#anguilla">Anguilla</a></li>
<li><a href="#bermuda">Bermuda</a></li>
<li><a href="#antarctic">British Antarctic Territory</a></li>
<li><a href="#biot">British Indian Ocean Territory</a></li>
<li><a href="#virgin">British Virgin Islands</a></li>
<li><a href="#cayman">Cayman Islands</a></li>
<li><a href="#falklands">The Falkland Islands</a></li>
<li><a href="#gibraltar">Gibraltar</a></li>
<li><a href="#montserrat">Montserrat</a></li>
<li><a href="#pitcairn">Pitcairn Islands</a></li>
<li><a href="#sthelena">St Helena, Ascension Island, and Tristan da Cunha</a></li>
<li><a href="#southgeorgia">South Georgia and the South Sandwich islands</li>
<li><a href="#turksandcaicos">Turks and Caicos Islands</li>
</ul>


<h3>Crown Dependencies</h3>
<h4 id="isleofman"><a name="isleofman"></a>Isle of Man</h4>
<p>Twenty-four members are elected to the <a href="http://www.tynwald.org.im/about/hok/Pages/default.aspx"  target="_blank">House of Keys</a>, the lower house of the <a href="http://www.tynwald.org.im/"  target="_blank">Tynwald</a>, the Parliament of the Isle of Man. </p>
<p>You can find their
<a href="http://www.tynwald.org.im/memoff/member/Pages/default.aspx#HKMembers"  target="_blank">contact details here</a>.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="channel"><a name="channel"></a>Channel Islands</h4>
<p>
The <strong>Jersey</strong> legislature is the <a href="http://www.statesassembly.gov.je/"  target="_blank">States Assembly</a>; if you need to contact your representative, here is a <a title="Members of the Jersey legislature" href="http://www.statesassembly.gov.je/members.asp"  target="_blank">list of its members</a>, including email addresses.</p>
<p>The <strong>Guernsey</strong> legislature (which legally covers Alderney and Sark as the Bailiwick of Guernsey) is the States of Deliberation. Find its members, and their contact details, on a document which can be downloaded <a title="Members of the Guernsey legislature"
href="http://www.gov.gg/states_members"  target="_blank">here</a>.</p>

<p> <strong>Alderney</strong> is in many respects self-governing (apart from some issues such as policing, taxes, and social security) and has its own legislature; their members and contact details can be downloaded <a href="http://www.alderney.gov.gg/article/4077/States-Members"
title="Members of the Alderney legislature"  target="_blank">from this page</a>.</p>
<p>Similarly, <strong>Sark</strong> also has its own legislature, Chief Pleas; its members can be found <a href="http://www.gov.sark.gg/Conseillers.html" title="Members of the Sark legislature"  target="_blank">here</a>, along with email addresses.
</p>
<p class="toplink"><a href="#top">top</a></p>
<h3>British Overseas Territories</h3>

<h4 id="anguilla"><a name="anguilla"></a>Anguilla</h4>
<p>Anguilla has a House of Assembly with eleven members &ndash; seven elected for a five year term,
two ex officio members, and two nominated members.</p>
<p> The Government of Anguilla's website contains
<a href="http://www.gov.ai/department.php?id=4&dept=26"  target="_blank">contact details for the House of Assembly as a whole, and an email address for the Department Head</a> - this should probably be your first point of contact .</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="bermuda"><a name="bermuda"></a>Bermuda</h4>
<p>Bermuda's Parliament held its first session in 1620, and consists of two houses: the elected House of Assembly, and an appointed Senate.</p>
<p>Contact details are available on <a href="http://www.gov.bm/portal/server.pt?open=512&objID=897&&PageID=232433&mode=2"  target="_blank">the Government of Bermuda website</a>.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="antarctic"><a name="antarctic"></a>British Antarctic Territory</h4>
<p>
The British Antarctic Territory has no indigenous population, and therefore no elected representatives. It is administered by the Foreign and Commonwealth Office.</p>
<p> You can read more at the website for the
<a href="http://www.antarctica.ac.uk/about_antarctica/geopolitical/bat.php"  target="_blank">British Antarctic Survey</a>.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="biot"><a name="biot"></a>British Indian Ocean Territory</h4>
<p>The British Indian Ocean Territory has no native inhabitants: it is home only to those currently stationed at the <a href="http://www.cnic.navy.mil/regions/cnrj/installations/nsf_diego_garcia.html"  target="_blank">US Navy Support Facility at Diego Garcia</a>.
<p class="toplink"><a href="#top">top</a></p>
<h4 id="virgin"><a name="virgin"></a>British Virgin Islands</h4>
<p>The British Virgin Islands have a Legislative Council with fifteen members &ndash;
thirteen elected for a four year term, one ex-officio member and one speaker.</p>
<p>A list of cabinet members can be found <a href="http://www.bvi.gov.vg/cabinet-members" target="_blank">here</a>, along with contact details for their departments.
<p class="toplink"><a href="#top">top</a></p>

<h4 id="cayman"><a name="cayman"></a>Cayman Islands</h4>
<p>
Daily administration of the Islands is conducted by the Executive Council, five of
whose eight members are elected by the Assembly. Elections to the eighteen-seat Assembly
are usually every four years. </p>
<p>Members of the Assembly are listed <a href="http://www.legislativeassembly.ky/portal/page?_pageid=4242,7282274&_dad=portal&_schema=PORTAL"  target="_blank">on its website, although it appears that the only <a href="http://www.legislativeassembly.ky/portal/page?_pageid=4242,7282866&_dad=portal&_schema=PORTAL" target="_blank">contact address is a centralised one</a>.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="falklands"><a name="falklands"></a>The Falkland Islands</h4>
<p>
Eight representatives are elected to the Legislative Council of the Falkland Islands every four years, five from Stanley and three from the remainder of the Islands. </p>
<p>The Falkland Islands government's web site is at
<a href="http://www.falklands.gov.fk/"  target="_blank">http://www.falklands.gov.fk/</a>;
there's a <a href="http://www.falklands.gov.fk/self-governance/legislative/assembly-members/" title="Members of the Falklands Islands Council"  target="_blank">list of the current members of the Council</a>, with generic contact details at the foot of the page.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="gibraltar"><a name="gibraltar"></a>Gibraltar</h4>
<p>
There are fifteen members of Gibraltar's legislature, the
<a href="http://www.parliament.gi/"  target="_blank">House of Assembly</a>, elected by popular vote.</p>
<p>The Gibraltarian Parliament's site a list of the <a
href="http://www.parliament.gi/history/composition-of-parliament"
title="Members of the Gibraltarian Legislature"  target="_blank">current members of the
House</a> (at the bottom of the page). </p>
<p>You can write to members at this address:
<address>House of Assembly, 156 Main Street, Gibraltar</address> or contact
them by phone on +350 78420, or by fax to +350 42849.</p>

<p>For the purposes of the EU, Gibraltar is considered part of the UK's South West region, and so is represented by that region's seven MEPs.</p>
<p> Unfortunately you cannot contact them through WriteToThem yet, but here is a <a href="http://www.europarl.europa.eu/members/public/geoSearch/search.do?country=GB&zone=South+West&language=EN"  target="_blank">list of the South West UK MEPs</a>, including contact details.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="montserrat"><a name="montserrat"></a>Montserrat</h4>
<p>
Montserrat has a Legislative Council of nine members, elected for a five year term.</p>
<p>A Governor and an Executive Council (ExCo) are responsible for day-to-day administration.
Members of the ExCo are partly drawn from the members of the Legislative Council.</p>
<p>There is
<a href="http://www.gov.ms/govinfo/"  target="_blank">a little information on
the Montserrat government website</a>, but no contact details.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="pitcairn"><a name="pitcairn"></a>Pitcairn Islands</h4>
<p>The Pitcairn Islands have an Island Council made up of ten members, four of whom are elected directly and serve one-year terms.
</p>
<p>However, it does not have an online presence: perhaps with such a small population (a ten member Council represents about a fifth of all residents), one is not required.</p>
<p class="toplink"><a href="#top">top</a></p>
<h4 id="sthelena"><a name="sthelena"></a>St Helena, Ascension Island, and Tristan da Cunha</h4>
<p>
The website of the government of <strong>St Helena</strong> is at
<a href="http://www.sainthelena.gov.sh/"  target="_blank">http://www.sainthelena.gov.sh/</a>.</p>
<p>Twelve members are elected to a Legislative Council every four years; a <a href="http://www.sainthelena.gov.sh/your-council/" title="Members of the Saint Helena Council"  target="_blank">list of the members of the Council</a> includes contact details.
</p>

<p>
<strong>Ascension Island</strong> has <a href="http://www.ascension-island.gov.ac/island-council/" target="_blank">an elected Islands Council</a> who can be contacted via that page.
</p>

<p>
<strong>Tristan da Cunha</strong> is governed by an Administrator, appointed by the Governor
of St Helena. The Administrator is advised by an Island Council of eight
elected members, <a href="http://www.tristandc.com/council.php" target="_blank">listed here</a>. Some <a href="http://www.tristandc.com/links.php" target="_blank">general contact details can be found here</a>.
</p>
<p class="toplink"><a href="#top">top</a></p>

<h4 id="southgeorgia"><a name="southgeorgia"></a>South Georgia and the South Sandwich Islands</h4>

<p>
South Georgia and the South Sandwich Islands are governed from the Falkland Islands by a Commissioner (who is also Governor of the Falklands). </p>
<p>There are no elected representatives for the islands, as there are no permanent inhabitants.
</p>
<p class="toplink"><a href="#top">top</a></p>
<h4 id="turksandcaicos"><a name="turksandcaicos"></a>Turks and Caicos Islands</h4>
<p>
The <a href="http://www.gov.tc/" target="_blank">government website is here</a, but at the time of writing, the contacts page is 'under construction'. </p>
<p class="toplink"><a href="#top">top</a></p>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
