<? $values['title'] = "Who should I write to?";
    template_draw('header', $values); ?>

<h2><?=$values['title'] ?> </h2>
<UL>
<LI><A HREF="#mp">When should I contact my MP?</A>
<LI><A HREF="#councillor">When should I contact one of my councillors?</A>
<LI><A HREF="#mep">When should I contact an MEP?</A>
<LI><A HREF="#msp">When should I contact my MSP?</A>
<LI><A HREF="#welsh">When should I contact one of my Welsh Assembly Members?</A>
<LI><A HREF="#gla">When should I contact one of my Greater London Assembly Members?</A>

</UL>
<p><i>The MP section below is copied from the House Of Commons Information
Office Factsheet M1 
"<a href="http://www.parliament.uk/directories/hcio/you__and_your_mp.cfm">You and Your MP</a>"</i></p>

<A NAME="mp"></A>
<h3>When should I contact my MP?</h3>

<p>Many people think that their MP is there to solve all their problems for them;
unfortunately this is not the case. MPs can only help with those matters for
which Parliament or central government is responsible.</p>

<P><b>Your MP will be able to help you with such areas as:</b>
<UL>
<LI><b>Tax problems</b> involving the Inland Revenue and Customs 
and Excise Departments (but not such areas as the council tax, which is paid to your local authority).
<LI>Problems dealt with by the Department of Health such
as <b>hospitals and the National Health Service</b>, if you are in England or Wales. The Scottish
Parliament is responsible for health matters in Scotland.
<LI>Problems dealt with by the Department of Social Security such as <b>benefits, pensions and national 
insurance</b> (but not problems with the social services department of your local authority).
<LI>Problems dealt with by the Home Office such as <b>immigration</b>.
<LI>In England, matters such as <b>school closures and grants</b> which are
dealt with by the Department for Education and Employment (but not day to day
problems involving schools which are run by their governors and your local
education authority). In Scotland and Wales the devolved Parliament and
Assembly respectively are responsible for education matters.<A NAME="not"></A>
</UL>
<p>Your MP is <b>not</b> there to help you in private disputes with other <b>individuals</b> or with 
<b>companies</b> who have sold you faulty goods, nor, for example, to interfere with decisions 
made by <b>courts</b>.


<A NAME="councillor"></A>
<h3>When should I contact one of my councillors?</h3>

<p>Councillors have differing responsibilities depending on which council you
live in. Because of these variations we are only able to give you
'rule-of-thumb' guidance here.</p>

<p>Firstly, in England you may two levels of council: County and District, in
which case their responsibilities split up as follows:</p>

<ul>
<li><b>District Councillors:</b> If you have one or more District Councillor,
they tend to deal with issues around <b>council housing, planning, rubbish
collection, the local environment, and the administration of
elections.</b></li>
<li><b>County Councillors:</b> If you have one or more county councillors, they
tend to deal with <b>education, transport and roads, fire and social services
plus libraries</b>.</li>
</ul>

<p>Otherwise, you will have only one council, whose responsibilites differ
depending on exactly where you live. We describe these on the page which lists
your councillors.</p>

<p>Don't worry if you're not absolutely sure who to pick! Whoever you write to
will be able to forward your letter to the most appropriate person if you
haven't got it quite right.</p>

<A NAME="mep"></A>
<h3>When should I contact one of my MEPs?</h3>
<p>If you have a question about the European directives (laws), the European Parliament, Commission or Union, your MEPs may be able to help.


<A NAME="msp"></A>
<h3>When should I contact one of my MSP?</h3>

<P>According to the Scottish Parliament website, "MSPs deal with the issues for which the Scottish Parliament is responsible. These are called devolved matters. They include:
<ul>
<li>health
<li>education and training
<li>local government
<li>social work
<li>housing
<li>planning
<li>tourism, economic development and financial assistance to industry
<li>some aspects of transport, including the Scottish road network, bus policy and ports and harbours
<li>law and home affairs, including most aspects of criminal and civil law, the prosecution system and the courts
<li>Police and Fire services
<li>environment
<li>natural and built heritage
<li>agriculture, forestry and fishing
<li>sport and the arts
<li>statistics, public registers and records"
</ul>

<A NAME="welsh"></A>
<h3>When should I contact one of my Welsh Assembly Members?</h3>

<p>According to the Welsh Assembly website "Examples of the important decisions the Assembly can make include:

<ul>
<li>developing education, training and lifelong learning in Wales;
<li>developing and funding NHS services in Wales;
<li>administering European funds including the Objective One programme;
<li>administering funding for local authorities in Wales;
<li>developing housing policy, including tackling homelessness;
<li>sponsoring bodies that protect our environment and conserve wildlife and natural habitats;
<li>developing an integrated transport framework for Wales;
<li>promoting agricultural schemes and rural development;
<li>developing schemes to promote the culture and heritage of Wales;
<li>establishing schemes for sustainable development and equality of opportunity; and
<li>developing information and communication technology in Wales."
</ul>

<A NAME="gla"></A>
<h3>When should I contact one of my London Assembly Members?</h3>

<p>According to the official website, the "GLA's main areas of responsibility are:</p>

<ul>
<li>Transport
<li>Policing
<li>Fire and emergency planning
<li>Economic development
<li>Planning
<li>Culture
<li>Environment
<li>Health
</ul>

<? template_draw('footer', $values); ?>
