<? $values['title'] = "Who are you, and why are you doing this?";
    template_draw('header', $values); ?>

<h2><?=$values['title']?></h2>

<p>The predecessor to this site, <b>FaxYourMP.com</b>, was built by a
group of volunteers who thought that it would be a good thing if it were easier
for people to contact their MPs.</p>

<p><a href="http://www.mysociety.org/">mySociety</a> is a charitable
organisation which has grown out of this community of volunteers. mySociety's
primary mission is to build internet projects which give people simple,
tangible benefits in the civic and community aspects of their lives. Our first
project was to take FaxYourMP and rebuild it bigger and better. This is the
FaxYourMP ethic, and mySociety's job is to extend it via a series of new sites.
<a href="http://www.writetothem.com/">WriteToThem</a> was the first <a href="http://www.mysociety.org/moin.cgi/LaunchProjects">launch project</a> to be finished, in 2005</p>

<p><a href="http://www.mysociety.org/index.php?p=3">We have funding to do this</a> from the
<a href="http://www.odpm.gov.uk">Office of the Deputy Prime Minister</a>'s
e-innovations fund, in partnership with
<a href="http://www.westsussex.gov.uk">West Sussex County Council</a>. Many
thanks to them.</p>


<p style="text-align: center;"><a href="http://www.goveval.com/"><img
    src="images/ge.png" alt="GovEval" border="0"></a> &nbsp; &nbsp;
    <a href="http://www.easynet.net/publicsector/"><img
    src="images/easynet.gif" alt="Easynet" border="0"></a></p>

<p>
We've also received assistance from <a href="http://www.goveval.com/">GovEval</a>,
who have kindly made available their database of local councillors; and from
<a href="http://www.easynet.net/publicsector/">Easynet</a>, who host this and
other mySociety websites.
</p>

<p>Like all mySociety projects, <b>WriteToThem</b> combines the work of some
core developers, who are paid to keep working even when everyone else gets
bored, and volunteers. Here is a list of people who have helped build,
maintain and support FaxYourMP or WriteToThem:</p>

<ul>
<li>Owen Blacker</li>
<li>Mike Bracken</li>
<li>Matthew Brown</li>
<li>Frederick Brummer</li>
<li>James Cronin</li>
<li>Louise Crow</li>
<li>Richard George</li>
<li>Jonathan Hogg</li>
<li>Cait Hurley</li>
<li>Manar Hussain</li>
<li>Malcolm Hutty</li>
<li>Francis Irving</li>
<li>Chris Lightfoot</li>
<li>Tom Loosemore</li>
<li>Stefan Magdalinski</li>
<li>Adam McGreggor</li>
<li>Craig Nicol</li>
<li>Danny O'Brien</li>
<li>Anna Powell Smith</li>
<li>Sam Smith</li>
<li>Alaric Snell</li>
<li>Matthew Somerville</li>
<li>Tom Steinberg</li>
<li>Stuart Tily</li>
<li>Sam Urquhart</li>
<li>Matt Zandstra</li>
</ul>

<p><a href="/about-contact">How to contact us</a></p>

<p>P.S. Some of these people helped to launch
<a href="http://www.theyworkforyou.com/">TheyWorkForYou.com</a>, a website
which lets you keep track of what your MP does and says in Parliament.</p>

<? template_draw('footer', $values); ?>
