<? $values['title'] = 'PledgeBank'; $values['nobox'] = 1; include 'header.php'; ?>
<h2>PledgeBank</h2>

<p>PledgeBank is a web site to help get people past the barrier of not wanting to act alone. We all know that people hate thinking that they might be the only person to turn up to an event, or the only person who volunteers to help with a cause. PledgeBank is about overcoming this common fear.</p>

<p>For an example of how PledgeBank will work, imagine the following:</p>

<p>Your child comes home from school with a small flyer given to them by their teacher. It reads:</p>

<blockquote>"I will help organise the school summer fair, but ONLY IF 10 parents will help too. Go to www.pledgebank.com/school if you would like to make the same pledge I have."</blockquote>

<p>When the parent types the address into their web browser, they are taken to a page where within 10 seconds they can put their name to the pledge.</p>

<p>What happens next depends on the parents. Imagine that 12 parents sign up. In this case all signatories are sent an email congratulating them, asking them to fulfil their pledge, and offering them a simple way of discussing the plan. And if fewer than 10 people sign up, everyone is emailed and told "Better luck next time".</p>

<p>PledgeBank is <strong>extremely flexible</strong>, and will be usable for any number of people, any size of area, and any type of cause.</p>

<p>There are numerous extra features we are planning which will encourage use by charities, community groups &amp; other organisations. These include the ability to <strong>create printout flyers</strong> for your pledge in a single click - no desktop-publishing skills required. The ability to sign up to pledges via <strong><acronym title="Short Message Service, text message">SMS</acronym></strong> is also planned.</p>

<p>We've already had organisations say that they'd use the service to get people to pledge to take newspapers off trains to recycle, or to try vegetarianism for a month, or to write letters to a company, but Only If a number of other people offer to do the same.</p>

<p>Our plan is to launch in the next few weeks. We are working hard to put in place a whole week of launch announcements, so that different organisations of different sizes and sectors reinforce each other's marketing by working in a coordinated fashion. Thereafter the service will continue be available for free at PledgeBank.com.</p>

<p>We are actively seeking launch partners right now, so if your organisation would be interested in making use of this from the word go, or later in the year, <strong>please get in touch.</strong></p>

<p>If you've any questions, or if you'd like to be involved with the launch, please email Tom at <a href="pb@mysociety.org">pb@mysociety.org</a>.</p>

<? include 'footer.php'; ?>
