<? $values['title'] = "Copyright information";
template_draw('header', $values); ?>

<h2>Copyright information</h2>

<h3><a href="http://www.mysociety.org"><img src="images/mysociety_sm.gif"
alt="mySociety" border="0"></a></h3>

<p>This site is built by mySociety.  You can read more <a
href="about-us">about us and why we do this</a>.  Most of the site is Copyright &copy; 2006
UK Citizens Online Democracy.  <a
href="https://secure.mysociety.org/cvstrac/dir?d=mysociety">The source
code is available</a> under an open source license.  We want you to use
it, tinker with it, have fun with it.</p>

<h3><a href="http://www.goveval.com/"><img src="images/ge.png"
alt="GovEval" border="0"></a> &nbsp; &nbsp; <a
href="http://www.ordnancesurvey.co.uk"><img src="images/os.png"
alt="Ordnance Survey" border="0"></a></h3>

<p>Our database of local councillors is kindly supplied by <a
href="http://www.goveval.com/">GovEval</a>.  Postcode lookup is done
using <a href="http://www.ordnancesurvey.co.uk/">Ordnance Survey</a>
data under licence.  Every thanks to them both!


<? template_draw('footer', $values); ?>
