<? $values['title'] = "House of Lords"; template_draw('header', $values);
?> <h2><?=$values['title']?></h2>

<dl>

<dt>What on earth is a Lord?</dt>

<dd> <p>The UK Parliament is divided into two.  On one side is the House
of Commons where your MP sits; on the other is the House of Lords. Proposed new
laws have to be considered by both Houses. Lords become
members by a complex mixture of appointment, religion,
hereditary entitlement, and self-election 
(<a href="http://www.parliament.uk/documents/upload/HofLBpmembership.pdf">details</a>).  
</p>

<dt>Can I write to my Lord?</dt>

<dd>
<p>Yes. WriteToThem has a <a href="/lords">Write to Your Lord</a> section.</p>
</dd>

<dt>Why write to your Lord?</dt>

<dd><p>Well, they may not be elected, but they still get to vote on and
amend all sorts of bills that affect us all every day when they become law.
By writing to a Lord you might be able to tell them about something you think they
should care about, provide information to someone who you support, or
provide counter evidence to someone you disagree with.</p></dd>

<dt>Which Lord should I write to?</dt>

<dd>
<p>Think about an issue you care about. Then enter it into the box as a
word or a phrase. We'll show you a list of the Lords who speak most on
that issue.</p>
<p>Don't just pick the top Lord: read a bit about what they've said. If
they're a minister they'll probably be very hard to persuade, so you
probably want to pick someone who's not working directly for the
Government.</p>
<p>Or, if you just want to tell a Lord about an issue that they don't
know about, press the Random Lord button.</p>
</dd>

<dt><a name="ukpostcode">Why do I need a UK postcode to write to a Lord?</a></dt>

<dd>
<p>Lords sit in the UK Parliament. Amongst other things, they vote on the
passing of UK law. Just as we don't let people contact <a
href="about-qa#onlyrep">MPs other than their own</a>, we don't let people
from outside the UK contact Lords.  Please use the same postcode that you would
use to contact your MP.  See <a href="/about-constituency">"What postcode
should I use?"</a> if you're not sure what postcode to use, for example if you
are in the Armed Services.</p>
</dd>

<dt>How does it work? Do you have all the Lords email addresses?</dt>

<dd><p>Not yet! Currently, we are just using the House of Lords fax 
facility as the majority of peers don't have offices.</p>
<p>If you are a peer yourself, and would prefer to receive messages directly, 
please email us at <a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a>.</p></dd>

<dt>How many Lords can I write to?</dt>

<dd><p>Quite a few, but don't try and write to loads. You see, they've only got
this one fax machine, and we don't want to overwhelm it.</p></dd>

<dt>I'm responsible for the House of Lords fax machine. Can we talk?</dt>

<dd><p>Certainly &mdash; drop us an email to <a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a>.</p></dd>

<dt>Why should a Lord bother replying to my message?</dt>

<dd><p>Because we believe that most politicians are actually decent people
trying to do their best. But if relying on people to do the decent
thing doesn't work, there are always <a
href="http://www.writetothem.com/stats/2005/mps">other forms of
encouragement</a>.</p></dd>

<dt>What, do you mean you're going to publish league tables of Lords'
responsiveness?</dt>

<dd><p>As standard, we gather data on the responsiveness of all
representatives contacted via our service. We'll be doing the same for
Lords.</p></dd>

<dt>Do you have a Lords reform agenda? What do you think about an elected reform?</dt>

<dd><p>Hah! Like we've got time to think about things like that with
<a href="http://www.writetothem.com/">all</a>
<a href="http://www.hearfromyourmp.com/">these</a>
<a href="http://www.publicwhip.org.uk/">pesky</a>
<a href="http://www.theyworkforyou.com/">democratic</a>
websites to run.</p></dd>

<dt><a name="when"></a>
When should I write to a Lord, instead of, say, my MP?</dt>

<dd><p>There are various reasons you might want to write to a Lord. They
may be passionately involved with an issue you care about, or you
might disagree with them on an issue that they speak about publicly.
Often you might find that a Bill containing something you care about
has been passed from the Commons to the Lords for debate, amendment or
approval. Or, of course, you might just want to ask them what they do,
or what they think about something. Whatever: they're <em>your</em> Lords.</p></dd>

<dt>This is ace &mdash; how can I help you guys?</dt>

<dd><p>Easy &mdash; <a href="http://www.mysociety.org/volunteertasks">become a
volunteer</a>!</p></dd>

</dl>

<? template_draw('footer', $values); ?>
