<? $values['title'] = "Who should I write to?";
    template_draw('header', $values); ?>

<h2><?=$values['title'] ?></h2>

<UL>
<LI><A HREF="#mp">When should I contact my MP?</A>
<LI><A HREF="#councillor">When should I contact one of my councillors?</A>
<LI><A HREF="#mep">When should I contact an MEP?</A>
<LI><A HREF="#msp">When should I contact my MSP?</A>
<LI><A HREF="#welsh">When should I contact one of my Welsh Assembly Members?</A>
<LI><A HREF="#gla">When should I contact one of my Greater London Assembly Members?</A>

</UL>

<A NAME="mp"></A>
<? include('yourrep/mp.html') ?>

<A NAME="councillor"></A>
<h3>When should I contact one of my councillors?</h3>

<p>Councillors have differing responsibilities depending on which council you
live in. Because of these variations we are only able to give you
'rule-of-thumb' guidance here.</p>

<p>Firstly, in England you may have two levels of council: County and District, in
which case their responsibilities split up as follows:</p>

<ul>
<li><strong>District Councillors:</strong> If you have one or more District Councillor,
they tend to deal with issues around <strong>council housing, planning, rubbish
collection, the local environment, and the administration of
elections.</strong></li>
<li><strong>County Councillors:</strong> If you have one or more county councillors, they
tend to deal with <strong>education, transport and roads, fire and social services
plus libraries</strong>.</li>
</ul>

<p>Otherwise, you will have only one council, whose responsibilities differ
depending on exactly where you live. We describe these on the page which lists
your councillors.</p>

<p>Don't worry if you're not absolutely sure who to pick! Whoever you write to
will be able to forward your letter to the most appropriate person if you
haven't got it quite right.</p>

<A NAME="mep"></A>
<h3>When should I contact one of my MEPs?</h3>
<p>If you have a question about proposed European directives (laws), the
European Parliament, Commission or Union, your MEPs may be able to help.
Once passed, EU laws become the responsibility of national governments and
parliaments to implement, so you may wish to contact your MP about them in
that case.</p>

<p>In addition, and for all EU matters, the European Commission and Parliament
also have specific Information Offices within the UK &ndash;
<a href="http://www.europarl.org.uk/">www.europarl.org.uk</a> and
<a href="http://ec.europa.eu/unitedkingdom">ec.europa.eu/unitedkingdom</a>.

<p>Note that MEPs cannot help raise an issue with the European Court of Human Rights.
The Convention is incorporated into UK law, so any challenge must start in the UK legal
system.</p>

<A NAME="msp"></A>
<? include('yourrep/msp.html') ?>

<A NAME="welsh"></A>
<? include('yourrep/am.html') ?>

<A NAME="gla"></A>
<? include('yourrep/lam.html') ?>

<? template_draw('footer', $values); ?>
