<? $values['title'] = "How to link to us"; include "header.php"; ?>

<h2><?=$values['title']?></h2>
<p>Wouldn't it be great if you could put a little box on your website which would let your users get in touch with their elected representatives. Well, you can!
</p>

<form method="get" action="http://www.writetothem.com/">
<table border="0" bgcolor="#cccc99">
<tr>
<td><b> <a href="http://www.writetothem.com/">Your Politicians</a></b><br>
<input name="pc" type="text" size="13" value="Your Postcode">
<input type="submit" value="go">
</td>
</tr>
</table>
</form>

<p>Before you do so, make sure you read the <a href="about-guidelines">guidelines
for campaigners</a>.  You must not tell your users to send cut-and-paste messages &mdash; they are against our conditions of use and we will block them.</p>

<p>To add the postcode box to your site, copy the HTML code given below into your own webpage. </p>

<pre style="clear: both; border: solid 1px #006666; padding: 1px;">&lt;form method=&quot;get&quot; action=&quot;http://www.writetothem.com/&quot;&gt;
&lt;table border=&quot;0&quot; bgcolor=&quot;#cccc99&quot;&gt;
&lt;tr&gt;
&lt;td&gt;&lt;b&gt;&lt;a href=&quot;http://www.writetothem.com/&quot;&gt;Your Politicians&lt;/a&gt;&lt;/b&gt;
&lt;br&gt;&lt;input name=&quot;pc&quot; type=&quot;text&quot; size=&quot;13&quot; value=&quot;Your Postcode&quot;&gt;
&lt;input type=&quot;submit&quot; value=&quot;Go&quot;&gt;
&lt;/td&gt;
&lt;/tr&gt;
&lt;/table&gt;
&lt;/form&gt;</pre>

<p>Feel free to hack around with the design as much as you like. Any questions, just drop us a line at <a href="mailto:team@writetothem.com">team@writetothem.com</a>.</p>

<? include "footer.php"; ?>
