<? $values['title'] = "British Overseas Territories and Crown Dependencies";
    template_draw('header', $values); ?>

<h2><?=$values['title']?></h2>

<p>
At the moment, <b>WriteToThem.com</b> can't directly get you in contact with
elected representatives outside the United Kingdom. But we can try to help you
get in touch by yourself:
</p>

<h3><a name="falklands"></a>The Falkland Islands</h3>

<P>
Eight representatives are elected to the Legislative Council of the Falkland
Islands every four years, five from Stanley and three from the remainder of the
Islands. The Falkland Islands government's web site is at
<a href="http://www.falklands.gov.fk/">http://www.falklands.gov.fk/</a>;
there's a <a href="http://www.falklands.gov.fk/9cq.htm" title="Members of the Falklands Islands Council">list of the current members of the Council</a>.
We can't find an email address for contacting members of the Legislative
Council, but you could try sending a request to
<a href="mailto:admin@falklands.gov.fk">admin@falklands.gov.fk</a>.
</P>

<h3><a name="southgeorgia"></a>South Georgia and the South Sandwich Islands</h3>

<P>
South Georgia and the South Sandwich Islands are governed by a Commissioner
(who is also Governor of the Falklands) from the Falkland Islands. There are
no elected representatives for the islands.
</P>

<h3><a name="sthelena"></a>St Helena, Ascension Island, and Tristan da Cunha</h3>

<P>
The website of the government of St Helena is at
<a href="http://www.sainthelena.gov.sh/">http://www.sainthelena.gov.sh/</a>.
Twelve members are elected to a Legislative Council every four years; there
is a <a href="http://www.sainthelena.gov.sh/government/legislative.htm" title="Members of the Saint Helena Council">list of the members of the Council</a>
and the Clerk of the Councils can be contacted at
<a href="mailto:cofcouncils@sainthelena.gov.sh">cofcouncils@sainthelena.gov.sh</a>.
</P>

<P>
Ascension Island presently has no democratic representatives. There is an
Administrator, and proposals to create an elected Islands Council. You can
read more at
<a href="http://www.ascension-island.gov.ac/">http://www.ascension-island.gov.ac/</a>.
</P>

<P>
Tristan da Cunha is governed by an Administrator, appointed by the Governor
of St Helena. The Administrator is advised by an Island Council of eight
elected members. We have no email contact details for the Island Council --
sorry. <a href="http://website.lineone.net/~sthelena/tristaninfo.htm#Government">More information about the Tristan da Cunha Island Council</a>.
</P>

<h3><a name="antarctic"></a>British Antarctic Territory</h3>

<P>
The British Antarctic Territory has no elected representatives. You can read
more at the website for the
<a href="http://www.antarctica.ac.uk/">British Antarctic Survey</a>.
</P>

<h3><a name="isleofman"></a>Isle of Man</h3>

<p>
Twenty-four members are elected to the
<a href="http://www.tynwald.org.im/keys/">House of Keys</a>, the lower house of
the <a href="http://www.tynwald.org.im/">Tynwald</a>, the Parliament of the
Isle of Man. The
<a href="http://www.tynwald.org.im/keys/members-of-keys.shtml">current members of Keys</a>; the
<a href="http://www.tynwald.org.im/keys/elections-to-the-house.shtml">constituencies from which the members are elected</a>.
</p>

<h3><a name="jersey"></a>Jersey</h3>

<p>
The Jersey legislature is the <a href="http://www.statesassembly.gov.je/">States Assembly</a>; you can see a <a title="Members of the Jersey legislature" href="http://www.statesassembly.gov.je/members.asp">list of its members</a> with email addresses.
</p>

<h3><a name="guernsey"></a>Guernsey</h3>

<p>
The Guernsey legislature is the States of Deliberation; there
is a <a title="Members of the Guernsey legislature" href="http://www.gov.gg/States_Members/section1.htm">list of its members</a>.
</p>


<h3><a name="gibraltar"></a>Gibraltar</h3>

<p>
There are fifteen members of Gibraltar's legislature, the
<a href="http://www.gibraltar.gov.gi/parliament/parliament_index.htm">House of Assembly</a>, elected by popular vote.
The Gibraltarian Parliament's site includes details of the <a href="http://www.gibraltar.gov.gi/parliament/house_of_assembly.htm" title="Members of the Gibraltarian Legislature">current members of the House</a> (at the bottom of the page); you can write to members at the address,
</p>

<address>House of Assembly, 156 Main Street, Gibraltar</address>

<p>or contact them by phone on +350 78420, or by fax to +350 42849.</p>

<p>For the purposes of the EU, Gibraltar is considered part of the
UK's South West region and so is represented by that region's
7 MEPs. Unfortunately you cannot contact them through this site
yet, but here is a <a href="http://www.europarl.europa.eu/members/public/geoSearch/search.do?country=GB&zone=South+West&language=EN">list of the South West UK MEPs</a>, including contact details.
</p>

<h3><a name="turksandcaicos"></a>Turks and Caicos Islands</h3>

<p>
The Turks and Caicos Islands are a British Overseas Territory, with a Governor.
The head of government is the Chief Minister. The Executive Council (their
Cabinet) consists of three ex officio members and five appointed by the
governor from among the members of the Legislative Council (parliament). The
Legislative Council consists of 19 seats, of which 13 are popularly elected.
There are contact details for the Ministers
<a href="http://www.turksandcaicosislands.gov.tc/">on the Government's web site</a>.
</p>

<h3><a name="cayman"></a>Cayman Islands</h3>

<p>
The Cayman Islands are a British Overseas Territory, with a Governor. Daily
administration of the Islands is conducted by the Executive Council, 5 of
whose 8 members are elected by the Assembly. Elections to the 18-seat Assembly
are usually every four years. Contact details for most members of the Assembly
are given <a href="http://www.gov.ky/">on the website of the Government of the
Cayman Islands</a> (follow the link for "Legislature (MLAs)" on the left).
</p>

<h3><a name="montserrat"></a>Montserrat</h3>

<p>
Montserrat is a British Overseas Territory, with a Governor and an Executive
Council (ExCo) responsible for day-to-day administration. Members of the ExCo
are partly drawn from the members of the elected Legislative Council. There is
<a href="http://www.gov.ms/index/exco.htm">information about ExCo members on
the Montserrat government website</a>, but no details for members of the
Legislative Council.
</p>

<h3><a name="bermuda"></a>Bermuda</h3>

<p>
Bermuda is a British Overseas Territory, with a Governor. The legislature
consists of two houses: the elected House of Assembly, and an appointed Senate.
Contact details are available on <a href="http://www.gov.bm/">the website of
the Government of Bermuda</a>.
</p>

<? template_draw('footer', $values); ?>
