<div class="sidebar">
<?php

$links = array(
    'WriteToThem.com Help' => array(
        '/about-qa' => _('Questions and answers'),
        '/about-constituency' => _('What postcode should I use?'),
        '/about-yourrep' => _('Who should I write to?'),
        '/about-lords' => _('House of Lords'),
        '/about-feedback' => _('Does it work?')
    ),
    'Running a campaign' => array(
        '/about-campaigns' => _('Overview'),
        '/about-guidelines' => _('Guidelines for campaigning'),
        '/about-linktous' => _('Link to us'),
        '/about-branded' => _('WriteToThem for your website')
    ),
    'Who runs WriteToThem.com?'=> array(
        '/about-us' => _('About us'),
        '/about-copyright' => _('Copyright'),
        '/about-contact' => _('Contact us')
) );

foreach ($links as $title => $arr) {

    print '<h5>' . _('title') . "</h5>\n";
    print "<ul class=\"side-nav\">\n";
    foreach ($arr as $uri=>$text) {
        print '<li>';
        if ($_SERVER['REQUEST_URI'] != $uri)
            print '<a href="' . $uri . '">';
        print $text;
        if ($_SERVER['REQUEST_URI'] != $uri)
            print '</a>';
        print "</li>\n";
    }
    print "</ul>\n";
}

?>
</div>
