<?php

$values['title'] = "Questions and answers";
$contact_email = str_replace('@', '&#64;', OPTION_CONTACT_EMAIL);
template_draw('header', $values);

?>

<div class="row">
   <div class="large-10 large-centered columns">

       <div class="row">
           <div class="large-12 columns">
               <h2>Questions and answers</h2>
           </div>
       </div>

       <div class="row">

           <div class="large-8 columns">

<a name="top"></a>
<ul class="side-nav">
<H3>About WriteToThem</H3>
<li><a href="#govt">Is this a government website?</a></li>
<li><a href="#whoareyou">Then who are you, and why are you doing this?</a></li>
<li><a href="#cost">Does it cost money to send a message?</a></li>

<H3>How WriteToThem works</H3>
<li><a href="#how">How do I send a message to my representative?</a></li>
<li><a href="#howisitsent">How are messages sent to all the councillors, MPs etc.?</a></li>
<li><a href="#attach">Can I send an attachment with my message?</a></li>
<li><a href="#changemsg">I want to edit my message</a></li>
<li><a href="#cancelmsg">How do I cancel my message?</a></li>
<li><a href="#whyconf">Why do I have to confirm my message?</a></li>
<li><a href="#guarantee">Can you guarantee my message will be sent?</a></li>
<li><a href="#know">How do I know if my message has been sent?</a></li>
<li><a href="#copymsg">I want a copy of my letter for my own records</a></li>
<li><a href="#formletters">Why shouldn&rsquo;t I copy and paste &ldquo;form&rdquo; letters?</a></li>
<li><a href="#directemail">Can't you just give me the direct email address of my MP?</a></li>
<li><a href="#point">What's the point of this site, when most representatives publish their email addresses these days?</a></li>

<H3>Representatives</H3>
<li><a href="#onlyrep">Why can&rsquo;t I write to any representative I like?</a></li>
<li><a href="#ministers">Why can&rsquo;t I write to a Minister through the site?</a></li>
<li><a href="#lords">How can I write to a Lord through the site?</a></li>
<li><a href="#otherreps">Will you add Police Commissioners or Parish Councillors to the site?</a></li>

<H3>Problems</H3>
<li><a href="#postcode">WriteToThem doesn't recognise my postcode</a></li>
<li><a href="#wrongreps">WriteToThem is showing me the wrong representatives</a></li>
<li><a href="#noaddress">I want to write to my representative, but I got a message saying you don't have their email address</a></li>
<li><a href="#noconf">I did not receive my confirmation email</a></li>
<li><a href="#stop">Please stop sending me all these emails!</a></li>
<li><a href="#wrong">What do I do if I think something went wrong, or if I see an error on the site?</a></li>

<H3>Privacy</H3>
<li><a href="#address">Why do you want my address, name, email address and phone number?</a></li>
<li><a href="#personal">What will you do with the personal information used by this site?</a></li>
<li><a href="#private">How private is my correspondence?</a></li>

<H3>Next steps</H3>
<li><a href="#longwait">How long should I wait for a reply?</a></li>
<li><a href="#noreply">What should I do if my MP (or other representative) doesn't reply?</a></li>
<li><a href="#unsatis">I got a reply, but it was unsatisfactory</a></li>
<li><a href="#noagree">I got a reply, but I don't agree with it</a></li>
<li><a href="#fixit">Can you help me get my problem fixed?</a></li>

<H3>Questionnaire and responsiveness</H3>
<li><a href="#whyq">Why do you send a follow-up email?</a></li>
<li><a href="#league">What is the responsiveness league table?</a></li>
<li><a href="#unsuitable">None of the options in the questionnaire is suitable for my situation</a></li>
<li><a href="#badlink">I'm trying to register my response, but the link doesn't work</a></li>
<li><a href="#changeq">I need to change my response to the questionnaire</a></li>

<H3>Feedback</H3>
<li><a href="#lavishpraise">WriteToThem really helped me. How can I help you back?</a></li>
<li><a href="#coulddobetter">I've got a suggestion for improving WriteToThem</a></li>

<H3>Code</H3>
<li><a href="#doityourself">I have an idea for a service similar to  WriteToThem. How would I set it up? Can I use your software?</a></li>
<li><a href="#embed">I'd like to use WriteToThem for a campaign. How do I do that?</a></li>
</ul>

<H3>About WriteToThem</H3>
<dt><a name="govt"></a>Is this a government website?</dt>

<dd>
<p>No. WriteToThem is an independent website with no affiliation to any government, national or local.</p>
<p>It covers the whole of the UK and you can use it to write to any of your representatives, from your councillors to your MEPs.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="whoareyou"></a>Then who are you, and why are you doing this?</dt>

<dd>
<p>The short answer is that WriteToThem is run by the charity <a href="https://www.mysociety.org/about/">mySociety</a>, with the aim of making it easier to contact your representatives.</p>

<p>For the longer answer, please see WriteToThem's <a href="/about-us">About Us</a> page.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="cost"></a>Does it cost money to send a message?</dt>

<dd>
<p>No. WriteToThem is a free service, and always will be.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>


<H3>How WriteToThem works</H3>

<dl>

<dt><a name="how"></a>How do I send a message to my representative?</dt>

<dd>

<p>Begin on <a href="https://www.writetothem.com">WriteToThem's homepage</a>.Type in your postcode and press the "Go" button. </p>
<p>We'll show you  a list of everyone who represents you, from your local councillors to your MPs and MEPs.</p>
<p>Select the one you want to write to, and you will be taken to a simple form in which you can start writing your message straight away. </p>

<p>Once you are ready to send your letter, click 'preview and send'. This will take you to a screen where you can see exactly what your message will look like when we send it.</p>

<p>If everything is in order, click "I'm happy, send it" - or, if there's something you want to change, choose the "edit some more" button.</p>

<p>After that, there's just one more step - you must check your email inbox for our confirmation mail, and click on the link it contains.</p>

<p>Any response from your representative will come directly to your own email inbox - so make sure you have entered your email address correctly!</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="howisitsent"></a>How are messages sent to all the councillors, MPs etc.?</dt>

<dd>
<p>Most messages are sent directly to representatives' email addresses.</p>

<p>Messages to local councillors often go to the Democratic Services offices of that council, who will then forward it on to the right person.</p>

<p>When WriteToThem first started, we frequently faxed messages through, but this is much rarer these days</p>.

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="attach"></a>Can I send an attachment with my message?</dt>

<dd>
<p>No, WriteToThem does not provide this option.</p>
<p>If you need to send a photograph or documents  to your representative, you can refer to them in your initial message.</p>
<p>Then wait until your representative responds to you. You'll be able to reply to their email directly, and attach whatever you need to via your own email account.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="changemsg"></a>I want to edit my message</dt>

<dd>
<p>Before you click the "I'm happy, send it" button, you can edit your message as many times as you like, by clicking "Edit some more".</p>

<p>Once your message has been sent, it can no longer be edited. Think of WriteToThem like an email program - you can keep editing until you press 'send', but once you do, your message is on its way.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="cancelmsg"></a>How do I cancel my message?</dt>

<dd>
<p>If you would like to cancel your message and <em>not</em> send it, please just do <strong>not</strong> click on the link in the confirmation email that will be sent to you. 

Once you have confirmed your message by clicking that link, it will probably have been sent pretty much instantly. Our best advice is to read your message carefully before confirming it.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="whyconf"></a>Why do I have to confirm my message?</dt>

<dd>
<p>We'd love to create a one-click service where your message went off to your representative as soon as you submitted it.</p>
<p>But we have to ask you to visit your email inbox, and click the link in our confirmation email, for a number of unavoidable reasons.</p>
<p>We need to verify that the message is coming from a real person; this step also helps prevent anyone else from using your email address to send a message that you didn't authorise.</p>
<p>Additionally, when you click the confirmation link, it shows us that your email address is valid, and that you'll receive any response that your representative sends.</p>
<p>This step is also a good opportunity for us to send you a copy of your message for your own records.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="guarantee"></a>Can you guarantee my message will be sent?</dt>

<dd>
<p>Sadly, no. There are more than 24,000 representatives in our database. Email addresses can change; inboxes can become overfull; representatives can retire; council or parliament (or our!) servers can fail. </p>
<p>We do everything we can to spot and eliminate problems though, so please let us know if you have found any issues. </p>
<p>Of course, if your message doesn't get through for any reason, we'll let you know.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="know"></a>How do I know if my message has been sent?</dt>

<dd>
<p>When you click on the link in our confirmation email, you'll see a message in your browser to tell you that it's on its way. </p>
<p>If you hear no more, you can be pretty certain that it has reached its destination. If there is any issue - for example, your mail has bounced back from the representative's email - we will let you know.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="copymsg"></a>I want a copy of my letter for my own records</dt>

<dd>
<p>You'll find a copy of your message automatically included in our confirmation email, and in our follow-up email two weeks later which asks whether you received a reply.</p>

<p>If you wish to search for these in your email, the titles include the phrases:

"Please confirm that you want to send a message" and "Did your MP reply to your letter?".
</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="formletters"></a>Why shouldn&rsquo;t I copy and paste &ldquo;form&rdquo; letters?</dt>

<dd>
<? include 'qa/formletters.html' ?>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="directemail">Can't you just give me the direct email address of my MP?</a></dt>

<dd>
<p>There are several reasons we don't just publish representatives' email addresses on WriteToThem.</p>
<ul>
<li>We have safeguards in place to prevent spam, or other abusive mass emailed messages, from being sent to representatives. </li>
<li>Strict parliamentary protocols mean that MPs can only help their own constituents; for that reason, our system only allows you to write to your own representatives. If we published all the addresses, we wouldn't be able to ensure that users were writing to the representatives who were actually permitted to help them.
<li>The WritetoThem system monitors - as best we can - whether the emails get to their destination. This means we can fix bad contact details, rather than leaving them not working.</li>
<li>We check whether users receive a reply, and <a href="https://www.writetothem.com/stats/">hold representatives to account</a> if they never respond.</li>
</ul>

<p>However, if you do need an email address for legitimate reasons, you can generally find MPs' addresses on the <a href="http://findyourmp.parliament.uk/">Parliament website</a>, and councillors' addresses on your own council's site.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="point"></a>What's the point of this site, when most representatives publish their email addresses these days?</dt>

<dd>
<p>One of the primary reasons for WriteToThem's existence is to help people write to their representatives, even if they don't know who they are. </p>
<p>It's easy enough to find your MP's email address if you happen to know who he or she is, but 78% of the UK population cannot name their representative in Parliament (figure comes from the <a href="http://www.hansardsociety.org.uk/wp-content/uploads/2013/05/Audit-of-Political-Engagement-10-2013.pdf" target="_blank">Hansard Society Audit of Public Engagement 2013</a> [PDF]).</p>
<p>If you know you want to write to someone in power, but you have no idea how to, then we hope that WriteToThem removes that barrier.</p>
<p>Similarly, you might think it is relatively easy to visit your council website and discover who your local councillors are. We'd say that it depends on the council website. In <em>some</em> cases, it's a wee bit easier to put your postcode into WriteToThem's homepage.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<H3>Representatives</H3>

<dt><a name="onlyrep"></a>Why can't I write to any representative I like?</dt>

<dd>
<? include 'qa/onlyrep.html' ?>
<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="ministers"></a>Why can't I write to a Minister through the
site?</dt>

<p>Ministers are often best contacted via your MP. </p>

<p>Ask your MP to pass on your concern to the relevant Minister. They will do this even if they disagree with you, although you should ask them to add their own support if they do agree. </p>
<p>Your MP will return the response that they get from the Minister. If necessary, your MP can also chase the Minister, on your behalf, through Questions in Parliament.</p>.

<p>If you would like to contact a Minister directly, you may find a list of their contact details on this <a href="http://www.parliament.uk/mps-lords-and-offices/government-and-opposition1/her-majestys-government/">list of departments and ministers on the Parliament website</a>.</p>

<p>We've heard a few people talk about making a "Write to a Minister" website in the past, but it hasn't happened yet. <a href="/about-contact">Contact us</a> if you would like to fund such a site. </p>
<p>For now, WriteToThem concentrates on being a way for you to contact your elected representatives. If your MP happens to also be a Minister, you can still of course contact them using WriteToThem. </p>
<p>Please do not try to write to a Minister who is not your MP using WriteToThem. Your message may go to their constituency office as an MP, and that's not the right place to handle it.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="lords"></a>How can I write to a Lord through the site?</dt>

<dd>
<p>Lords aren't tied to any constituency - you may write to any of them.</p>

<p>But, as there is no correlation between your postcode and any specific Lord, how do you know which one to contact? That's where our <a href="/lords">special Write To A Lord section</a> comes in - it suggests a Lord for you, via a number of means.</p>

<p>Need to get in touch with one Lord in particular? Go to another of our sites, www.TheyWorkForYou.com, and find the Lord you need there. On each Lord's profile page there is a link to contact them via WriteToThem. </p>
<p><a href="/about-lords">See more information about writing to Lords here</a>.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="otherreps"></a>Will you add Police Commissioners or Parish Councillors to the site?</dt>

<dd>
<p>We might! It's been requested a few times, and every time someone makes the request, it pushes it up our list of priorities. So if this something you'd like to see, <a href="/about-contact">let us know</a>.</p>

<p>Or, if you have the skills, feel free to help us add this functionality. WriteToThem is open source: <a href="https://www.mysociety.org/about/get-involved/">read more about contributing code here</a>.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<H3>Problems</H3>

<dt><a name="postcode"></a>WriteToThem doesn't recognise my postcode</dt>

<dd>
<p>Please check our <a href="/?pc=POSTCODE">advice on common reasons why postcodes aren't recognised by our system</a>. Don't forget to <a href="http://www.royalmail.com/postcode-finder" target="_blank">check your postcode on the Royal Mail site</a>. </p>
<p>If that doesn't help, please <a href="/about-contact">get in touch</a> and let us know the postcode that's causing trouble.</p>
<p>Meanwhile, if you need to contact your representative urgently, we would suggest, with caution, inputting a postcode from a neighbouring street. It is more than likely that this will bring up your representatives, but please be aware that if your postcode falls close to a constituency boundary, there is a small chance of error.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="wrongreps"></a>WriteToThem is showing me the wrong representatives</dt>

<dd>
<p>WriteToThem depends on a piece of software (named <a href="http://mapit.mysociety.org/" target="_blank">MapIt</a>) which works by matching postcodes to constituencies. </p>

<p>Your postcode may be one of the few that straddles two constituencies - this does create problems for MapIt, and for those who live in such postcode areas.</p>

<p>In this situation MapIt can't assign two constituencies to the same postcode, and so we recommend that people in your situation use our site by inputting a nearby postcode in the correct constituency.</p>

<p>It's a bit of a workaround, but in cases like this we're afraid it's the best we can suggest.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="noaddress"></a>I want to write to my representative, but I got a message saying you don't have their email address</dt>

<dd>
<p>With over 24,000 representatives in our database, this does sometimes happen. Perhaps your chosen representative has changed their email address; or perhaps the email address we had for them bounced back.</p>

<p>In any case, you can help. If you have a few minutes to Google for an active email address, and then <a href="/about-contact">send it to us</a>, we can put it into the system, and you'll have helped everyone else who wants to mail that person. Consider it your good deed for the day.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="noconf"></a>I did not receive my confirmation email</dt>

<dd>
<p>The most common reasons for this are:</p>
<ul><li>Our mail has gone into your spam folder. Please check there. Unfortunately this is something that is hard to prevent at our end, but may be avoided in the future by adding the WriteToThem email address to your email whitelist.
</li>
<li>You made a typo when you input your email address, so our confirmation email has gone to the wrong place.</li>
<li>You used a different email address from the one you are checking for our mail. You'd be surprised how often this happens!</li></ul>

<p>If you cannot find our message in your spam folder, and you have looked in any alternative email accounts that you might have used, please <a href="/about-contact">let us know</a> - we can track down your original message and send it off from our end.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="stop"></a>Please stop sending me all these emails!</dt>

<dd>
<p>WriteToThem's system sends out a limited number of automated emails, and we've worked hard to strike a balance between keeping the site functional, and bothering our users.</p>
<ul><li>When you submit your message, we issue an email with a confirmation link that you must click if you want it to be sent. This email also contains a copy of your message.</li>
<li>If you do not click on this link, 24 hours later, we send one further reminder.</li>
<li>Two weeks after you use WriteToThem, we send you an email to check whether or not you received a response from your representative. Your answer to this query goes to make up the <a href="https://www.writetothem.com/stats/">WriteToThem Responsiveness League Tables</a>, as well as helping us to check that the service is working. </li>
<li>If you do not click on this link, 24 hours later, we send one further reminder.</li></ul>

<p>If at any point in this process you decide that you don't want to receive any more emails from us, please email <a href="mailto:<?=$contact_email?>"><?=$contact_email?></a>.</p>

<p>We understand that it can be a nuisance to receive automated emails, but we do try to keep the balance right.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>


<dt><a name="wrong"></a>What do I do if I think something went wrong, or if I see an error on the site?</dt>

<dd>
<p>Please <a href="/about-contact">let us know</a>. Include the text of any error message you received, and please let us know if you are on a desktop or mobile device and what browser you are using (eg Internet Explorer, Firefox, Chrome, etc).</p>
<p>You may also like to check <a href="https://twitter.com/writetothem">our Twitter feed</a> to see if we've flagged up any current problems with the site.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>



<H3>Privacy</H3>

<dt><a name="address"></a>Why do you want my address, name, email address and
phone number?</dt> <dd> 

<ul> <li>Firstly to enable your chosen elected representative to get in touch with you, and to help the message that is sent look more like a formal letter.  Note that entering your phone number is optional, but advisable. Sometimes representatives would rather call you than write back to
you.</li> 
<li>Secondly, to enable us to send you a copy of your message for your records, and to tell you if there was a delivery problem. </li>
<li>Thirdly, to enable you to confirm who you are, and that you live in a particular area.  WriteToThem is concerned that this service is used in a responsible way by everyone.  Which is why we built it responsibly.  </li>
</ul> <p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="personal"></a>What will you do with the personal information used by this site?</dt>

<dd>
<p>Please see our separate <a href="/about-privacy">Privacy and Cookies</a> page.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="private"></a>How private is my correspondence?</dt>

<dd>
<p>If everything goes smoothly with your message, it will be seen only by you and its recipient. Some representatives also have staff to help them with their mail; councillors' emails often go through a Democratic Services office.</p>
<p>If there is an issue with your message, for example, it bounces back, or our system flags that it is a potential abuse of the site, WriteToThem support staff may view it. Under these circumstances, we read as little of the content as possible in order to fix the problem and, if appropriate, get your message on its way.</p>
<p>As per our <a href="/about-privacy">privacy policy</a>, your message is completely scrubbed from our system after five weeks.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<H3>Next steps</H3>


<dt><a name="longwait"></a>How long should I wait for a reply?</dt>
<dd>
<p>We email our users to ask whether or not they've received a response from their representative just two weeks after their message is sent. </p>
<p>We consider this to be a reasonable timeframe, and we certainly receive a good number of 'yes' replies. </p>
<p>If you haven't heard back within this amount of time, see the next question.</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>


<dt><a name="noreply"></a>What should I do if my MP (or other representative) doesn't reply?</dt>

<dd>
<p>There are lots of things you can do to follow up your enquiry if you get no reply from your representative.</p>

<ul>

<li>See your MP or other representative in person, raise your issue with them at their local surgery.  Call your MP's local constituency office or your representative's party office to arrange this. You can find the number in your local phone book, or on your MP's website.</li>

<li>Make sure you have taken all other courses of action to raise your issue,
or to get your problem solved. For example, contact the relevant central
Government department, and relevant officers at your local councils. Ask your
local Citizens Advice Bureau for advice.</li>

<li> Write a letter to your local newspaper about your issue, and your
dissatisfaction with your MP, MEP or councillor.</li>

<li> Write a letter to your other representatives, such as your MP, your local councillors, MEPs or regional representatives, if appropriate. You can, of course, do this for free using  WriteToThem.</li>

<li> Complain about your representative to their local party. Contact the local party office. The local party has the power not to select your MP as a candidate for the next General Election.</li>

</ul>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="unsatis"></a>I got a reply, but it was unsatisfactory</dt>
<dd>
<p>If you are dissatisfied with a response, we would encourage a follow-up message, phone call, or face to face visit at a local surgery.<p>

<p>If email is your preferred route, you can of course send a further message via WriteToThem. It's only if constituents tell their representatives what they expect from them, in communications as in all things, that they will know that they are considered unsatisfactory by some.
</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="noagree"></a>I got a reply, but I don't agree with it</dt>
<dd>
<p>Your representative is (of course) not obliged to agree with your views, but he or she is obliged to listen to them and to take them into consideration even if they disagree. </p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="fixit"></a>Can you help me get my problem fixed?</dt>
<dd>
<p>Sorry, no. WriteToThem is a means for you to contact the people who are there to help you. We'll do everything we can to help get your message through, but after that it's up to your representatives.</a>
<p class="toplink"><a href="#top">top</a></p>
</dd>


<H3>Questionnaire and responsiveness</H3>

<dt><a name="whyq"></a>Why do you send a follow-up email?</dt>
<dd>

<p>Two weeks after you use WriteToThem, we email you to ask whether you received a reply from your representative. </p>
<p>The results from this questionnaire allow us to be sure that the service is continuing to work for people. They also inform our <a href="/stats/">responsiveness league table</a>.</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<a name="league"></a>What is the responsiveness league table?</dt>

<dd>

<p>It's a ranking, listing all MPs, together with the number of WriteToThem messages they replied to, based on your questionnaire responses. You can see more (including how we compile it, and the caveats you ought to be aware of) <a href="/stats/">here</a></p>
<p class="toplink"><a href="#top">top</a></p>
</dd>


<dt><a name="unsuitable"></a>None of the options in the questionnaire is suitable for my situation</dt>

<dd>

<p>Our questionnaire asks, simply, whether you received a response (other than a mere acknowledgement).</p>
<p>We know that things can sometimes be more complicated than this: perhaps your message didn't require a response. Perhaps you got a response but it didn't actually answer your question.</p>
<p>However, we keep this question simple because its answer informs the metric we care most about: is WriteToThem still working?</p>
<p>If you feel that your response will not contribute usefully to our results, don't worry - we have plenty of data to work with. Maybe you can respond next time. </p>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="badlink"></a>I'm trying to register my response, but the link doesn't work</dt>

<dd>

<p>Unfortunately, our links break in some email programs. </p>
<p>Please try copying and pasting the link into the address bar of your browser. If that doesn't work, check for any obvious problems in the link, for example, a space or a line break between characters. </p>
<p>If neither of these tips help, please forward the entire email to <a href="mailto:support@writetothem.com">us</a>, including the link, and we will try to get to the bottom of it.</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="changeq"></a>I need to change my response to the questionnaire</dt>

<dd>

<p>You can return to the questionnaire mail at any time and click on the relevant link - the last click will always override any previous ones.</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<H3>Feedback</H3>
<dt><a name="lavishpraise"></a>WriteToThem really helped me. How can I help you back?</dt>

<dd>

<p>We're very glad to hear it!</p>
<p>If you would like to show your appreciation, please consider <a href="https://www.mysociety.org/donate/" target="_blank">making a donation to mySociety</a>, who built and maintain WriteToThem. </p>
<p>You can also help us greatly by spreading the word about the site. Tell all your friends, write to the local paper, or put a message on your library's noticeboard. It all helps.</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="coulddobetter"></a>I've got a suggestion for improving WriteToThem</dt>

<dd>
<p>Then we want to hear from you. Don't hesitate to <a href="/about-contact">contact
us</a>.</p>
<p>You may be interested in browsing our <a href="https://github.com/mysociety/writetothem/issues?direction=desc&sort=created&state=open" target="_blank">development list</a> to see what we're already working on, or have planned for the future.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>


<H3>Code</H3>

<dt><a name="doityourself"></a>I would like to run a service like WriteToThem. How would I set it up? Can I use your software?</dt>

<dd>

<p>Like most mySociety projects, WriteToThem's code is open source, and free for anyone to use. However, we currently advise people that the newer WriteIt software fulfils the same functions and  is a lot easier to install. </p>

<p>WriteIt is part of the Poplus Project, an initiative which encourages shared, collaborative coding for democratic purposes. You can read more about it, and WriteIt, <a href="https://www.mysociety.org/projects/components/" target="_blank">here</a>.</p>

<dt><a name="embed"></a>I'd like to use WriteToThem for a campaign. How do I do that?</dt>

<dd>

<p>Please see <a href="/about-campaigns">our pages on running a campaign</a>. Or, for a quick introduction to the options available, <a href="https://www.mysociety.org/2014/03/04/writetothem-simple-campaigning-software/" target="_blank">this blog post</a>.</p>



</dd>

</dl>

           </div>

           <div class="large-4 columns">

               <?php template_draw('about-sidebar'); ?>

           </div>

       </div>
   </div>
</div>

<?php template_draw('footer', $values);
