<?php

$values['title'] = "What people said about WriteToThem.com";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns feedback">

        <div class="row">
            <div class="large-12 columns">
                <h2>What people said about WriteToThem.com</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<blockquote>"I am writing to say that I have now used the site to contact my local Councillors on two occasions. On each occasion I had an immediate response and my complaints were looked into and remedied. I must say that I find the response time quite amazing and it is by far the easiest and quickest way to get hold of whoever is responsible for dealing with council problems."</blockquote>

<blockquote>"This is a great website, thanks to you I have entered into correspondence with a number of MPs in the last year, something that I had previously thought would not be possible."</blockquote>

<blockquote>"I would like to say how impressed I am by this website. After writing
to my MP I received an almost immediate response from him. Now I receive a follow-up email to check whether he has replied to my letter or not. It has long since been my impression that MPs do
not listen to their constituents but my experience here dispels that assumption entirely."</blockquote>

<blockquote>"Great idea. Well done, at last I feel that I might have a voice that could be listened to.
"</blockquote>

<blockquote>"Thanks for your help and think this site is great as it is so easy to contact "them" in power."</blockquote>

<blockquote>"I really like this website! It makes it quick and simple to contact the people who you think are out of reach.      Very impressed. Got a very quick response from my MP's office. Very Happy!"</blockquote>

<blockquote>"I really enjoyed getting that high density paper and cream envelope with the house of commons stamp on it in response"</blockquote>

<blockquote>"Just want to say that this service is great and made it really easy to contact my MP who responded with a     brilliant and well considered reply."</blockquote>

<blockquote>"An excellent service, and an easy to read and use website. Thank goodness for sites like yours. Someone using this site is usually pretty stressed so needs a quick and easy to use website that is easy to find. Yours has it all in abundance. It has proved to be effective twice 
for me. A big thumbs up and thanks from me."</blockquote>

<blockquote>" I am so grateful to you for making my writing to him possible and easy. I found the
whole experience very positive.Thank you so much for enabling the first time I have contacted an MP and on an issue which is so important to me."</blockquote>

<blockquote>"I think your website is brilliant. I’m calling it the lazy activist’s new power tool because it makes it so easy to get in touch with district and county councillors, your local MP, the House of Lords and your MEP…(I got a response through my letterbox, so I know it really works!)"</blockquote>

<blockquote>"Just a quick note. I sent, through your website, a message to my local MP.
I received a full response by e-mail the following day. Brilliant service from both you and him!"</blockquote>

<blockquote>"I have just discovered this website and used it for the first time to contact my MP. I had a response within seven days by means of a letter, which referred me to information in Hansard concerning the issue I was concerned about. I have forwarded your website address to a number of friends. Many thanks for providing a very useful service."</blockquote>

<blockquote>"Brilliant I've got a meeting with my mp. Thanks for the service"</blockquote>

<p>It's always inspiring to hear about your successes - do keep <a href="/about-contact">keep telling us about them</a>.</p>

<p>To protect those MPs who do get in touch with their constituents we have taken out their names and replaced them with "my MP". Other than that, all these quotes are genuine, and from constituents rather like yourself.</p>

<p>We can't guarantee that your MP will get in touch with you about your query, but many of them do respond promptly.</p>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
