<?php

$values['title'] = "Special Postcodes";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>Special Postcodes</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<dl>
    <dt><b><a name="giro"></a>GIR 0AA</b></dt>
    <dd>Girobank, now owned by Alliance &amp; Leicester.
    <a href="http://www.theguardian.com/money/2003/jul/07/business.postalservice">Guardian
    article</a></dd>
    <dt><b><a name="santa"></a>XM4 5HQ</b> (previously SAN TA1)</dt>
    <dd>Santa Claus’s full address is Santa Claus (or Father Christmas), Santa’s Grotto, Reindeerland, XM4 5HQ.</dd>
</dl>

<h2>Fictional Postcodes</h2>

<p>At the moment, <b>WriteToThem.com</b> can’t directly get you in contact with
representatives of fictional locations. Hopefully, the links below will help.</p>

<dl>
<dt><b><a name="archers"></a>AM</b></dt>
<dd>Ambridge, Borsetshire. Home of <a href="http://www.bbc.co.uk/radio4/archers/">The Archers</a>.</dd>

<dt><b><a name="reddwarf"></a>RE1</b></dt>
<dd>The deep space mining vessel <a href="http://www.reddwarf.com/">Red Dwarf</a>.</dd>

<dt><b><a name="training"></a>FX</b></dt>
<dd>FX - Fairfax. Used by the <a href="http://www.royalmail.com/">Royal Mail</a> for training purposes.</dd>
</dl>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
