<? $values['title'] = "easyJet email"; $values['nobox'] = true;
template_draw('header', $values); ?>

<p>Hi,</p>

<p>This morning easyJet sent out an email to its customer base asking them to contact their MP
through WriteToThem with a copy-and-pasted message (please <a href="/about-qa#formletters">read our
FAQ</a> on why we ask people not to do this</a>). The resultant large volume of traffic
brought down the site, which we've now managed to get back up.</p>

<p>We have nothing against easyJet customers expressing their views to politicians;
we just ask that for the sake of MPs, constituents and the campaign itself that you please
write your own message to your MP. Copy and pasted letters are not allowed by WriteToThem
and won't get through.</p>

<p>Thanks for your time, <a href="/">return to the home page</a> to enter your postcode and get going.</p>

<? template_draw('footer', $values); ?>

