<? $values['title'] = "Special and fictional postcodes";
    template_draw('header', $values); ?>

<h2>Special Postcodes</h2>

<dl>
	<dt><b><a name="giro"></a>GIR 0AA</b></dt>
	<dd>Girobank, now owned by Alliance &amp; Leicester. <a href="http://www.guardian.co.uk/post/story/0,11489,992796,00.html">Guardian article</a></dd>
	<dt><b><a name="santa"></a>SAN TA1</b></dt>
	<dd>Santa Claus's full address is Santa Claus, Reindeerland, SAN TA1.</dd>
</dl>

<h2>Fictional Postcodes</h2>

<p>At the moment, <b>WriteToThem.com</b> can't directly get you in contact with
representatives of fictional locations. Hopefully, the links below will help.</p>

<dl>
<dt><b><a name="archers"></a>AM</b></dt>
<dd>Ambridge, Borsetshire. Home of <a href="http://www.bbc.co.uk/radio4/archers/">The Archers</a>.</dd>

<dt><b><a name="eastenders"></a>E20</b></dt>
<dd>Walford, East London. Home of <a href="http://www.bbc.co.uk/eastenders/">EastEnders</a>.</dd>

<dt><b><a name="reddwarf"></a>RE1</b></dt>
<dd>The deep space mining vessel <a href="http://www.reddwarf.com/">Red Dwarf</a>.</dd>

<dt><b><a name="training"></a>FX</b></dt>
<dd>FX - Fairfax. Used by the <a href="http://www.royalmail.com/">Royal Mail</a> for training purposes.</dd>
</dl>

<? template_draw('footer', $values); ?>
