<? $values['title'] = "Questions and answers";
    template_draw('header', $values); ?>
<h2>Questions and answers</h2>

<a name="top"></a>
<ul>
<li><a href="#how">How do I send a message?</a></li>
<li><a href="#address">Why do you want my address, name, email address and
    phone number?</a></li>
<li><a href="#onlyrep">Why can't I write to any representative I like?</a></li>
<li><a href="#ministers">Why can't I write to a Minister through the
    site?</a></li>
<li><a href="#formletters">Why shouldn't I copy and paste "form"
    letters?</a></li>
<li><a href="#personal">What will you do with the very personal information I'm
    putting in to this site?</a></li>
<li><a href="#whoareyou">Who are you and why are you doing this?</a></li>
<li><a href="#digitalsig">There's a statement about signatures at the bottom of
    my message. What's that about?</a></li>
<li><a href="#checkmessage">Can I check the message before I send it?</a></li>
<li><a href="#howsitsent">How are messages sent to all the councillors, MPs
    etc.?</a></li>
<li><a href="#guarantee">Can you guarantee my message will be sent?</a></li>
<li><a href="#cancelmsg">How do I cancel my message?</a></li>
<li><a href="#doityourself">I have an idea for a service similar to
    WriteToThem.com. How would I set it up? Can I use your software?</a></li>
<li><a href="#volunteer">Can I help you run the site?</a></li>
<li><a href="#wrong">What do I do if I think something went wrong, or if I see
    an error on the site?</a></li>
<li><a href="about-linktous">How do I link to this website?</a></li>
</ul>

<dl>

<dt><a name="how"></a>How do I send a message?</dt>

<dd>

<p>To send your free message, just go to the home page of the site, type in
your postcode and press the "Go" button. Up will pop details of all your elected
representatives. Select the one you want, and you will be taken straight to a
simple form in which you can start writing your message straight away. Don't
forget to fill in your name, address and email &mdash; we can't send your
message without these.</p>

<p>When you have finished writing your message, press the "Preview your
message" button at the bottom of this page. Take a look to see if you have
expressed yourself as well as you want to. If not, you can click on "edit this
Message" to go back to the original form, and change your letter. Otherwise,
click on the "Continue" button to start the process of sending your letter.</p>

<p>Before WriteToThem.com sends your message to your chosen representative,
there has to be a simple fourth step. We send you an email, as a way of
confirming that you are a real person. The message contains a link (a website
address) which you must visit before we can send your message. If the email
cannot be sent for whatever reason, your message will not be sent. If the email
goes unanswered, your message will not be sent. For these reasons, make sure
you type in your email address correctly on the form. <strong>The email we send
you also contains a copy of your own letter for your future
reference.</strong></p>

<p>There is no need to write anything in response to the mail we send &mdash;
just click on the link, or copy and paste it in to your browser window and
that's it. Message sent.</p>

<p>If you would like a reply to your letter, don't forget to ask for one when
composing your message. It's up to the representative in question to get in
touch with you.</p>

<p>Two weeks after your message has been sent, we will email you again asking
if your representative has been in touch. WriteToThem.com cannot be held
responsible for any representative's failure get in touch, but we think it
worthwhile to track their responsiveness. You can see the
<a href="/stats/">statistics we make from this</a>.</p>

<p>WriteToThem.com would like to say again that while we are offering this site
as a service to the public, we can't guarantee to anyone that your
representative will read the message you send, and we can't follow up any
enquiries you make regarding any replies from your representative.</p>

<p>If you are not a broadband user, or if you pay for your internet connection
per minute, you can go offline  to save yourself a bit of cash whilst you
compose your letter. Write the letter you wish to send in the word processing
program you use every day, then when you are happy with it, dial in to your ISP
again and just copy and paste your letter into the message form. The form will
also ask you for your full name, address and email address. These personal
details are to verify who you are, and to allow your representative to reply to
you.</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="address"></a>Why do you want my address, name, email address and
phone?</dt> <dd> <ul> <li>Firstly to enable your chosen elected representative
to get in touch with you, and to help the message that is sent look more like a
formal letter.  Note that entering your phone number is optional, but
advisable. Sometimes representatives would rather call you than write back to
you.</li> <li>Secondly, to enable us to send you a copy of your message for
your records, and to tell you if there was a delivery problem. </li>
<li>Thirdly, to enable you to confirm who you are, and that you live in a
particular area.  WriteToThem.com is concerned that this service is used in a
responsible way by everyone.  Which is why we built it responsibly.  </li>
</ul> <p class="toplink"><a href="#top">top</a></p> </dd>


<dt><a name="onlyrep"></a>Why can't I write to any representative I like?</dt>

<dd> <p>Elected representatives have a duty to listen and respond to the voters
in their areas of responsibility &mdash; but they can't possibly cope with
regular communication from the entire UK population.  We try to strike a
balance between getting people listened to, and filling their inboxes with
problems which it is not their job to solve.</p>

<p> We don't let anyone write to any representative &mdash; our service is only
to enable people to write to their own elected representatives. If we did let
anyone write to any representative in the country, professional lobbyists would
use us to mail every one of the representatives, in the same way as marketeers
junk-mail as many people as they can. Eventually, representatives would ignore
<em>every</em> message sent through our service, instead of trusting it as a
source of genuine letters from genuine constituents. And the main losers in
this would be real constituents with real problems.</p>

<p class="toplink"><a href="#top">top</a></p> </dd>

<dt><a name="ministers"></a>Why can't I write to a Minister through the
site?</dt>

<dd><p>You should only contact a minister through WriteToThem, if that
Minister is also your constituency MP; if not you will have to use an
alternative approach.</p>

<p>Your local MP can, and many do, forward constituents' matters to the
Minister concerned. If necessary, they can also chase the Minister, on your
behalf, through Questions in Parliament. If you would like to contact a
Minister directly, you should be able to find their contact details on this
<a href="http://www.parliament.uk/directories/hciolists/hmg.cfm#Depts">list of
departments and ministers on the Parliament web site</a>.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>


<dt><a name="formletters"></a>Why shouldn't I copy and paste "form" letters?</dt>

<dd>
<p>We know your issue is important to you, but we've spoken to representatives
&mdash; and if you are not a constituent, or you send a "copied and pasted"
form letter, your message will go straight into the bin.</p>

<p>If you're a pressure group, please think about what you're doing. If you
encourage all your members to write to the same representative, you will not show that representative
the depth of support for your issue. We now block large form letter campaigns sent to individuals, but even if we did let through your mail, we know from experience that you'll simply have used up a few sheets of tax-funded paper, and irritated an underpaid secretary or researcher. And if you encourage your supporters  to all send the same rote letter to different representatives, the recipients will just assume you have a nasty little man with a computer and a list of addresses blasting them out from your office. Then they'll ignore you, wheras if you'd asked people to write to their own representatives in their own words, you'd be ahead of the game.</p>

<p>Still not convinced? Here's a quote from a Parliamentary researcher, whose job is to make the MP he/she works for as accessible as possible (such people are the hidden gems of our democracy):</p>

<blockquote>
<p>MPs rather naturally take a sudden influx of identical or similar messages with a large pinch of salt, since they know that what they are seeing is stuff from a minority of constituents who are either impassioned/neurotic about the topic concerned or who are easily gulled into agreeing with some plausible story and sending the message, since it takes minimum effort to do so.</p>

<p>Given a daily mailbag of (say) 50 individual messages from individual constituents, on a wide range of topics, when the mailbag suddenly rises to 100 a day, 50 of which are much the same as each other, the representative has no way at all of knowing whether the message concerned is representative of opinion in the constituency.</p>

<p>All he or she knows is that 50 constituents have been persuaded to mail them about 'topic X'. Much more notice is taken of trends within the regular flow of messages from clearly identified constituents. If in a month 50 people write in different ways and through different routes with similar views on a subject, this is much more likely to raise the profile of the topic with the MP.</p>
</blockquote>

<p>So please don't copy and paste the same message as everyone else. And don't encourage others to do so. It's worse than useless as we'll automatically stop your messages before they get through. Ask people to write in their own words. If they care enough about your issue, they'll do so.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="personal"></a>What will you do with the very personal information I'm putting in to this
site?</dt>

<dd>
<ul>
<li>We will never sell or distribute any information you give
WriteToThem.com.</li>
<li>We will never keep permanent copies of the letters you write to send to
your representatives.</li>
<li>We store your message for up to three weeks after which it is automatically deleted; we do this to monitor and prevent abuse of the service, and to provide a service whereby the representative you contact can conveniently forward your message to one of your other representatives if they need to. We do keep records of names and addresses for longer periods in order to provide an audit trail if a representative queries the accuracy of the statistics on response rates we produce. We will never give these out to a representative on any other occasion than when you send them your message.</li>
<li>We will never use this data for any other purposes.</li>
<li>We will never send you unsolicited email.</li>
</ul>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="whoareyou"></a>Who are you and why are you doing this?</dt>

<dd>
<p>Please see our <a href="/about-us">About Us</a> page.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="digitalsig"></a>There's a statement about signatures at the bottom
of my message. What's that about?</dt>

<dd>
<p>Way back in the early days of FaxYourMP.com, a small group of MPs started
replying to constituents who used the service, saying that they could not
possibly respond to unsigned messages. Because FaxYourMP messages weren't
signed, the MPs couldn't be sure that they were genuine. The constituents were
asked to resubmit their request on paper.</p>

<p>This was a bit confusing to the FaxYourMP team. In practical terms, a
written signature proves nothing: in order to check the veracity of the letter
or signature, you'd have to check it with the original author to get a
confirmatory sample of their signature &mdash; and if you were doing that, why didn't
you just <em>ask</em> them about the letter?  It made no sense.</p>

<p>Then they thought: aha, perhaps this is some <em>legal</em> requirement.  A
lot of MPs are lawyers, and are probably very good about this kind of thing.
Perhaps even better than they are at simply answering constituents'
requests.</p>

<p>Happily, if it's legality they're worried about, there is a fix.  The
<a href="http://www.hmso.gov.uk/acts/acts2000/20000007.htm#7">Electronic
Communications Act 2000, Subsection 7(3)</a> states:</p>

<blockquote>
<p>7(3) For the purposes of this section an electronic signature incorporated
into or associated with a particular electronic communication or particular
electronic data is certified by any person if that person (whether before or
after the making of the communication) has made a statement confirming
that--</p>

<p>(a) the signature,</p>
<p>(b) a means of producing, communicating or verifying the signature, or</p>
<p>(c) a procedure applied to the signature,</p>

<p>is (either alone or in combination with other factors) a valid means of
establishing the authenticity of the communication or data, the integrity of
the communication or data, or both.</p>
</blockquote>

<p>The message at the bottom of your message is your statement to that effect.
For the purpose of sending a letter to your representative, your electronic
signature is legally valid. You may point this out to your representative
should they tell you that they can't reply to your message, because they don't
know who you are.</p>

<p>And what does the strange '0c0c38720cde084343' bit signify?</p>

<p>It's a SHA1 hash of your e-mail address. Very impressive to overly
legalistic MPs. Highly technical.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="checkmessage"></a>Can I check the message before I send it?</dt>

<dd>
<p>Yes. There is every chance to take a second look and make sure you said what
you wanted to say. Just click on "Preview" before you send the message, and you
can see the whole thing nicely formatted.</p>

<p>Check through it, and if you see anything you don't like, just click
on <b>"&lt;&lt;edit this Message"</b>.</p>

<p>It will take you straight back to the form, where you will be able to delete
or add anything you want. There is no limit to the amount of times you can
preview and edit.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="howsitsent"></a>How is it sent to all the representatives?</dt>

<dd>
<p>Most messages are sent directly to representatives' official email
addresses. However, many more are faxed. Furthermore, we may fax messages to
representatives who do not appear to be actively checking their email. Many
representatives have paper-based filing systems, and find it much easier to
deal with faxed messages than emails.</p>

<p>For messages to local councillors we will send your message to the democratic
or members' services offices of that council, who will then forward it on
to the right person. We would appreciate any help from volunteers with the huge
task of entering many more of the direct email and fax details for councillors,
normally found on council websites.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="guarantee"></a>Can you guarantee my message will be sent?</dt>

<dd>
<p>Sadly, no. We have more than 24,000 representives in our database, and
whilst <a href="http://www.goveval.com/">GovEval</a> help us keep them up to
date, there will be some that fall through the gap. We will do everything we
can to spot and eliminate problems though, so please let us know if you have
spotted any gaps. We will, however, do everything we can to tell you if your
message didn't get through.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="cancelmsg"></a>How do I cancel my message?</dt>

<dd>
<p>If you would like to cancel your message and <strong>not</strong> send it, the fail-safe way is <em>not</em> to click on the link in the confirmation email that will be sent. If, however, you don't want to send your message after you've confirmed it, chances of it being stopped are, realistically, slim. It may be worth a try though :) Try getting us <a href="mailto:team&#64;writetothem.com?subject=Cancel%20my%20Message">on email</a> as quickly as you can. We can't guarantee anything, but we <strong>may</strong> be able to catch your message in time. Our best advice is to carefully read your message before confirming it.</p>
<p class="toplink"><a href="#top">top</a></p>
</dd>


<dt><a name="doityourself"></a>I have an idea for a service similar to WriteToThem.com. How would I set it up? Can I use your software?</dt>

<dd>
<p>Our software is all available on our public CVS and you can use it under the
terms of the Affero GPL "Open Source" licence. There's a link in the copyright
messages at the bottom of every page. Sadly, we have to keep licensed data
(such as the links between postcodes and wards/constituencies, and the names of
representatives) out of the public domain, but there is a huge amount of useful
work available here, especially for people who want to build versions of
WriteToThem.com in other countries.</p>

<p>Feel free to ask our developers about how the service works! Their email
addresses are in every source file. They'll do their best to answer your
questions, within reason.</p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="volunteer"></a>Can I help you run the site?</dt>

<dd>
<p>Sure! See our <a href="http://www.mysociety.org/volunteertasks">volunteering
page</a>.

<p class="toplink"><a href="#top">top</a></p>
</dd>

<dt><a name="wrong"></a>What do I do if I think something went wrong, or if I
see an error on the site?</dt>

<dd>
<p>Then we really want to hear from you.</p>

<p>Whilst we offer this service for free, we still want it to work. Don't
hesitate to mail us at the following email address to let us know if
anything strange happens (while you use the site, not in life
generally), you see any error messages or simply if you want to get in
touch with us for any reason:</p>

<p><a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a></p>

<p class="toplink"><a href="#top">top</a></p>
</dd>

</dl>

<? template_draw('footer', $values); ?>
