<? $values['title'] = "How to link to us";
    template_draw('header', $values); ?>

<h2><?=$values['title']?></h2>
<p>Wouldn't it be great if you could put a little box on your website which would let your users get in touch with their elected representatives. Well, you can!
</p>

<ul>
<li><a href="#envelope">Envelope style box</a></li>
<li><a href="#conventional">Conventional style box</a></li>
<li><a href="#types">Linking to specific types of representative</a></li>
<li><a href="#prefill">Prefilling name and address</a></li>
<li><a href="#plugins">Plugin for WordPress</a></li>
</ul>

<p>Before you do so, make sure you read the <a
href="about-guidelines">guidelines for campaigners</a>.  You must not tell your
users to send cut-and-paste messages &mdash; they are against our conditions of
use and we will block them.</p>

<? $signup_form_normal = <<<END
<!-- WriteToThem conventional box, start -->
<div style="padding:0; border:1px solid #999999; width:14em; margin: 0;
            background-color:#FFE88C; font: 83% Helvetica, Arial, sans-serif;">
    <form method="get" action="http://www.writetothem.com/" style="text-align:center">
        <div style="background-color:#D0BF69;padding:3px; color:#2B3260;">
                <strong>Contact Your Politician</strong>
        </div>
        <div style="margin:0.5em; color:#2B3260; background-color: #ffe88c;">
            <div style="margin-bottom:0.25em;">Enter your Postcode below:</div>
            <input type="text" name="pc" size="13">
            <input type="submit" value="Go">
        </div>
    </form>
</div>
<!-- WriteToThem conventional box, end-->
END;
?>

<? $signup_form_envelope = <<<END
<!-- WriteToThem envelope box, start -->
<script type="text/javascript">
    function clearDefault(el) {
      if (el.defaultValue==el.value) el.value = "";
    }
    function fillDefault(el) {
      if (el.value=="") el.value = "Your Postcode";
    }
</script>
<div style="width:167px;height:120px;
    background: url(http://www.writetothem.com/envelope_bg.gif) no-repeat 0 0; 
    font:9pt/11pt arial,helvetica,sans-serif;position:relative;">
    <form method="get" action="http://www.writetothem.com/">
        <div style="padding:55px 0 0 20px;">
            <label for="pc" style="display:none;">
                Contact Your Politician
            </label>
            <input type="text" value="Your Postcode" name="pc" size="13"
                style="width:90px;vertical-align:bottom;
                    font:8pt/11pt arial,helvetica,sans-serif;color:#666;" 
                onfocus="clearDefault(this)" onblur="fillDefault(this)" />
            <input type="image" value="Go" style="vertical-align:bottom;" 
                src="http://www.writetothem.com/envelope_arrow.gif" />
        </div>
    </form>
    <a href="http://www.writetothem.com/" title="Visit writetothem.com" 
    style="display:block;position:absolute;bottom:0;width:100%;overflow:hidden;
    text-indent:-1234em;height:30px;bottom:0;">writetothem.com</a>
</div>
<!-- WriteToThem envelope box, end-->
END;
?>

<h2><a name="envelope"></a>Envelope style box</h2>
<?=$signup_form_envelope ?>
<p>To add the postcode box to your site, copy the HTML code given below into your own webpage. </p>
<pre class="sourcecode"><?=htmlspecialchars($signup_form_envelope)?></pre>

<h2><a name="conventional"></a>Conventional style box</h2>
<?=$signup_form_normal ?>
<p>To add the postcode box to your site, copy the HTML code given below into your own webpage. </p>
<pre class="sourcecode"><?=htmlspecialchars($signup_form_normal)?></pre>


<p>Feel free to hack around with the design as much as you like. Any questions, just drop us a line at <a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a>.</p>

<h2><a name="types"></a>Linking to specific types of representative</h2>

<p>You can also link to a specific type of representative. 
For example, if people on your website are writing only to their MP, use an
address like this.

<pre class="sourcecode">http://www.writetothem.com/?a=westminstermp</pre>

<p>Or if you are using a form to link to us, add this code to your form. It
goes just after the postcode &lt;input&gt; field, and before the submit/go
button one.</p>

<pre class="sourcecode">&lt;input type=&quot;hidden&quot; name=&quot;a&quot; value=&quot;westminstermp&quot;&gt;</pre>

<p>Possible values for "a" in both cases are:</p>
<ul>
<li>westminstermp &mdash; just your MP</li>
<li>council &mdash; all local government councillors (in some areas this will return
district and county councillors, in others unitary authority councillors)</li>
<li>regionalmp &mdash; members of Scottish Parliament, Welsh Assembly, Northern Ireland Assembly, or London Assembly</li> 
<li>mep &mdash; your MEPs (Members of European Parliament)</li>
</ul>

<p>There are some more detailed three letter codes that you can use instead.
Put these in a list as the value of "a", separated by commas ",".  
<ul>
<li>District type councils: DIW &ndash; district council, LBO &ndash; London Borough</li>
<li>Unitary type councils: MTW &ndash; metropolitan district, UTW and UTE &ndash; Unitary authority,
LGE &ndash; Local government district, COP &ndash; Council of the Isles (Scilly)</li>
<li>County councils: CED</li>
<li>London Assembly: LAC &ndash; constituency members, LAE &ndash; list members</li>
<li>Welsh Assembly: WAC &ndash; constituency members, WAE &ndash; list members</li>
<li>Scottish Parliament: SPC &ndash; constituency members, SPE &ndash; list members</li>
<li>Northern Ireland Assembly: NIE</li>
<li>House of Commons: WMC</li>
<li>European Parliament: EUR</li>
</ul>

<p>So, for example, this would only show representatives of district type
councils.  For people entering postcodes in unitary areas, it would say there
were no representatives of that type and offer to show them all their
representatives.

<pre class="sourcecode">&lt;input type=&quot;hidden&quot; name=&quot;a&quot; value=&quot;DIW,LBO&quot;&gt;</pre>

<h2><a name="prefill"></a>Prefilling name and address</h2>

<p>If you already know the name, address or email of the person using your website,
you can send the values to WriteToThem. They will then be defaults for the letter.
The person writing the letter can check or alter them before sending.

<p>
<pre class="sourcecode">&lt;input type=&quot;hidden&quot; name=&quot;writer_email&quot; value=&quot;name@email.address&quot;&gt;</pre>

<p>The fields available are:

<ul>
<li>writer_name</li>
<li>writer_address1</li>
<li>writer_address2</li>
<li>writer_town</li>
<li>writer_county</li>
<li>writer_email</li>
<li>writer_phone</li>
</ul>

<h2><a name="plugins"></a>Plugin for WordPress</h2>

Richard Pope has made a <a href="/WriteToThem.com.zip">WordPress
plugin for WriteToThem</a>. This lets you easily add WriteToThem to your WordPress blog.

<? template_draw('footer', $values); ?>
