<?php

$values['title'] = "WriteToThem for your website";
template_draw('header', $values);

?>

<div class="content">

    <div class="row">
        <div class="large-12 columns">
            <h2>WriteToThem for your website</h2>
        </div>
    </div>

    <div class="row">

        <div class="large-8 columns">

<p>If you just want to link to WriteToThem to tell other people about it, that&rsquo;s <a href="http://www.writetothem.com/about-linktous">easy</a>. But maybe you want something shinier than that &ndash; you&rsquo;ve designed a brand new website for your campaign, you want people to write to their MPs to encourage them to support it, and you&rsquo;d absolutely love this to happen without people needing to leave your website at all.</p>

<p>Great news! Someone has written a little application that allows you to do this. It&rsquo;s called WriteToMP, and here&rsquo;s an example of it in action at the <a href="http://www.lighterlater.org/mp/write">Lighter Later</a> campaign. You&rsquo;ll see that it looks exactly like the campaign&rsquo;s website &ndash; it uses WriteToThem to send the message without the user ever needing to know that that&rsquo;s what&rsquo;s going on.</p>

<p>Before you start, make sure you read our <a href="/about-guidelines">guidelines for campaigners</a>. You must not tell your users to send cut-and-paste messages &ndash; they are against our conditions of use and we will block them. The great thing about this application is that it allows you to suggest the points that you&rsquo;d like people to make when they write their message, but also stresses that they must write in their own words and explains why this is important.</p>

<p>Ready to have a go? <a href="https://github.com/robinhouston/write-to-mp">Here&rsquo;s where you can get the code</a>. Make sure you read all the instructions on that page &ndash; it should be fairly self-explanatory and you don&rsquo;t need much technical knowledge to get it working.</p>

<p>If you have any problems installing the code, <a href="/about-contact">contact us</a> and we&rsquo;ll give you a hand.</p>

        </div>

        <div class="large-4 columns">

            <?php template_draw('about-sidebar'); ?>

        </div>

    </div>
</div>

<?php template_draw('footer', $values); ?>