<?php

$values['title'] = "House of Lords";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>House of Lords</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<dl>

<dt>What is a Lord?</dt>

<dd> <p>The UK Parliament is divided into two. </p>
<p> On one side is the House of Commons where your MP sits; on the other is the House of Lords. Proposed new laws have to be considered by both Houses.</p>
<p> Lords become members through a complex mixture of appointment, religion, hereditary entitlement, and self-election
(<a href="http://www.parliament.uk/business/lords/whos-in-the-house-of-lords/members-and-their-roles/how-members-are-appointed/">more details here</a>).
</p>

<dt>Can I write to my Lord?</dt>

<dd>
<p>Yes. WriteToThem has a <a href="/lords">Write to Your Lord</a> section.</p>
</dd>

<dt>Why write to your Lord?</dt>

<dd><p>Well, they may not be elected, but they still get to vote on, debate, and amend the bills that will affect us all when they become law.</p>
<p>You might write to a Lord to tell them about something you think they should care about.</p>
<p>Or, if a topic is soon to be under debate, you might provide information that will go towards forming their opinion on which way to vote.</p></dd>

<dt>Which Lord should I write to?</dt>

<dd>
<p>The main section of WriteToThem asks you to type in your postcode, so that we can match you with the people who represent you in your constituency.</p>

<p>With Lords, it's different. You may contact any Lord, so how on earth do you choose?</p>
<p>Our <a href="/lords">Write to Your Lord</a> section tries to solve this issue in a few different ways:</p>

<ul><li><p><strong>Method 1</strong> Find a Lord who has a special interest in your issue.</p>

<p>Enter the topic into the box as a word or a phrase. We'll show you a list of the Lords who have mentioned it in Parliament the most times.</p>

<p>Or, if your issue strongly relates to location, try the 'find a Lord with an association to this place' facility.</p></li>

<li><p><strong>Method 2</strong> If your topic is of general human interest, then you might want to make use of the "Random Lord" button - which does exactly its name suggests.</p>

<p>Believe in serendipity? Use the 'Find a Lord who shares my birthday' button, and find out whether your matching horoscopes also mean that your opinions agree.</p></li></ul>

<p>Whatever method you choose, don't feel you have to pick the top Lord: you can follow the links to read a bit about what they've said. </p>

<p>If they're a minister, it'll probably be very hard to influence their opinion, so it's best to pick someone who's not working directly for the Government.</p></li>

</dd>

<dt><a name="ukpostcode">Why do I need a UK postcode to write to a Lord?</a></dt>

<dd>
<p>Lords sit in the UK Parliament. Amongst other things, they vote on the
passing of UK law.</p>

<p> Just as we only let people contact <a href="about-qa#onlyrep">their own MP</a>, we don't let people from outside the UK contact Lords.</p>

<p> Please use the same postcode that you would use to contact your MP.  See <a href="/about-constituency">"What postcode should I use?"</a> if you're not sure what postcode to use, for example if you are in the Armed Services.</p>
</dd>

<dt>How does it work? Do you have all the Lords email addresses?</dt>

<dd><p>Not yet! For many Lords, we send your message to the House of Lords central
email address, as the majority of peers don't have offices.</p>
<p>From there, it will be conveyed to your chosen Lord by the House's internal mail systems.</p>
<p>If you are a peer yourself, and would prefer to receive messages directly,
please <a href="/about-contact">contact us</a>.</p></dd>

<dt>How many Lords can I write to?</dt>

<dd><p>The Parliament website gives more details about <a
href="http://www.parliament.uk/business/lords/whos-in-the-house-of-lords/get-in-touch-with-members/">different ways to contact Lords</a>, and the different limits on sending bulk messages to
all Lords.

<p>We also very aggressively prevent you from sending duplicate messages to Lords. This
is because the House of Lords throw away bulk sent messages, so it is a waste
of time. </p>

<p>Do not tell people to copy and paste pre-written letters to Lords: get them to write in their own words. See our <a href="/about-guidelines">guidelines for campaigning</a> for more information on this.

</p></dd>

<dt>Why should a Lord bother replying to my message?</dt>

<dd><p>Lords aren't actually obliged to respond to letters, and unlike MPs, they don't have constituents. Nor do they have the need to prove their worth in advance of a general election.</p>

<p>That said, we believe that most politicians are actually decent people trying to do their best. So in short, while they don't <em>have to</em> bother, if you take the time to compose a decent letter, there's a better chance that they will.</p> 
</dd>

<dt>Do you have a Lords reform agenda? What do you think about an elected reform?</dt>

<dd><p>Hah! Like we've got time to think about things like that with
<a href="https://www.writetothem.com/">all</a>
<a href="http://www.hearfromyourmp.com/">these</a>
<a href="http://www.publicwhip.org.uk/">pesky</a>
<a href="http://www.theyworkforyou.com/">democratic</a>
websites to run.</p></dd>

<dt><a name="when"></a>
When should I write to a Lord, instead of, say, my MP?</dt>

<dd><p>There are various reasons you might want to write to a Lord.</p>
<p> They may be passionately involved with an issue you care about, or you might disagree with them on an issue that they speak about publicly.</p>

<p>Often you might find that a Bill on a topic you care about has been passed from the Commons to the Lords for debate, amendment or approval. At that point, persuading a Lord might make a real difference to the outcome.</p>

<p> Or, of course, you might just want to ask them what they do, or what they think about something. Whatever: they're <em>your</em> Lords.</p></dd>

<dt>This is great &mdash; how can I help you guys?</dt>

<dd><p>Well, <a href="http://www.mysociety.org/" target="_blank">mySociety</a>, the charity who built and maintain WriteToThem, are always very happy to receive <a href="http://www.mysociety.org/donate/" target="_blank">donations</a>.</p>
<p>There are <a href="http://www.mysociety.org/about/get-involved/#nocode" target="_blank">other, non-monetary ways</a> you can help, too.</p></dd>

</dl>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
