<? $values['title'] = "British Overseas Territories and Crown Dependencies";
    template_draw('header', $values); ?>

<h2><?=$values['title']?></h2>

<p>
At the moment, <b>WriteToThem.com</b> can't directly get you in contact with
elected representatives outside the United Kingdom. But we can try to help you
get in touch by yourself:
</p>

<h3>Crown Dependencies</h3>

<h4><a name="isleofman"></a>Isle of Man</h4>

<p>
Twenty-four members are elected to the
<a href="http://www.tynwald.org.im/keys/">House of Keys</a>, the lower house of
the <a href="http://www.tynwald.org.im/">Tynwald</a>, the Parliament of the
Isle of Man. The
<a href="http://www.tynwald.org.im/keys/members.shtml">current members of Keys</a>; the
<a href="http://www.tynwald.org.im/keys/election.shtml">constituencies from which the members are elected</a>.
</p>

<h4><a name="channel"></a>Channel Islands</h4>

<p>
The Jersey legislature is the <a href="http://www.statesassembly.gov.je/">States Assembly</a>; you can see a <a title="Members of the Jersey legislature" href="http://www.statesassembly.gov.je/members.asp">list of its members</a> with email addresses.
The Guernsey legislature (which covers Alderney and Sark) is the States of Deliberation; there
is a <a title="Members of the Guernsey legislature" href="http://www.gov.gg/ccm/navigation/government/states-members-and-committees/mandates-and-memberships/">list of its members</a>. Alderney has its own States, their members are
<a href="http://www.alderney.gov.gg/index.php/pid/86">listed on their website</a>.
</p>

<h3>British Overseas Territories</h3>

<h4><a name="anguilla"></a>Anguilla</h4>

<p>Anguilla has a House of Assembly with 11 members &ndash; 7 elected for a five year term,
2 ex officio members, and 2 nominated members. The Government of Anguilla's website contains
<a href="http://www.gov.ai/department.php?id=4&dept=26">contact details for the House of Assembly
as a whole</a>.</p>

<h4><a name="bermuda"></a>Bermuda</h4>

<p>
Bermuda's Parliament held its first session in 1620, and
consists of two houses: the elected House of Assembly, and an appointed Senate.
Contact details are available on <a href="http://www.gov.bm/">the website of
the Government of Bermuda</a>.
</p>

<h4><a name="antarctic"></a>British Antarctic Territory</h4>

<p>
The British Antarctic Territory has no elected representatives, and is
administered by the Foreign and Commonwealth Office. You can read
more at the website for the
<a href="http://www.antarctica.ac.uk/">British Antarctic Survey</a>.
</p>

<h4><a name="biot"></a>British Indian Ocean Territory</h4>

<p>The British Indian Ocean Territory has no native inhabitants currently,
now only being home to those currently stationed at the
<a href="http://www.dg.navy.mil/">US Navy Support Facility at Diego Garcia</a>.

<h4><a name="virgin"></a>British Virgin Islands</h4>

<p>The British Virgin Islands have a Legislative Council with 15 members &ndash;
13 elected for a four year term, one ex-officio member and one speaker.

<h4><a name="cayman"></a>Cayman Islands</h4>

<p>
Daily administration of the Islands is conducted by the Executive Council, 5 of
whose 8 members are elected by the Assembly. Elections to the 18-seat Assembly
are usually every four years. Contact details for most members of the Assembly
are given <a href="http://www.gov.ky/">on the website of the Government of the
Cayman Islands</a> (follow the link for "Legislative Assembly" on the left).
</p>

<h4><a name="falklands"></a>The Falkland Islands</h4>

<p>
Eight representatives are elected to the Legislative Council of the Falkland
Islands every four years, five from Stanley and three from the remainder of the
Islands. The Falkland Islands government's web site is at
<a href="http://www.falklands.gov.fk/">http://www.falklands.gov.fk/</a>;
there's a <a href="http://www.falklands.gov.fk/organisation.php" title="Members of the Falklands Islands Council">list of the current members of the Council</a>.
</p>

<h4><a name="gibraltar"></a>Gibraltar</h4>

<p>
There are fifteen members of Gibraltar's legislature, the
<a href="http://www.gibraltar.gov.gi/parliament/parliament_index.htm">House of Assembly</a>, elected by popular vote.
The Gibraltarian Parliament's site includes details of the <a
href="http://www.gibraltar.gov.gi/parliament/house_of_assembly.htm"
title="Members of the Gibraltarian Legislature">current members of the
House</a> (at the bottom of the page); you can write to members at the address,
<address>House of Assembly, 156 Main Street, Gibraltar</address> or contact
them by phone on +350 78420, or by fax to +350 42849.</p>

<p>For the purposes of the EU, Gibraltar is considered part of the
UK's South West region and so is represented by that region's
7 MEPs. Unfortunately you cannot contact them through this site
yet, but here is a <a href="http://www.europarl.europa.eu/members/public/geoSearch/search.do?country=GB&zone=South+West&language=EN">list of the South West UK MEPs</a>, including contact details.
</p>

<h4><a name="montserrat"></a>Montserrat</h4>

<p>
Montserrat has a Legislative Council of nine members, elected for a five year term.
A Governor and an Executive Council (ExCo) are responsible for day-to-day administration.
Members of the ExCo are partly drawn from the members of the Legislative Council.
There is
<a href="http://www.gov.ms/index/exco.htm">information about ExCo members on
the Montserrat government website</a>, but no details for members of the
Legislative Council.
</p>

<h4><a name="pitcairn"></a>Pitcairn Islands</h4>

The Pitcairn Islands have an Island Council made up of ten members, four of
whom are elected directly and serve one-year terms.

<h4><a name="sthelena"></a>St Helena, Ascension Island, and Tristan da Cunha</h4>

<p>
The website of the government of St Helena is at
<a href="http://www.sainthelena.gov.sh/">http://www.sainthelena.gov.sh/</a>.
Twelve members are elected to a Legislative Council every four years; there
is a <a href="http://www.sainthelena.gov.sh/government/legislative.htm" title="Members of the Saint Helena Council">list of the members of the Council</a>.
</p>

<p>
Ascension Island presently has no democratic representatives. There is an
Administrator, and proposals to create an elected Islands Council. You can
read more at
<a href="http://www.ascension-island.gov.ac/">http://www.ascension-island.gov.ac/</a>.
</p>

<p>
Tristan da Cunha is governed by an Administrator, appointed by the Governor
of St Helena. The Administrator is advised by an Island Council of eight
elected members.
</p>

<h4><a name="southgeorgia"></a>South Georgia and the South Sandwich Islands</h4>

<p>
South Georgia and the South Sandwich Islands are governed by a Commissioner
(who is also Governor of the Falklands) from the Falkland Islands. There are
no elected representatives for the islands, as there are no permanent inhabitants.
</p>

<h4><a name="turksandcaicos"></a>Turks and Caicos Islands</h4>

<p>
The head of government is the Premier. The Executive Council (their
Cabinet) consists of three ex officio members and five appointed by the
governor from among the members of the House of Assembly. The
Legislative Council consists of 19 seats, of which 15 are popularly elected.
Cable and Wireless have a site listing
<a href="http://www.tcimall.tc/government/">Ministers of the islands</a>,
the official website appears to be missing.
</p>

<? template_draw('footer', $values); ?>
