<?php

$values['title'] = "Emailing WriteToThem.com";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>Emailing WriteToThem.com</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

    <? fyr_display_emailform($values); ?>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);