<? $values['title'] = "Who are you lot, and why are you doing this?"; include "header.php"; ?>

<h2><?=$values['title']?></h2>

<p>The predecessor to this site, <b>FaxYourMP.com</b>, was built by a group of volunteers who
thought that it would be a good thing if it was easier for people to contact their MPs.</p>

<p><b>mySociety</b> is a charitable organisation which has grown out of this community of
volunteers. Our first project was to take FaxYourMP and rebuild it bigger and better.
mySociety's primary mission is to build internet projects which give people simple,
tangible benefits in the civic and community aspects of their lives. This is the
FaxYourMP ethic, and mySociety's job is to extend it via a series of new sites.
WriteToThem is the first of five projects we're building in 2005.</p>

<p>We got some funding to help do this from the Office of the Deputy Prime
Minister's e-innovations fund, in partnership with West Sussex County Council. Many thanks to them.</p>

<p>Like all mySociety projects, <b>WriteToThem</b> combines the work of some core
developers, who are paid to keep working when everyone else gets bored, and
volunteers. Here is the list of everyone who's helped build FaxYourMP or
WriteToThem.com:</p>

<ul>
<li>Owen Blacker
<li>James Cronin
<li>Cait Hurley
<li>Manar Hussain
<li>Malcolm Hutty
<li>Francis Irving
<li>Chris Lightfoot
<li>Tom Loosemore
<li>Stefan Magdalinski
<li>Adam McGreggor
<li>Danny O'Brien
<li>Sam Smith
<li>Alaric Snell
<li>Matthew Somerville
<li>Tom Steinberg
<li>Stuart Tily
<li>Sam Urquhart
<li>Matt Zandstra
</ul>

<p><a href="/about-contact">How to contact us</a></p>

<p>P.S. Some of these people have recently helped to launch <a href="http://www.theyworkforyou.com/">TheyWorkForYou.com</a> a
new website which lets you keep track of what your MP does and says in Parliament.</p>

<? include "footer.php"; ?>
