<?php

$values['title'] = "Who should I write to?";
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-12 columns">
                <h2>Who should I write to?</h2>
            </div>
        </div>

        <div class="row">

            <div class="large-8 columns">

<p>As a UK citizen, you have many representatives, at several levels of government. </p>
<p>Each of them has a different set of responsibilities, and it is worth making sure that your message goes to the person who is best placed to help you.</p>

<ul class="side-nav">
<li><a href="#mp">When should I contact my MP?</a></li>
<li><a href="#councillor">When should I contact a councillor?</a></li>
<li><a href="#msp">When should I contact an MSP?</a></li>
<li><a href="#mla">When should I contact an MLA?</a></li>
<li><a href="#welsh">When should I contact a Senedd Member?</a></li>
<li><a href="#gla">When should I contact a Greater London Assembly Member?</a></li>
</ul>

<A NAME="mp"></A>
<?php include('yourrep/mp.html') ?>

<A NAME="councillor"></A>
<h2>When should I contact a councillor?</h2>

<p>Councillors have differing responsibilities depending on which council you
live in. Because of these variations we are only able to give you
‘rule-of-thumb’ guidance here.</p>

<p>Firstly, in England you may have two levels of council: County and District, in
which case their responsibilities are divided as follows:</p>

<ul>
<li><strong>District Councillors:</strong> If you have one or more District Councillor,
they tend to deal with issues around <strong>council housing, planning, rubbish
collection, the local environment, and the administration of
elections.</strong></li>
<li><strong>County Councillors:</strong> If you have one or more county councillors, they
tend to deal with <strong>education, transport and roads, fire and social services
plus libraries</strong>.</li>
</ul>

<p>Otherwise, you will have only one council, whose responsibilities differ
depending on exactly where you live. We describe these on the page which lists
your councillors.</p>

<p>Don’t worry if you’re not absolutely sure who to pick! Whoever you write to
should forward your letter to the most appropriate person, if you haven’t got it quite right.</p>

<A NAME="msp"></A>
<?php include('yourrep/msp.html') ?>

<A NAME="mla"></A>
<?php include('yourrep/mla.html') ?>

<A NAME="welsh"></A>
<?php include('yourrep/am.html') ?>

<A NAME="gla"></A>
<?php include('yourrep/lam.html') ?>

            </div>

            <div class="large-4 columns">

                <?php template_draw('about-sidebar'); ?>

            </div>

        </div>
    </div>
</div>

<?php template_draw('footer', $values);
