<div class="card card-lg card-text-center">
    <?php $values['donate_shown'] = True; ?>
    <h2>
    Can you help other people who need to send a message?
    </h2>
    <p>With your support, we can help more people get their message to the right place.</p>
    <a href="https://www.mysociety.org/donate?utm_source=writetothem.com&utm_content=help+others&utm_medium=link&utm_campaign=<?= $values['utm_campaign'] ?>" class="hero__donate__button mysoc-footer__donate__button">Donate now</a>
</div>
<br><br>
