<? 
$values['title'] = "We'll send your message now";
include "header.php"; 
?>

<h3>All done... We'll send your message now</h3>

<p>Thank you. We will send your message to your representative right now.</p>

<ul>
<li>If for some reason your message can't be sent to your representative,
or doesn't get through, we'll email you again to give you a chance to send it
by more conventional means.</li>
<li>Otherwise, we'll email you in a fortnight's time asking if your
representative replied.  We want your feedback on the responsiveness of
individual representatives so as to keep our performance data up to date.</li>
</ul>

<p style="font-size: 130%">Please send us any
<a href="mailto:help@writetothem.com">thoughts, complaints or comments</a>
about this testing service.</p>

<h3 align="center">Coming Soon - <a
href="http://www.mysociety.org/cgi-bin/moin.cgi/PledgeBank">PledgeBank</a></h3>

<p>Are you involved with a community group or charity? Do you wish you had
a powerful tool for encouraging people to act together? <a
href="http://www.mysociety.org/cgi-bin/moin.cgi/PledgeBank">PledgeBank</a>
will be a simple site where anyone can set up a pledge, thus:

<p><i>"I'll go to this meeting if 50 other local people do"</i>, or:

<p><i>"I'll start recycling if 10,000 other people in the UK pledge to"</i>.

<p>If that sounds like something you're interested in, please <a href="mailto:pb@mysociety.org">email us</a>, we're currently hunting for people to use the service when it's hot off the presses.

<? include "footer.php"; ?>
