<?php

$values['title'] = _("We’ll send your message now");
$values['robots'] = 'noindex, nofollow';
$values['skip_header'] = TRUE;
$values['utm_campaign'] = 'submitted_page';

template_draw('header', $values);

?>

<div class="row hero hero-transparent">
    <div class="large-8 large-centered columns">
        <div class="ms_header_nav">
            <nav>
                <ul class="menu">
                    <li id="ms_logo"><a class="ms_header_nav-logo" href="https://www.mysociety.org">&nbsp;</a></li>
                </ul>
            </nav>
        </div>
        <a href="/" class="wtt-logo"><img src="/static/img/logo.png" width="250" height="70" alt="WriteToThem"></a>
        <div class="hero-text-container">
        <div class="card card-lg">
            <h2>
                <svg style="vertical-align: sub;" viewBox="0 0 16 16" width="2.5rem" height="2.5rem" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 16C9.05058 16 10.0909 15.7931 11.0615 15.391C12.0321 14.989 12.914 14.3997 13.6569 13.6569C14.3997 12.914 14.989 12.0321 15.391 11.0615C15.7931 10.0909 16 9.05058 16 8C16 6.94943 15.7931 5.90914 15.391 4.93853C14.989 3.96793 14.3997 3.08601 13.6569 2.34315C12.914 1.60028 12.0321 1.011 11.0615 0.608964C10.0909 0.206926 9.05058 -1.56548e-08 8 0C5.87827 3.16163e-08 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16ZM7.79378 11.2356L12.2382 5.90222L10.8729 4.76444L7.05067 9.35022L5.07289 7.37156L3.816 8.62844L6.48267 11.2951L7.17067 11.9831L7.79378 11.2356Z" fill="var(--success-color)"/>
                    </svg>
                <?= _('Your message is on its way') ?>
            </h2>
            <p><?= _('If there is a problem getting your message through, we will email you to tell you. Otherwise, you can sit back and relax.') ?></p>
        </div>

        <br><br>
        <?php if ($values['form']): ?>
        <div class="card card-md">
            <h2 class="subtitle"><?= _('If you have time could you answer a couple of questions?') ?></h2>
            <?= $values['form'] ?>
            <small class="text-muted"><?= _('We use this information in combination with your postcode to understand what people in different parts of the country are writing to their representatives about. We do not publish the raw responses/postcodes, only summaries of the general topics and areas.') ?></small>
        </div>

        <br><br>

        <?php endif; ?>
        <?php template_draw('can-you-help', $values) ?>
    </div>
    </div>

</div>

<div class="row index-content">
    <div class="large-10 large-centered columns">

        <?php if ($values['recipient_via']): ?>
        <p>Your message may be slow to deliver, because we do not have a direct contact
        address for <?=$values['group_id'] ? 'your representatives' : $values['recipient_name'] ?>.
        Instead we are sending the message via the body to which they were elected.
        </p>
        <?php endif; ?>

        <div class="row">

            <div class="large-8 columns sent-content">

                <h3><?= _('Common Questions') ?></h3>

                <ul class="side-nav">
                    <li><a href="/about-qa#noreply"><?= sprintf(_('What should I do if %s reply?'), $values['group_id'] ? _('my representatives don’t') : sprintf(_("%s doesn’t"), $values['recipient_name'])) ?></a></li>
                    <li><a href="/about-qa#guarantee"><?= _('Can you guarantee my message will be sent?') ?></a></li>
                    <li><a href="/about-qa#howsitsent"><?= _('How are messages sent?') ?></a></li>
                </ul>

            </div>

            <div class="large-4 columns">
                <div class="panel advert">
                    <h3><a href="https://www.fixmystreet.com/around?pc=<?=urlencode($values['sender_postcode'])?>"><?= _('Potholes, broken lights or graffiti?') ?></a></h3>
                    <p><?= sprintf(_('You can quickly and easily report common street-side problems to your council using <a href="https://www.fixmystreet.com/around?pc=%s">FixMyStreet</a>.'), urlencode($values['sender_postcode'])) ?></p>
                </div>
            </div>

        </div>

    </div>
</div>

<?php
$values['credit'] = '<a href="https://www.freeimages.com/photographer/hisks-57682">' . _('Photograph by Krzysztof Szkurlatowski') . '</a>';
template_draw('footer', $values);
