<?php

$values['title'] = _("Oops... Something didn’t quite work.");
$values['robots'] = 'noindex, nofollow';

template_draw('header', $values);

?>

<div class="row write-header">
    <div class="large-8 large-centered columns">

        <h2><?= _('Oops&hellip; Something didn’t quite work.') ?></h2>

    </div>
</div>

<div class="row">
    <div class="large-10 large-centered columns">

        <hr>

        <p><?= sprintf(
            _('Thank you for trying to confirm your fax/email. We seem to have a problem though, so please let us know what went on and send a copy of the confirmation email to <a href="mailto:%s">%s</a> and we’ll look into it.'),
            OPTION_CONTACT_EMAIL, OPTION_CONTACT_EMAIL
            ) ?>
        </p>

    </div>
</div>

<?php template_draw('footer', $values);
