<? 
$values['title'] = "We'll send your message now";
include "header.php"; 
?>

<h2>All done... We'll send your message now</h2>

<ul>
    <li>In a fortnight, we'll send you an email to see if your representative replied.</li>
</ul>

<p style="font-size: 130%">Please send us any
<a href="mailto:team@writetothem.com">thoughts, complaints or comments</a>
about this testing service.</p>

<h2 id="pledgebank" align="center">Coming Soon - <a href="/about-pledgebank">PledgeBank Needs You</a></h2>

<? include "footer.php"; ?>
