<?php

global $va_type_name;
$va_info = $values['va_info'];

$values['title'] = "Thanks for your corrections to " . $va_info['name'] . " " . $va_type_name[$va_info['type']] . "!";
$values['robots'] = 'noindex, nofollow';
template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <h2><?=$values['title'] ?></h2>

        <p>We’ll use them on the site as soon as we can.  Contributions like yours help
        volunteer maintained sites like this keep up to date. </p>

        <div class="panel advert">
            <h3><a href="https://www.mysociety.org/about/get-involved/">Non geeks and geeks required</a></h3>
            <p>Help us build sites, and publicise them.</p>
        </div>

    </div>
</div>

<?php template_draw('footer', $values);
