<? $va_info = $values['va_info'];

$values['title'] = $va_info['name'] . " " . $va_info['type_name'] ." Corrections";
$values['robots'] = 'noindex, nofollow';
include "header.php";

?>

<h2><?=$values['title'] ?></h2>

<p>Thank you for helping us keep up to date.</p>

<? if (count($values['reps_info']) != 1) { ?>
<p>Below are the <?=$va_info['rep_name_plural'] ?> from <strong><?=$va_info['name'] ?> 
<?=$va_info['type_name']?></strong>
in <?=$values['parent_info']['name']?>.
Please edit any that are incorrect, or select the checkbox for anyone who isn't a <?=$va_info['rep_name'] ?> in this <?=$va_info['type_name'] ?> at all.</p>
<? } else { ?>
<p>Below is the <?=$va_info['rep_name'] ?> from <strong><?=$va_info['name'] ?></strong>.
Please edit their details if they are incorrect.</p>
<? } ?>
<form action="corrections" method="post">
<?php

if (count($values['reps_info'])) {
    print '<table style="margin: 0 auto" border="1" cellpadding="3" cellspacing="0">
    <tr><th>Current details</th><th>Name</th><th>Party</th>';
    if (count($values['reps_info']) > 1) print '<th>Delete?</th>';
    print '</tr>';
    foreach ($values['reps_info'] as $id => $rep) {
        print '<tr><td align="right">'.$rep['name'].', '.$rep['party'].':</td><td><input type="text" name="name['.$id.']" size="20" value="'.$rep['name'].'"></td><td><input type="text" name="party['.$id.']" size="20" value="'.$rep['party'].'"></td>';
        if (count($values['reps_info']) > 1) {
            print '<td align="center"><input type="checkbox" name="delete['.$id.']" value="1"></td>';
        }
        print '</tr>';
    }
    print '</table>';
}

if (count($values['reps_info']) > 1) { ?>
<p>Alternatively, if this <?=$va_info['type_name'] ?> is missing a <?=$va_info['rep_name'] ?>, please fill in their details below:</p>

<label for="newname">Missing <?=$va_info['rep_name'] ?>'s name:</label> <input type="text" id="newname" name="new[name]"> and <label for="newparty">party:</label> <input type="text" id="newparty" name="new[party]">
<? } ?>
<p>If you looked up this information on the web, please tell us the address of the page where you found it:
<input type="text" name="url" id="url" value="http://" size="50"></p>

<p>Do you have any other information that would be useful to us? (Optional)<br>
<textarea name="notes" id="notes" rows="8" cols="50"></textarea></p>

<p>Lastly, you may optionally give us your email address, so we can contact you if we have any queries with your submission:
<input type="text" name="email" id="email" value="" size="50"></p>

<p align="right">
<input type="submit" value="Submit my changes">
<input type="hidden" name="id" value="<?=$values['id'] ?>">
</p>
</form>

<? 
include "footer.php"; ?>
