<? $va_info = $values['va_info'];

$values['title'] = "Thanks for your corrections to " . $va_info['name'] . " " . $va_info['type_name'] . "!";
$values['robots'] = 'noindex, nofollow';
template_draw('header', $values);

?>

<h2><?=$values['title'] ?></h2>

<p>We'll use them on the site as soon as we can.  Contributions like yours help
volunteer maintained sites like this keep up to date. </p>

<h2 id="advert" align="center">
<a href="http://www.mysociety.org/volunteertasks">Non geeks and geeks required</a>.
<br>
Help us build sites, and publicise them.
</h2>

<? 
template_draw('footer', $values); ?>
