<div id="preview">
	<table width="100%" cellpadding="0" cellspacing="0" border="0">
		<tr>

            <TD VALIGN="top" ALIGN="left"><B>FOR THE ATTENTION OF:</B><BR><BR>
    <B>
    <?=$values['rep_text']?>
    <BR>
    <?=$values['voting_area']['name']?> 
    <BR><BR>
    <?=$values['date']?>      </B>
    </TD>
    <TD VALIGN="top" ALIGN="right">
    <BR>

    <?=$values['writer_name']?><BR>
    <?=$values['writer_address1']?><BR>
    <?=$values['writer_address2']?><? if ($values['writer_address2']) print "<BR>";?>
    <?=$values['writer_town']?><BR>
    <?=$values['writer_county']?><? if ($values['writer_county']) print "<BR>";?>
    <?=$values['pc']?><BR>
    <BR>
    <?=$values['writer_email']?><BR>
    <?=$values['writer_phone']?>
    </TD>
    </TR>
    <TR>
    <TD COLSPAN="2"><IMG SRC="/images/tiny.gif" WIDTH="1" HEIGHT="20" BORDER="0"></TD>
    </TR>

    <TR>

    <TD COLSPAN="2" ALIGN="left">
    <p>
    <?=nl2br(htmlspecialchars($values['body_indented']))?>
    </p>
    </TD>
    </TR>
    </TABLE>
</div>
