<? 
$values['title'] = "Thanks, and we hope it's not the last";
template_draw('header', $values);
?>

<h1>Many thanks - We hope you enjoyed the experience</h1>

<p>Thanks for that - the statistics should help us convince politicians that
they could do more on the Web to encourage greater participation in the
democratic process.
</p>

<p>If you've got any questions, feel free to contact us at <a
 href="mailto:team@writetothem.com">team@writetothem.com</a></p>

<?=fyr_display_advert($values)?>

<? template_draw('footer', $values); ?>
