<?php

template_draw('header', $values);

?>

<div class="content">
    <div class="row">
        <div class="large-12 columns">

    <?=$values['blurb-top'] ?>

    <? if ($values['error']): ?>
    	<div class="alert-box alert">
    		<?=$values['error']?>
    	</div>
    <? endif; ?>

        </div>
    </div>

    <div class="row">
        <div class="large-4 columns">

            <?=$values['form']?>

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">

            <hr>

            <h5>Did you type the letter 'O' instead of a zero?</h5>
            <p>This is an easy mistake to make. The most likely culprit is the first digit in the second part of the code. You need to put, for example: <code>N8 0NP</code>  rather than <code>N8 ONP</code>.</p>

            <h5>Did you type the letter 'I' instead of a figure 1?</h5>
            <p>Like the error above, this is easy enough to do. Again, the most likely culprit is the first digit in the second part of the code. You need to put, for example: <code>BD3 1RF</code> rather than <code>BD3 IRF</code>.</p>

            <h5>If neither of the above applies, but you're still having no luck, try these tips:</h5>
            <ul>
                <li>It is quite possible the Royal Mail has changed this postcode (it is surprisingly common). You can check by using <a href="http://www.royalmail.com/postcode-finder">the Royal Mail postcode finder site</a>.</li>
                <li>If you aren't sure what postcode to use, for example you are an expat, in the armed forces, are homeless or a prisoner, read "<a href="/about-constituency">What postcode should I use?</a>".</li>
            </ul>

            <h5>Worries you can rule out:</h5>
            <ul>
                <li>It makes no difference whether you leave a space between the two parts of the postcode: we will recognise it either way.</li>
                <li>It makes no difference whether you use capital letters or not.</li>
            </ul>

       </div>
    </div>
</div>

<script>
<?=javascript_focus_set('postcodeForm', 'pc'); ?>
</script>

<?php

template_draw('footer', $values);

?>