<?php
$values['skip_header'] = TRUE;
template_draw('header', $values);
?>

<div class="row hero">
    <div class="large-10 large-centered columns">
        <div class="ms_header_nav">
            <nav>
                <ul class="menu">
                    <li id="ms_logo"><a class="ms_header_nav-logo" target="_blank" href="http://www.mysociety.org">&nbsp;</a></li>
                </ul>
            </nav>
        </div>
        <a href="/" class="wtt-logo"><img src="/static/img/logo.png" style="width:250px;height:70px;" alt="WriteToThem"></a>
        <div style="text-align:center;">
            <?=$values['blurb-top'] ?>
        </div>
    </div>
</div>

<?php if ($values['error']): ?>
<div class="row">
    <div class="large-10 large-centered columns">
        <div class="alert-box alert">
            <?=$values['error']?>
        </div>
    </div>
</div>
<?php endif; ?>

<div class="row index-input">
    <div class="large-4 large-centered columns" style="text-align:center;">

        <?=$values['form']?>

    </div>
</div>

<div class="row index-input flow-breadcrumbs">
    <div class="large-8 large-centered columns">

        <?=fyr_breadcrumbs(1)?>

    </div>
</div>

<?php if ($values['all_url']): ?>
<div class="row index-content">
    <div class="large-10 large-centered columns" style="text-align:center;">
        <p>You may also have representatives at other levels of government.
        <br><a href="<?=$values['all_url']?>">Show all representatives</a> to view them as well.</p>
    </div>
</div>
<? endif; ?>

<script type="text/javascript">
<?=javascript_focus_set('postcodeForm', 'pc'); ?>
</script>

<?php
$values['credit'] = '<a href="http://www.fortybelowzero.com/">Photograph by Rick Harrison</a>';
template_draw('footer', $values);
