<?php
$values['skip_header'] = TRUE;
$values['body_class'] = 'home';
template_draw('header', $values);
?>

<div class="row row-full-width hero">
    <div class="large-10 large-centered columns">
        <a href="https://www.mysociety.org/" id="mysociety-badge" aria-label="20 years of mySociety">
            <img class="badge-desktop" src="/static/img/badge-mysociety-desktop@2x.png" width="60" height="80" alt="A service from mySociety">
            <img class="badge-mobile" src="/static/img/badge-mysociety-mobile@2x.png" width="48" height="60" alt="A service from mySociety">
        </a>
        <a href="/" class="wtt-logo"><img src="/static/img/logo.png" width="250" height="70" alt="WriteToThem"></a>
        <a href="/about-qa" target="_blank" class="wtt-help" title="Opens in a new window">Help</a>
        <div style="text-align:center;">
            <?=$values['blurb-top'] ?>
            <?php if ($values['num_messages']) {
                echo "<!-- * $values[cobrand] messages: $values[num_messages] -->";
            } ?>
        </div>
    </div>
</div>

<?php if ($values['error']): ?>
<div class="row row-full-width">
    <div class="large-10 large-centered columns" role="alert">
        <div class="alert-box alert">
            <?=$values['error']?>
        </div>
    </div>
</div>
<?php endif; ?>

<div class="row row-full-width index-input">
    <div class="large-4 large-centered columns" id="index-search" role="search">

        <?=$values['form']?>

    </div>
</div>

<div class="row row-full-width index-input flow-breadcrumbs">
    <div class="large-8 large-centered columns">

        <?=fyr_breadcrumbs(1)?>

    </div>
</div>

<?php if ($values['all_url']): ?>
<div class="row row-full-width index-content">
    <div class="large-10 large-centered columns" style="text-align:center;">
        <p>You may also have representatives at other levels of government.
        <br><a href="<?=$values['all_url']?>">Show all representatives</a> to view them as well.</p>
    </div>
</div>
<?php endif; ?>

<script type="text/javascript">
<?=javascript_focus_set('postcodeForm', 'pc'); ?>
</script>

<?php
$values['credit'] = '<a href="https://www.fortybelowzero.com/">Photograph by Rick Harrison</a>';
// $values['credit'] = '<a href="https://unsplash.com/photos/OQMZwNd3ThU">Photograph by Helloquence</a>';
template_draw('footer', $values);
