<?
template_draw('header', $values);
?>

<?=$values['blurb-top'] ?>

<? if ($values['error']) { ?>
	<p class="warning">
		<strong><?=$values['error']?></strong>
        <br>See below for some suggestions on getting the postcode right.
        <br>Example postcode: N5 2PL
	</p>
<? } ?>

<?=$values['form']?>

<p>
   <b>Did you type the letter 'O' instead of a zero?</b>
   <br>
   This is an easy mistake to make. The most likely culprit is the first
   digit in the second part of the code. You need to put, for example:
   N8 0NP  rather than N8 ONP.
   <p>
   <b>Did you type the letter 'I' instead of a figure 1?</b>
   <br>
   Like the error above, this is easy enough to do. Again, the most
   likely culprit is the first digit in the second part of the code. You
   need to put, for example: BD3 1RF rather than BD3 IRF.
   <p>
   <b>If neither of the above applies, but you're still having no luck,
   try these tips:</b>
   <ul>
   <li>It is quite possible the Royal Mail has changed this postcode (it
   is surprisingly common). You can check by using
   <a href="http://www.royalmail.com/portal/rm/postcodefinder">this postcode finder site</a></li>
   </ul>
   <p><b>Worries you can rule out:</b>
   <ul>
   <li>It makes no difference whether you leave a space between the two
   parts of the postcode: we will recognise it either way.</li>
   <li>It makes no difference whether you use capital letters or
   not.</li>
   </ul>

<script type="text/javascript"><!--
<?=javascript_focus_set('postcodeForm', 'pc'); ?>

// -->
</script>
<? 
/* The above focuses on the postcode box. Must come after the box is created, obviously. */

template_draw('footer', $values);

?>
