<?
template_draw('header', $values);
?>

<div class="hero">
    <div class="row">
        <div class="large-12 columns">
            <a href="/"><img src="/static/img/logo.png" alt="WriteToThem"></a>
        </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <?=$values['blurb-top'] ?>
        </div>
    </div>
</div>

<?php if ($values['error']): ?>
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box alert">
            <?=$values['error']?>
        </div>
    </div>
</div>
<?php endif; ?>

<div class="row index-input">
    <div class="large-6 large-centered columns">

        <h3>Get started</h3>
        <?=$values['form']?>

    </div>
</div>

<?php if ($values['all_url']): ?>
<div class="row">
    <div class="large-12 columns">
        <div class="alert-box">
            <p align="center">You may also have representatives at other levels of government.
            <br><a href="<?=$values['all_url']?>">Show all representatives</a> to view them as well.</p>
        </div>
    </div>
</div>
<? endif; ?>

<div class="content index-content">

    <div class="row">
        <div class="large-4 columns">
            <h4>As simple as</h4>
        </div>

        <div class="large-8 columns">
            <h4>About</h4>
            <div class="row">
                <div class="large-6 columns">
                    <p>Bacon ipsum dolor sit amet adipisicing ullamco sed swine ad velit rump et bacon ham hock corned beef voluptate. Jowl hamburger incididunt, eiusmod magna ullamco et rump drumstick andouille ex ground round est bresaola ribeye. Spare ribs pork loin nostrud, chicken fugiat cupidatat aute turkey andouille shoulder jowl eiusmod.</p>
                </div>
                <div class="large-6 columns">
                    <p>Do you need <a href="/about-constituency">help with your postcode</a>?</p>
                    <p>Are you <a href="/about-campaigns">running a campaign</a>?</p>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
<?=javascript_focus_set('postcodeForm', 'pc'); ?>
</script>

<?php template_draw('footer', $values);