<?
template_draw('header', $values);
?>

<? // print fyr_breadcrumbs(1, 'lords') ?>

<style type="text/css">
li {
	padding-top: 2em;
}
</style>
<h2>Which Lord would you like to write to?</h2>

<ul>

<li>
<form action="/lords" method="get" name="randomLordForm" id="randomLordForm">
I've no idea!
Give me a
<input type="hidden" name="random_lord" value="1">
<input type="submit" value="Random Lord">
<?=$values['form_extra']?>
</form>
</li>

<li>
<form action="http://www.theyworkforyou.com/search/" method="get" name="topicLordForm" id="topicLordForm">
Find a Lord <select name="interest"><option>interested
<option>not interested
</select> in my topic:

<input type="input" name="s" id="s" value="" size="20" disabled>
<input type="hidden" name="o" value="p">
<input type="hidden" name="house" value="2">
<input type="submit" value="Go">
<?=$values['form_extra']?>
</form>
</li>

<li>
<form action="http://www.theyworkforyou.com/search/" method="get" name="topicLordForm" id="topicLordForm">

Find a Lord with some association with this place or postcode:

<input type="input" name="s" id="s" value="" size="10" disabled>
<input type="hidden" name="o" value="p">
<input type="hidden" name="house" value="2">
<input type="submit" value="Go">
<?=$values['form_extra']?>
</form>

<li>
<form action="http://www.theyworkforyou.com/search/" method="get" name="topicLordForm" id="topicLordForm">
Find a Lord who went to this Oxbridge college:

<input type="input" name="s" id="s" value="" size="10" disabled>
<input type="hidden" name="o" value="p">
<input type="hidden" name="house" value="2">
<input type="submit" value="Go">
<?=$values['form_extra']?>
</form>

<li>
<form action="/lords" method="get" name="dateLordForm" id="dateLordForm">
Find a Lord who shares my birthday:

<input type="input" name="d" id="d" value="" size="10">
<input type="submit" value="Go">
<?=$values['form_extra']?>
</form>

</ul>

<?  /*if (OPTION_FYR_REFLECT_EMAILS) { ?>
    <p align="center"><b>Note:</b> This is a test version of the
    site.  Messages will <b>not</b> be delivered to representatives.
    Instead a copy will be sent to you as if you were the
    representative, so you can see what it looks like.
<?  } */?>

<?
template_draw('footer', $values);
?>
