<?
template_draw('header', $values);
?>

<? // print fyr_breadcrumbs(1, 'lords') ?>

<h2>Which Lord would you like to write to?</h2>

<h3>1. I've no idea!

<form action="/lords" method="get" name="randomLordForm" id="randomLordForm">
<div id="postcodebox">
<label>Give me a</label>&nbsp;
<input type="hidden" name="random_lord" value="1">
<input type="submit" value="Random Lord">
<?=$values['form_extra']?>
</div></form>

<h3>2. Find a Lord interested in my topic

<form action="http://www.theyworkforyou.com/search/?s=chocolate&o=p" method="get" name="topicLordForm" id="topicLordForm">
<div id="postcodebox">
<label>Topic:</label>&nbsp;
<input type="input" name="s" id="s" value="" size="10">
<input type="hidden" name="o" value="p">
<input type="submit" value="Go">
<?=$values['form_extra']?>
</div></form>


<?  /*if (OPTION_FYR_REFLECT_EMAILS) { ?>
    <p align="center"><b>Note:</b> This is a test version of the
    site.  Messages will <b>not</b> be delivered to representatives.
    Instead a copy will be sent to you as if you were the
    representative, so you can see what it looks like.
<?  } */?>

<?
template_draw('footer', $values);
?>
