<div class="card card-lg card-text-center">
    <h2><?= _('Sign up to mySociety’s newsletter') ?></h2>
    <p><?= _('WriteToThem is run by the charity mySociety. Sign up to hear about our work making UK politics more accessible.') ?></p>
    <form action="https://mysociety.us9.list-manage.com/subscribe/post?u=53d0d2026dea615ed488a8834&amp;id=287dc28511&amp;f_id=002244e1f0" method="post" class="inline-newsletter-form">
        <div class="row collapse">
            <div class="small-8 columns">
                <input type="email" name="EMAIL" placeholder="<?= _('Your email address') ?>" required>
            </div>
            <div class="small-4 columns">
                <input type="submit" name="subscribe" class="button success prefix" value="<?= _('Subscribe') ?>">
            </div>
        </div>
        <div aria-hidden="true" style="position: absolute; left: -5000px;">
            <!-- Add the tag WTT-user -->
            <input type="hidden" name="tags" value="11866284">
            <input type="text" name="b_53d0d2026dea615ed488a8834_287dc28511" tabindex="-1" value="">
        </div>
        <a href="https://www.mysociety.org/privacy#newsletter"><?= _('Your data') ?></a>
    </form>
</div>
<br><br>
