<?php	
	
$values['title'] = "Help us by answering a few quick questions";	
$values['robots'] = 'noindex, nofollow';	
	
template_draw('header', $values);	
	
?>

<script src="https://www.surveygizmo.com/s3/4342879/WTT-Political-Information-Survey?__no_style=true&amp;__output=embedjs&amp;__ref=pol-info-survey&amp;recipient_id=<?=$values['recipient_id']?>&amp;first_use=<?=$values['questionnaire_1_yes'] ? 'true' : 'false'; ?>" type="text/javascript">
</script>

<noscript>
<a href="https://www.surveygizmo.com/s3/4342879/WTT-Political-Information-Survey?__no_style=true&amp;jsfallback=true&amp;recipient_id=<?=$values['recipient_id']?>&amp;first_use=<?=$values['questionnaire_1_yes'] ? 'true' : 'false'; ?>">Please click here to answer additional questions.</a>
</noscript>
<style>.sg-survey{display:none; }</style>
	
<?php template_draw('footer', $values);