<?php	
	
$values['title'] = "Help us by answering a few quick questions";	
$values['robots'] = 'noindex, nofollow';	
$url = 'https://www.surveygizmo.com/s3/4342879/WTT-Political-Information-Survey?__no_style=true&amp;__ref=pol-info-survey&amp;recipient_id=' . $values['recipient_id'] . '&amp;first_use=' . ($values['questionnaire_1_yes'] ? 'true' : 'false');
	
template_draw('header', $values);	
	
?>

<script src="<?=$url?>&amp;__output=embedjs" type="text/javascript">
</script>

<noscript>
<a href="<?=$url?>&amp;jsfallback=true">Please click here to answer additional questions.</a>
</noscript>
<style>.sg-survey{display:none; }</style>
	
<?php template_draw('footer', $values);