<? 
$values['title'] = "Problem with your message";
template_draw('header', $values);
?>

<h2>You have already sent a message to a Lord</h2>

<p>Sorry, but we currently only allow one message a day per person to members of the House of Lords, as we are using the House of Lords fax machine for all correspondence.
Please read our <a href="/about-lords">Frequently Asked Questions</a> for more information.</p>

<p>All the usuals<br>
-The WriteToThem.com Team</p>

<? template_draw('footer', $values); ?>
