<?php

if (!isset($values['skip_header'])) {
    $values['title'] = "Problem with your message";
    $values['robots'] = 'noindex, nofollow';
    template_draw('header', $values);
}

?>

<div class="row write-header">
    <div class="large-8 large-centered columns">

        <h2>Too many similar messages have been sent</h2>

    </div>
</div>

<div class="row">
    <div class="large-10 large-centered columns">

        <p>Sorry, but we have to limit the number of similar messages sent to members
            of the House of Lords, as they have told us they simply disregard
            more than a handful messages of substantially identical content arriving
            within a couple of days. The Parliament website gives <a
            href="http://www.parliament.uk/about/how/members/lords_contact.cfm">
            details of how to send mailshots to all Lords by post</a>.</p>

        <p>If you wish to try again, please use the "back" button in your browser
            and rewrite your message.</p>

        <p>Please read our <a
            href="/about-lords">Frequently Asked Questions</a> for more information about
            WriteToThem Lords.</p>

    </div>
</div>

<?php

if (!isset($values['skip_header'])) {
    template_draw('footer', $values);
}