<?
 if (!isset($values['skip_header'])){
     $values['title'] = "Problem with your message";
     template_draw('header', $values);
}
?>

<h2>You seem to be sending messages with several different postcodes</h2>

<p>Sorry, but please read <a href="/about-qa#onlyrep">this</a> to understand
why our site only lets you write to <em>your own elected representatives</em>,
not those for other parts of the country.</p>

<p>If we didn't do this, then representatives would be snowed under with mail
from all and sundry, and that would mean they ignored the important mail from
their own constituents. They might even bin <strong>all</strong> messages
sent via WriteToThem.com.</p>

<p>Either of which would be A Bad Thing.</p>

<p>If somebody else suggested that you do this to get their message across, you
might want to let them know potentially sabotaged their own campaign too.
Perhaps you might ask them to read the
<a href="/about-guidelines">instructions</a> on the site next time?</p>

<p>
If you wish to send a message, please <a href="/">start again from the
beginning</a> and give only your own, real address and postcode when asked.
</p>


<?
if (!isset($values['skip_header'])){
?><p>All the usuals<br>
-The WriteToThem.com Team</p>
<?
    template_draw('footer', $values);

}
?>


