<?
 if (!isset($values['skip_header'])){
     $values['title'] = "Problem with your message";
     template_draw('header', $values);
}
?>

<h2>Your message is near-identical to others sent previously</h2>

<p>Please read <a href="/about-qa#formletters">our stance on this issue</a>
to understand why sending identikit "copied and pasted" messages
is detrimental to your campaign.</p>

<p>Sorry to be so harsh, but representatives have made it clear that the
receipt of such fax "spam" could mean they bin <strong>all</strong> messages
sent via WriteToThem.com.</p>

<p>Which would be A Bad Thing.</p>

<p>You might like to let the person who asked you to do this that they've
potentially sabotaged their own campaign too. Point them to our <a
href="/about-guidelines">Guidelines for campaigning</a>.</p>

<p>If you wish to rewrite your message, use the "back" button in your browser and
write it in your own, original, words. It's better to send a short message
in your own words, than a long, mainly copy-and-pasted message with a 
few amendments.
</p>


<?
if (!isset($values['skip_header'])){
?> <p>All the usuals<br>
-The WriteToThem.com Team</p>
<?
    template_draw('footer', $values);
}
?>


