<? 
$values['title'] = "Problem with your message";
template_draw('header', $values);
?>

<h2>Too many similar messages have been sent</h2>

<p>Sorry, but we have to limit the number of similar messages sent to members
of the House of Lords. We are using the House of Lords fax machine
for all correspondence, and they have told us they simply disregard
more than 6 messages of substantially identical content arriving
within a couple of days. The Parliament website gives <a
href="http://www.parliament.uk/about/how/members/lords_contact.cfm">
details of how to send mailshots to all Lords by post</a>.</p>

<p>
If you wish to try again, please use the "back" button in your browser
and rewrite your message.
</p>

<p>Please read our <a
href="/about-lords">Frequently Asked Questions</a> for more information about
WriteToThem Lords.</p>

<p>All the usuals<br>
-The WriteToThem.com Team</p>

<? template_draw('footer', $values); ?>
