<?
 if (!isset($values['skip_header'])){
     $values['title'] = "Problem with your message";
     template_draw('header', $values);
}
?>

<h2>You have sent too many messages to Lords</h2>

<p>Sorry, but we have to limit the number of messages sent to members
of the House of Lords. We are using the House of Lords fax machine
for all correspondence, and they have told us they simply disregard
more than 6 messages from one person within a couple of days. The
Parliament website gives <a
href="http://www.parliament.uk/about/how/members/lords_contact.cfm">
details of how to send mailshots to all Lords by post</a>.</p>

<p>Please read our <a
href="/about-lords">Frequently Asked Questions</a> for more information about
WriteToThem Lords.</p>

<?
if (!isset($values['skip_header'])){
?><p>All the usuals<br>
-The WriteToThem.com Team</p>
<?
    template_draw('footer', $values);

}
?>


