<?php

if (!isset($values['skip_header'])) {
	$values['title'] = "Problem with your message";
	$values['robots'] = 'noindex, nofollow';
	template_draw('header', $values);
}

?>

<div class="content">

    <div class="row write-header">
        <div class="large-8 large-centered columns">

            <h2>Message Rejected</h2>

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
        
        	<p>Sorry, but we've had to reject your message. Please see if you have broken
				any of our <a href="about-guidelines">Guidelines for Campaigning</a>. If you
				don't think that you have, then <a href="/about-contact">contact us</a>.
        
        </div>
    </div>

</div>

<?php

if (!isset($values['skip_header'])) {
	template_draw('footer', $values);
}

?>