<? 
$values['title'] = "Problem with your message";
template_draw('header', $values);
?>

<h2>You have sent too many messages to Lords</h2>

<p>Sorry, but we currently limit the number of messages sent per week to
members of the House of Lords. We notice that you've sent a lot of messages. We
are using the House of Lords fax machine for all correspondence, and Parliament
would not like us to overload it. The Parliament website says "<a
href="http://www.parliament.uk/about/how/members/lords_contact.cfm">Bulk faxes
for all Peers are not accepted</a>"; that same pages explains how to send
mailshots to all Lords by post.</p>

<p>Please read our <a
href="/about-lords">Frequently Asked Questions</a> for more information about
WriteToThem Lords.</p>

<p>All the usuals<br>
-The WriteToThem.com Team</p>

<? template_draw('footer', $values); ?>
