<? 
 if (!isset($values['skip_header'])){
     $values['title'] = "Problem with your message";
     template_draw('header', $values);
}
?>

<h2>Message Rejected</h2>

<p>Sorry, but we've had to reject your message. Please see if you have broken
any of our <a href="about-guidelines">Guidelines for Campaigning</a>. If you
don't think that you have, then contact us at
<a href="mailto:team&#64;writetothem.com">team&#64;writetothem.com</a>.


<? 
if (!isset($values['skip_header'])){

?> <p>All the usuals<br>
-The WriteToThem.com Team</p>
<?
    template_draw('footer', $values); 
}
?>
