<? $values['title'] = $values['voting_area']['rep_prefix'] . " " . $values['representative']['name'] . 
    $values['voting_area']['rep_suffix'] . "'s Control Panel";
template_draw('header', $values); ?>

<h1><?=$values['title'] ?></h1>

<p>Hello, and welcome to your control
panel for WriteToThem.com, the website which makes it easy for
constituents to contact their elected representatives.  If you are not
<?=$values['representative']['name']?>,
<?=$values['voting_area']['rep_name_long']?> for
<?=$values['voting_area']['name']?>,
or one of their staff, then please <a href="/about-contact">contact us</a>.
</p>

<h2>Recent messages</h2>

<? $c = count($values['messages']);
if ($c == 0) { ?>
    There are no messages which you have recently received that you
    could forward.
<?
} else {
?>
<table>
<hr>
<?  foreach ($values['messages'] as $message) { ?>
    <!--<tr><td colspan="2" align="center" height="4" bgcolor="#cecece"></td></tr>
    <tr><td width="50%"><?=$left_column?></td><td
    valign="bottom"><?=$right_column?></td></tr> -->
    <b><?=$message['name']?></b> wrote
    "<?=$message['short_body']?>"
    <br><a href="<?=$message['url']?>">Click here to
    forward this message to another of <?=$message['name']?>'s
    representatives who would be better placed to deal with
    the query than you</a>
    <hr>
<?
    }
}
?>
</table>

<? template_draw('footer', $values); ?>
