<? 
$values['title'] = "Thanks for your feedback... and one *last* question";
template_draw('header', $values);
?>

<h1>Thanks for your feedback... and one *last* question</h1>

<p>Oh dear... that's not so good.</p>

<p>We're very grateful for your feedback, although we're as disappointed
as you must be that your representative has not responded &mdash; sometimes
they have good reason, sometimes not.</p>

<p>Occasionally it's actually our fault that the representative has not
responded (if they change their fax numbers or email address we're
sometimes slow in catching up).

<p>One last, *last* question (we promise...)</p>

<ul>
<li><b>Is this the first time you've ever contacted one of your
political representatives, by any means? &nbsp; 
<a href=<?=$values['first_time_yes']?>>YES</a> / <a
href=<?=$values['first_time_no']?>>NO</a></b>
</ul>

<p>Why are we being so nosey? Well, one of our aims is to convince
politicians that, used wisely, the Web can encourage much greater
participation in the democratic process.

<p>Thanks again for your feedback.</p>

<p>&mdash; The WriteToThem.com team</p>

<? template_draw('footer', $values); ?>
