<? 
$values['title'] = "Thanks for your feedback... and one *last* question";
template_draw('header', $values);
?>

<h1>Thanks for your feedback... and one *last* question</h1>

<p>Great! Many, many thanks for your feedback. We're delighted that your
representative got back to you.</p>

<p>One last, <em>last</em> question (we promise...)</p>

<ul>
<li><b>Is this the first time you've ever contacted one of your
elected representatives, by any means? &nbsp; 
<a href=<?=$values['first_time_yes']?>>YES</a> / <a
href=<?=$values['first_time_no']?>>NO</a></b>
</ul>

<p>Why are we being so nosey? Well, one of our aims is to convince
Parliament that, used wisely, the Web can encourage much greater
participation in the democratic process.
</p>

<p>Thanks again for your feedback.</p>

<p>&mdash; The WriteToThem.com team</p>

<? template_draw('footer', $values); ?>
