<?php

$values['title'] = "Thanks for your feedback... and a few more questions";
$values['robots'] = 'noindex, nofollow';
template_draw('header', $values);

?>

<div class="row write-header">
    <div class="large-8 large-centered columns">

        <h2>Thanks for your feedback!</h2>

        <p>We hope your representative gets back to you with a full answer soon.</p>

        <p>If they don't then see <a href="/about-qa#noreply" target="_blank">What should I do if my MP (or other representative) doesn't reply?</a> (opens in new window).</p>


    </div>
</div>

<div class="row">
    <div class="large-8 large-centered columns">

        <?php template_draw('ucl-survey', $values); ?>

    </div>
</div>

<?php template_draw('footer', $values); ?>
