<?php

$values['title'] = "Thanks for your feedback... and a few more questions";
$values['robots'] = 'noindex, nofollow';
template_draw('header', $values);

?>

<div class="row write-header">
    <div class="large-8 large-centered columns">

        <h2>Thanks for your feedback!</h2>

        <p>Great! Many, many thanks for your feedback. We're delighted that your
            representative got back to you.</p>


    </div>
</div>

<div class="row">
    <div class="large-8 large-centered columns">

        <?php template_draw('ucl-survey', $values); ?>

    </div>
</div>

<?php template_draw('footer', $values); ?>
