<?php

template_draw('header', $values);

$data = $values['data'];
$info = $data['info'];

$share_url = 'https://www.writetothem.com/stats/' . $values['year'] . '/mps';
$tweet_text = 'I found out how responsive my MP was in @mysociety’s ' . $values['year'] . ' league table. See how yours did!';
$facebook_text = 'I found out how responsive my MP was in mySociety’s ' . $values['year'] . ' league table. See how yours did!';

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="row">
            <div class="large-8 columns">
                <div class="zg-year-bar"><?=$values['year_bar']?></div>
            </div>
            <div class="large-4 columns">
              <p class="zg-share">
                  <a href="https://twitter.com/share" class="twitter-share-button" data-url="<?=$share_url?>" data-size="large" data-text="<?=$tweet_text ?>" data-count="none" data-dnt="true">Tweet</a>
                  <a href="https://www.facebook.com/dialog/share?app_id=1058215044225767&display=popup&href=<?=urlencode($share_url)?>&quote=<?=urlencode($facebook_text)?>" class="facebook-share-button" data-url="<?=$share_url?>" data-text="<?=$facebook_text ?>">Share</a>
              </p>
            </div>
        </div>

        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

        <script>
          window.fbAsyncInit = function() {
            FB.init({
              appId: '1058215044225767',
              xfbml: true,
              version: 'v2.6'
            });
          };
          (function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;};js=d.createElement(s);js.id=id;js.src="//connect.facebook.net/en_US/sdk.js";fjs.parentNode.insertBefore(js,fjs);}(document,'script','facebook-jssdk'));
        </script>

        <h2 class="big-title"><?=$values['title']?></h2>

        <div class="navigation-tabs"><?=$values['navigation_tabs']?></div>

        <div class="statistics-page">

          <p>
              WriteToThem doesn&rsquo;t just cover MPs.
              In <?=$values['year']?>, WriteToThem users sent a total of
              <strong><?=number_format($values['type_summary']['total']['dispatched_success']) ?></strong>
              messages to their elected (and unelected) representatives, including
              <strong><?=number_format($info['non_mp_sent']) ?></strong> to
              local councillors, MEPs, Lords, and members of regional assemblies.
          </p>

          <?php if (array_key_exists('lords', $values['type_summary'])): ?>
            <h3 id="electedbodies">Which elected body* had the most responsive members in <?=$values['year']?>?<br><small>(* and the House of Lords)</small></h3>
          <?php else: ?>
            <h3>Performance of elected bodies in <?=$values['year']?></h3>
          <?php endif; ?>

            <table>
                <tr>
                <th>Rank</th>
                <th>Elected body</th>
                <th>Response rate (in 2 to 3 weeks) *</th>
                <th>People writing for first time &#8224;</th>
                <th>Messages sent</th>
                <!--<th>First time</th>-->
                </tr>
                <?php
                $c = 0;
                $type_map = array(
                    'europe' => 'Members of the European Parliament',
                    'scotland' => 'Members of the Scottish Parliament',
                    'wales' => 'Welsh Assembly Members',
                    'northern_ireland' => 'Northern Ireland Assembly Members',
                    'london' => 'London Assembly Members',
                    'westminster' => 'House of Commons',
                    'lords' => 'House of Lords',
                    'council' => 'Councillors',
                    'total' => 'Total / average'
                );
                foreach ($values['types_by_responsiveness'] as $type) {
                    $c++;
                    $value = $values['type_summary'][$type];
                    print '<tr>';
                    if ($type != "total")
                        print "<td>$c.</td>";
                    else
                        print "<td>&nbsp;</td>";
                    print "<td>".$type_map[$type]."</td>";
                    print "<td>";
                    if ($type == 'total') {
                        print round(100 * $value['responded'] / $value['responded_outof'], 0) . "%";
                        print " <i class=\"totals\">(" . number_format($value['responded']) . " out of " . number_format($value['responded_outof']) . ")</i>";
                    } else {
                        print round(100 * $value['responded_mean'], 0) . "%";
                        print " <i class=\"totals\">(" . number_format($value['responded']) . " out of " . number_format($value['responded_outof']) . ")</i>";
                    }
                    print "</td>";
                    print "<td>";
                    if ($type == 'total') {
                        print round(100 * $value['firsttime'] / $value['firsttime_outof']) . "%";
                    } else {
                        print round(100 * $value['firsttime_mean'], 0) . "%";
                    }
                    print " <i class=\"totals\">(" . number_format($value['firsttime']) . " out of " . number_format($value['firsttime_outof']) . ")</i>";
                    print "</td>";
                    print "<td>".number_format($value['dispatched_success'])."</td>";
                    #print "<td>".number_format($value['dispatched_success'] * $value['firsttime'] / $value['firsttime_outof'])."</td>";
                    print "</tr>";
                }
                ?>

            </table>

          <?php if ($values['year'] < 2006) { ?>
            <p><strong>Note:</strong> The Northern Ireland Assembly was added to
                WriteToThem.com in February 2006, so does not appear here.</p>

          <?php } elseif ($values['year'] == 2006) { ?>
            <p><strong>Note:</strong> The Northern Ireland Assembly was added to
                WriteToThem.com in February 2006, so figures are for only part of the year.</p>

          <?php } ?>

            <p><small>* Measured by survey of all users, asking 2 to 3 weeks after sending the message
                if they have got a response yet.
                <br>&#8224; Measured by survey of all users, asking if this is the first time they
                have written to an elected representative of any kind.</small></p>

        </div> <!-- /statistics-page -->
    </div>
</div>

<?php template_draw('footer', $values); ?>
