<? template_draw('header', $values); ?>

<h2><?=$values['title']?></h2>
<p></p>

<h2>Different types of representative</h2>
<table>
<tr>
<th>Representative</th>
<th>Messages sent</th>
<th>Responsiveness</th>
<th>First time</th>
</tr>
<?
foreach ($values['type_summary'] as $key => $value) {
    print "<tr>";
    print "<td>$key</td>";
    print "<td>".$value['dispatched_success']."</td>";
    print "<td>".round(100*$value['responded']/$value['responded_outof'],1)."</td>";
    print "<td>".round(100*$value['firsttime']/$value['firsttime_outof'],1)."</td>";
    print "</tr>";
}
?>
</table>

<h2>Responsiveness of each party</h2>
<p>For MPs of each party, percentage of messages responded to 
within 2 or 3 weeks.
<table>
<tr> <th>Party</th> <th>Responsiveness</th></tr>
<?
foreach ($values['parties_by_responsiveness'] as $party) {
    if ($party == 'Deputy Speaker') continue;
    if ($party == 'Speaker') continue;
    $value = $values['party_summary'][$party];
    print "<tr>";
    print "<td>$party</td>";
    print "<td>".round(100*$value['responded']/$value['responded_outof'],1)."%</td>";
    print "</tr>";
}
?>
</table>

<h2>First time by party</h2>
<p>Number of constituents writing to one of their representatives for the
first time. You can see that people in Respect and Lib Dem constituencies
are more likely to have previously contacted a representative, whereas
those with a Sinn Féin MP are quite likely to be doing so for the first time.
<table>
<tr> <th>Party</th> <th>First time</th> </tr>
<?
foreach ($values['parties_by_firsttime'] as $party) {
    if ($party == 'Deputy Speaker') continue;
    if ($party == 'Speaker') continue;
    $value = $values['party_summary'][$party];
    print "<tr>";
    print "<td>$party</td>";
    print "<td>".round(100*$value['firsttime']/$value['firsttime_outof'],1)."%</td>";
    print "</tr>";
}
?>
</table>


<?  template_draw('footer', $values); ?>
