<?php

template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <h2><?=$values['title']?></h2>

        <p>
        Due to last year's General Election, we'll be publishing the next WriteToThem responsiveness data table in mid-2016.
</p>

<p>
This will ensure a level playing field, as all MPs will have been in position for a full year.
</p>

<p>
If you'd like to know when it goes live, <a href="https://www.mysociety.org/subscribe/">subscribe to the mySociety newsletter</a>, <a href="https://www.mysociety.org/blog/">follow our blog</a> or add us on <a href="https://twitter.com/mysociety">Twitter</a> or <a href="https://www.facebook.com/mySociety/">Facebook</a>.
</p>
    </div>
</div>

<?php template_draw('footer', $values);
