<?php

template_draw('header', $values);

$data = $values['data'];
$info = $data['info'];
$data = $data['data'];
$sort = $info['sort'];
$mp = $info['mp'];

$tweet_text = 'I found out how responsive my MP was in @mysociety’s ' . $values['year'] . ' league table. See how yours did!';

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <h2><?=$values['title']?></h2>

        <ul class="inline-list">
            <li><a href="/stats/<?=$values['year']?>/zeitgeist">Summary</a></li>
            <li><b>MP Responsiveness League Table</b></li>
        </ul>

        <hr>

        <form method="get">
            <p><label for="pc">Enter your postcode and see how your MP was ranked for responding to constituents’ emails in <?=$values['year']?>:</label><input type="text" id="pc" name="pc" value="<? if (isset($mp['pc'])) print htmlspecialchars($mp['pc']); ?>" size="8">
            <input type="submit" class="button small success" value="Look up"></p>
        </form>

        <?php if (is_array($mp)):
            $h_name = htmlspecialchars($mp['name']);
        ?>

        <?
            $same_stat = 1;
            $position = 0;
            $last_response = -1;
            $last_low = -1;
            $mp_ranking_string = '';

            foreach ($data as $row) {
                if ($row['response'] != $last_response || $row['low'] != $last_low) {
                    $position += $same_stat;
                    $same_stat = 1;
                    $last_response = $row['response'];
                    $last_low = $row['low'];
                } else {
                    $same_stat++;
                }

                if ($row['person_id'] == $mp['person_id']) {

                    $mp_ranking_string = '<li>' . $h_name . ' is ranked at ' . $position . ' out of ' . count($data) . ' MPs for responsiveness</li>';
                    $tweet_text = 'My MP was ranked ' . $position . ' out of ' . count($data) . ' in @mysociety’s ' . $values['year'] . ' responsiveness league table. See how yours did!';
                    break;
                }
            }
        ?>

        <ul>
            <li>In <?=$values['year']?> your MP was <b><?=$h_name ?></b>, <?=$mp['party'] ?> MP for <?=$mp['area'] ?></li>
        <? if ($mp['notes']) { ?>
            <li><?=$mp['notes'] ?>, and as such we haven’t ranked this MP</li>
        </ul>

        <? } else { ?>
            <?=$mp_ranking_string ?>
            <li>That rates this MP’s responsiveness as <b><?=fuzzy_response_description($mp['response']) ?></b></li>
            <? if ($mp['fymp_response']) { ?>
            <li>Their response rate for the previous year was <b><?=fuzzy_response_description($mp['fymp_response']) ?></b></li>
            <? } ?>
        </ul>

        <p>How this result was calculated:</p>

        <ul>
            <li>Last year, WriteToThem users sent <?=$mp['dispatched_success'] ?> messages to this MP</li>
            <li>Out of those, <?=$mp['responded_outof']?> users responded to our &lsquo;did you receive a reply’ survey</li>
            <li><?=$mp['responded']?> (<?=round(($mp['responded']/$mp['responded_outof'])*100,0) ?>%) of those users confirmed that they had received a response</li>
        </ul>

        <? } ?>

        <!-- <p><a href="/?pc=<?=htmlspecialchars($mp['pc']) ?>">Send a message to one of your representatives</a></p> -->

        <p>
        <b>Find out more about <?=$h_name ?></b><br>
        See how this MP voted, and more, on <a href="http://www.theyworkforyou.com/mp?pid=<?=str_replace('uk.org.publicwhip/person/', '', $mp['person_id']) ?>">TheyWorkForYou</a>
        </p>

        <?php endif; ?>

        <p><a href="https://twitter.com/share" class="twitter-share-button" data-url="https://www.writetothem.com/stats/<?=$values['year']?>/mps" data-size="large" data-text="<?=$tweet_text ?>" data-count="none" data-dnt="true">Tweet</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></p>

        <?php
        $head_name = 'Name (Party)'; if ($sort != 'n') $head_name = '<a href="?o=n">' . $head_name . '</a>';
        $head_cons = 'Constituency'; if ($sort != 'c') $head_cons = '<a href="?o=c">' . $head_cons . '</a>';
        $head_messages = 'Messages sent to MP'; if ($sort != 's') $head_messages = '<a href="?o=s">' . $head_messages . '</a>';
        $head_response = 'Response rate of MP'; if ($sort != 'r') $head_response = '<a href="?">' . $head_response . '</a>';
        if ($values['year'] != 2013) {
            $head_response .= '<br><small>(Previous year)</small>';
        }
        ?>
        <table>
        <tr>
        <? if ($sort == 'r') print '<th>Position</th>'; ?>
        <th><?=$head_name ?></th>
        <th><?=$head_cons ?></th>
        <th><?=$head_messages ?></th>
        <th>Surveys saying "MP replied" out of total number of survey answers</th>
        <th><?=$head_response ?></th>
        <!--<th>95% confidence interval</th>-->
        </tr>
        <?

        $c = 0;
        $same_stat = 1;
        $position = 0;
        $last_response = -1;
        $last_low = -1;
        $linebreak = false;
        foreach ($data as $row) {
            $c++;
            print '<tr';
            $tdclass = "";
            if ($sort == 'r' && !$linebreak && $row['notes']) {
                $tdclass = "break";
                $linebreak = true;
            }
            print '>';
            if ($sort == 'r') {
                if ($row['response'] != $last_response || $row['low'] != $last_low) {
                    $position += $same_stat;
                    $same_stat = 1;
                    $last_response = $row['response'];
                    $last_low = $row['low'];
                } else {
                    $same_stat++;
                }
                print '<td class="c '.$tdclass.'">';
                if (!$row['notes']) {
                    print "$position";
                    /*
                    print "<br><small>";
                    if ($row['fymp_rank']) {
                        $diff = $position - $row['fymp_rank'];
                    if ($diff<0) print '(<img alt="Up" src="/images/arrow_up.png"> ' . -$diff . ')';
                    elseif ($diff>0) print '(<img alt="Down" src="/images/arrow_down.png"> ' . $diff . ')';
                    else print '(<img alt="Same" src="/images/arrow_right.png"> =)';
                    } else {
                        print '(New)';
                        }
                    print '</small>';
                    */
                }
                print '</td>';
            }
            print '<td class="'.$tdclass.'">';
            $href = str_replace(' ', '_', htmlspecialchars(strtolower($row['name'])));
            if ($href == 'angela_smith' || $href == 'gareth_thomas')
                $href .= ',' . str_replace(' ', '_', strtolower($row['area']));
            print '<a name="' . $href . '"></a>';
            print '<a href="http://www.theyworkforyou.com/mp?pid='.str_replace('uk.org.publicwhip/person/', '', $row['person_id']).'">';
            print str_replace(' ','&nbsp;', htmlspecialchars($row['name']));
            print '</a>';
            print '<br><small>';
            print $row['party'];
            print "</small></td>";
            print "<td class=\"$tdclass\">$row[area]</td>";
            print "<td class=\"$tdclass\">$row[sent]</td>";
            if ($row['notes']) {
                print '<td colspan="4" class="'.$tdclass.'">' . $row['notes'];
            } else {
                print "<td class=\"$tdclass\">".$row['responded']." out of ". $row['responded_outof']."</td>";
                print "<td class=\"$tdclass\"><strong>" . fuzzy_response_description($row['response']) . "</strong>";
                #print "<td class=\"$tdclass\">" . round($row['response']*100, 1) . "%</td>";
                #print "<td>" . round($row['low']*100, 0) . "%&ndash;" . round($row['high']*100, 0) . "%</td>";
                if ($row['fymp_response']) {
                    if ($row['fymp_notes']) {
                        print '<br><small>(unknown)</small>';
                    } else {
                        print '<br><small>(' . fuzzy_response_description($row['fymp_response']). ')</small>';
                    }
                }
            }
            print "</td>";
            print "</tr>\n";
        }
        print '</table>';

        ?>

        <p>WriteToThem sent <strong><?=number_format($info['total_dispatched_success']) ?></strong>
            messages to MPs in the year <?=$values['year']?> and <strong><?=number_format($info['non_mp_sent']) ?></strong> to other elected representatives.
            <strong><?=number_format($info['total_responded_outof']) ?></strong> people answered our feedback survey
            about communicating with their MP.
            <? if ($values['year'] < 2006) { ?>
                This asked whether MPs had responded to their message within 2 to 3 weeks.
            <? } else if ($values['year'] >= 2006) { ?>
                <p>The survey asked whether people had had <strong>a reply (not just an acknowledgement)</strong> from their
                representative.
                <? if ($values['year'] == 2006) { ?>
                    (Actually the text of the survey changed slightly in both March and April 2006. You
                    can <a href="https://github.com/mysociety/writetothem/commits/master/templates/emails/questionnaire">see in our
                    source code repository</a> when this happened, and what changed).
                <? } ?>
            <? } ?>
            </p>

        <p>People were surveyed initially <strong>after 2 weeks</strong>, and if they
            didn’t answer, were surveyed again <strong>after 3 weeks</strong>. Because of
            this, and because of the way different people interpret the survey, you should
            interpret the figures below with caution.

        <p><strong>Journalists:</strong> Please feel free to use the data on this page,
            but if you do you <strong>must cite WriteToThem.com</strong> in the body of
            your articles as the source of any analysis or data you get from this site.
            Statistics without a referenced source are dangerous, so please do this.</p>

        <p><strong>Note:</strong> While some MPs are very slow at responding to
            constituents mail, that doesn’t mean they aren’t otherwise active in or around
            Parliament on behalf of their constituents. You can see MPs voting record,
            committee memberships and interests on their <a href="http://www.theyworkforyou.com">TheyWorkForYou</a> page.</p>

        <p>If you would like to do further processing, there is an <a href="?xml=1">XML version</a>
            of this data.</p>

        <hr>

        <div class="zg-year-bar"><?=$values['year_bar']?></div>

    </div>
</div>

<?php template_draw('footer', $values); ?>
