<?php

$values['title'] = "Help us by answering a few quick questions";
$values['robots'] = 'noindex, nofollow';
$url = 'https://www.surveygizmo.com/s3/4563120/A-few-more-questions-2?__no_style=true&amp;__ref=pol-info-survey&amp;message_id=' . $values['id'];

template_draw('header', $values);

?>

<div class="row">
    <div class="large-10 large-centered columns">

        <script src="<?=$url?>&amp;__output=embedjs" type="text/javascript">
        </script>

        <noscript>
        <a href="<?=$url?>&amp;jsfallback=true">Please click here to answer additional questions.</a>
        </noscript>
        <style>.sg-survey{display:none; }</style>

    </div>
</div>

<?php template_draw('footer', $values);
