<?php

$values['title'] = _("Thanks");
$values['robots'] = 'noindex, nofollow';

template_draw('header', $values);

?>

<div class="row write-header">
    <div class="large-8 large-centered columns">

        <h2><?= _("Many thanks") ?></h2>

    </div>
</div>

<div class="row">
    <div class="large-10 large-centered columns">

        <p><?= _("Thanks for helping us understand more about who is using WriteToThem, so we can improve it for future users.") ?></p>

        <p><?= _("If you’ve got any questions, feel free to") ?> <a href="/about-contact"><?= _("contact us") ?></a>.</p>

        <?=fyr_display_advert($values)?>

    </div>
</div>

<?php template_draw('footer', $values);
