<?php

$values['title'] = _("Thanks");
$values['robots'] = 'noindex, nofollow';
$values['utm_campaign'] = 'survey_done_page';

template_draw('header', $values);

?>

<div class="survey-thanks-wrapper">
    <h2><?= _("Many thanks") ?></h2>

    <p><?= _("WriteToThem is run by the charity mySociety. It's just one of our websites which help to break down barriers to democratic participation.") ?></p>

    <?=fyr_display_advert($values)?>

    <?php template_draw('can-you-help', $values) ?>
    <?php template_draw('newsletter-signup', $values) ?>
</div>

<?php template_draw('footer', $values);
