<?php

$values['title'] = "Thanks for your help";
$values['robots'] = 'noindex, nofollow';
$values['utm_campaign'] = 'survey_thanks';

template_draw('header', $values);

?>

<div class="row">
    <div class="large-6 large-centered columns">

        <div class="card card-lg card-text-center">
            <h2><?= _('Thanks for your help') ?></h2>
            <p><?= _("Thank you for telling us more about your message.") ?></p>
            <p><?= _("We'll use this in combination with other people's responses to build a better picture on what people are writing to their representatives about.") ?></p>
            <p><?= _("We do not publish the raw responses/postcodes, only summaries of the general topics and areas.") ?></p>
        </div>

        <br><br>

        <?php template_draw('can-you-help', $values) ?>
        <?php template_draw('newsletter-signup', $values) ?>
    </div>
</div>

<?php
template_draw('footer', $values);
