<? $values['title'] = "Now select the representative you'd like to contact";
$values['robots'] = 'index, nofollow';
include "header.php";
?>
<h2><?=$values['title'] ?></h2>

<? if ($values['error']) { ?>
<p class="warning">
<?=$values['error']?>
</p>
<? } ?>

<? if (!sizeof($values['reps'])) { ?>
<p><big><em>Sorry, but we've not got any data for your area. Please 
<a href="mailto:team@writetothem.com">mail us</a> and let us know that this matters
to you.</em></big></p>
<? } else {
$cols = sizeof($values['reps']);
?>

<p>You have several elected representatives at different levels of government. <b>If you aren't sure who to contact, please read <a href="about-yourrep">this advice</a>.</b></p>

<table id="repstable" cellpadding="5" cellspacing="0" border="0">
    <tr valign="top">
<?
$c = 0;
$pc = round(100/$cols);
foreach ($values['headings'] as $row) {
    print '<th scope="col" class="';
    print ($c) ? 'maincol' : 'firstcol';
    print '" width="' . $pc . '%">' . $row . '</th>';
    $c++;
}
?>
    </tr>
    <tr valign="top">
<?
$c = 0;
$pc = round(100/$cols);
foreach ($values['reps'] as $row) {
    print '<td class="';
    print ($c) ? 'maincol' : 'firstcol';
    print '">' . $row . '</td>';
    $c++;
}
?>
</tr>
</table>
<? }

include "footer.php"; ?>
