<?php

$values['title'] = "Now select the representative you&rsquo;d like to contact";
$values['robots'] = 'index, nofollow';

template_draw('header', $values);

?>

<div class="content">
    <div class="row">
        <div class="large-10 large-centered columns flow-breadcrumbs">

            <?=fyr_breadcrumbs(2)?>

        </div>
    </div>

    <div class="row write-header">
        <div class="large-8 large-centered columns">

            <h2><?=$values['title'] ?></h2>

            <?php if (sizeof($values['reps']) > 0): ?>

                <?php if ($values['all_url']): ?>
                    <p>You have several elected representatives at different levels of government.
                    One level is shown here, or you can
                    <a href="<?=$values['all_url']?>">see all your representatives</a>.</p>
                <?php else: ?>
                    <p>You have several elected representatives at different levels of government.<br>
                    <small>If you aren't sure who to contact, please read <a href="about-yourrep">this advice</a>.</small></p>
                <?php endif; ?>

            <?php endif; ?>

        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <div class="panel radius write-content">

                <?php if (sizeof($values['reps']) === 0): ?>

                    <?php if ($values['all_url']): ?>
                        <p><big>Sorry, but you don't have any representatives of this type.
                        Instead, <a href="<?=$values['all_url']?>">show all your representatives</a>.
                        </big></p>
                    <?php else: ?>
                        <p><big>Sorry, but we've not got any data for your area. Please
                        <a href="/about-contact">contact us</a> and let us know that this matters
                        to you.</big></p>
                    <? endif; ?>

                <?php else: ?>

                    <?php foreach ($values['reps'] as $key => $rep): ?>

                        <h3><?=$values['headings'][$key]?></h3>

                        <div class="row">

                            <div class="large-4 columns rep-blurb">
                                <?=$values['blurbs'][$key]?>
                            </div>

                            <div class="large-4 columns rep-list">
                                <?=$rep?>
                            </div>

                            <div class="large-4 columns rep-more">
                                <?=$values['more'][$key]?>
                            </div>

                        </div>

                    <?php endforeach; ?>

                <?php endif; ?>

            </div>
        </div>
    </div>

</div>

<?php template_draw('footer', $values); ?>