<?php

$values['title'] = "Choose your representative";
$values['robots'] = 'index, nofollow';

template_draw('header', $values);

?>

<div class="row flow-breadcrumbs">
    <div class="large-8 large-centered columns">

        <?=fyr_breadcrumbs(2)?>

    </div>
</div>

<div class="row write-header">
    <div class="large-8 large-centered columns" role="heading">

        <h2><?=$values['title'] ?></h2>

        <?php if (sizeof($values['reps']) > 0): ?>

            <?php if ($values['all_url']): ?>
                <p>You have several elected representatives at different levels of government.</p>
                <p>One level is shown here, or you can
                <a href="<?=$values['all_url']?>">see all your representatives.</p>
            <?php else: ?>
                <p>You have several elected representatives at different levels of government.</p>
                <p class="help-text"><a href="about-yourrep">Not sure who to contact?</a></p>
            <?php endif; ?>

        <?php endif; ?>

    </div>
</div>

<div class="row">
    <div class="large-10 large-centered columns">
        <div class="panel radius write-content">

            <?php if (sizeof($values['reps']) === 0): ?>

                <?php if ($values['all_url']): ?>
                    <p><big>Sorry, but you don’t have any representatives of this type.
                    Instead, <a href="<?=$values['all_url']?>">show all your representatives</a>.
                    </big></p>
                <?php else: ?>
                    <p><big>Sorry, but we’ve not got any data for your area. Please
                    <a href="/about-contact">contact us</a> and let us know that this matters
                    to you.</big></p>
                <?php endif; ?>

            <?php else: ?>

                <?php if (1 < count($values['reps']) && strpos($values['blurbs'][1], 'Buckinghamshire County Council') !== false): ?>
                    <h2>Important note</h2>
                    <p>Buckinghamshire County Council and its district councils
                    merged into one Buckinghamshire Council in April 2020.
                    Elections were due to be held in May 2020, but these were
                    postponed for a year because of COVID-19.  The official
                    site has a PDF that assigns existing councillors to any
                    ward their previous area covered; for simplicity we keep
                    showing the two levels of councillor here, though all are
                    now equivalent councillors on the same unitary
                    authority.</p>
                <?php endif; ?>

                <?php foreach ($values['reps'] as $key => $rep): ?>

                    <h3 class="rep-heading"><?=$values['headings'][$key]?></h3>

                    <div class="row">

                      <?php if ($values['more'][$key] == 'EUR'): ?>
                        <div class="large-12 columns help-text rep-blurb">
                            <p>As the UK left the European Union on 31st January 2020, you are no longer represented by MEPs.</p>
                        </div>
                      <?php else: ?>

                        <div class="large-4 columns help-text rep-blurb">
                            <?=$values['blurbs'][$key]?>
                        </div>

                        <div class="large-4 large-offset-1 columns">
                            <?=$rep?>
                        </div>

                        <div class="large-3 columns help-text rep-more">
                            <?=$values['more'][$key]?>
                        </div>

                      <?php endif; ?>

                    </div>

                <?php endforeach; ?>

            <?php endif; ?>

        </div>
    </div>
</div>

<?php template_draw('footer', $values); ?>
