<?php

$values['title'] = sprintf(_("Preview your message to %s"), $values['title_text']);
$values['robots'] = 'noindex, nofollow';

template_draw('header', $values);

?>

<div class="row flow-breadcrumbs">
    <div class="large-8 large-centered columns">

            <?=(isset($values['representative']['type']) && $values['representative']['type'] == 'HOC') ? fyr_breadcrumbs(2, 'lords') : fyr_breadcrumbs(3)?>

    </div>
</div>

<div class="row write-header">
    <div class="large-8 large-centered columns" role="heading">

        <h2><?= _('Preview your message') ?></h2>

    </div>
</div>

<div class="row">
    <div class="large-8 large-centered columns">
        <div class="panel radius write-content preview">

            <?php

            // From fax-content.html
            echo $values['preview'];

            ?>

        </div>
    </div>
</div>

<div class="row">
    <div class="large-8 large-centered columns preview-send-controls">

        <?=$values['form']?>

        <p><?= _("We’ll email you for confirmation before we send your message") ?></p>

    </div>
</div>

<?php template_draw('footer', $values); ?>
