<?php

$values['title'] = "Now check your email";
$values['robots'] = 'noindex, nofollow';

template_draw('header', $values);

?>

<div class="row">
    <div class="large-8 large-centered columns flow-breadcrumbs">

        <?=(isset($values['representative']['type']) && $values['representative']['type'] == 'HOC') ? fyr_breadcrumbs(3, 'lords') : fyr_breadcrumbs(4)?>

    </div>
</div>

<div class="row write-header">
    <div class="large-8 large-centered columns">

        <h2>Now check your email!</h2>
        <p>The confirmation email can take up to 10-15 minutes to arrive &mdash; please be patient.</p>

    </div>
</div>

<?php if (isset($values['error_msg']) AND $values['error_msg'] !== ''): ?>
<div class="row">
    <div class="large-10 large-centered columns" role="alert">
        <div class="alert-box alert radius">
            <?=$values['error_msg']?>
        </div>
    </div>
</div>
<?php endif; ?>

<div class="row">
    <div class="large-8 large-centered columns" role="alert">

        <hr>

        <p>Before we can send your message to your <?php print $values['group_msg'] ? $values['voting_area']['rep_name_plural'] : $values['voting_area']['rep_name']; ?> we need to confirm your email address. We’ve sent you an email &mdash; when it arrives simply click the link in it and your message will be sent. If you don’t click the link your message <em>will not</em> be sent.</p>

        <p>If you use web-based email or have ‘junk mail’ filters, you may wish to check your bulk or spam mail folders. Sometimes our messages are marked that way.</p>

    </div>
</div>

<?php template_draw('footer', $values);
