<? 
$values['title'] = "Check your message is right";
template_draw('header', $values);
print $values['representative']['type'] == 'HOC' ? fyr_breadcrumbs(3, 'lords') : fyr_breadcrumbs(4);
?>

<h2>Now Preview The Message You've Written</h2>

<?=$values['preview']?> <!-- see fax-content.html-->

<?=$values['form']?>

<p align="center">(We will email you asking for confirmation before we send the message to
your  <? print $values['group_msg'] ? $values['voting_area']['rep_name_plural'] : $values['voting_area']['rep_name']; ?>)
</p>

<? template_draw('footer', $values); ?>
