<?php

$values['title'] = "Write your message to " . $values['title_text'];
$values['robots'] = 'noindex, nofollow';

$values['header_js'] = "setDimension1('" . $values['voting_area']['rep_name'] . "');";

template_draw('header', $values);

?>

<div class="row flow-breadcrumbs">
    <div class="large-8 large-centered columns">

        <?=(isset($values['representative']['type']) && $values['representative']['type'] == 'HOC') ? fyr_breadcrumbs(2, 'lords') : fyr_breadcrumbs(3)?>

    </div>
</div>

<div class="row write-header">
    <div class="large-8 large-centered columns" role="heading">

        <h2>Write your message</h2>

        <p>Writing to <?=$values['title_text']?>.</p>

    </div>
</div>

<?php if ($values['prime_minister']): ?>

<div class="row">
    <div class="large-10 large-centered columns">

        <div class="alert-box alert radius" role="alert">
            Please only use this service to contact Sir Keir Starmer if you are one of his
            constituents in Holborn and St Pancras.
        </div>

        <p><a href="/about-qa#onlyrep">Click here to understand why doing otherwise is A Bad Thing</a>.</p>

        <p>If you are <em>not</em> a constituent and wish to contact Keir Starmer, the Prime Minister's Office
        has a <a href="https://contact.no10.gov.uk/">contact form</a> you can use.

        <p>If you are a constituent of Holborn and St Pancras, read on...</p>

        <hr>

    </div>
</div>

<?php endif; ?>

<?php if ($values['cobrand_letter_help']): ?>
<div class="row">
    <div class="large-10 large-centered columns">
        <div id="cobrand_letter_help">'<?=$values['cobrand_letter_help']?></div>
    </div>
</div>
<?php endif; ?>

<?php if (OPTION_FYR_REFLECT_EMAILS): ?>
<div class="row">
    <div class="large-10 large-centered columns" role="alert">
        <div class="alert-box alert radius">This is a test version of the
        site.  Messages will <b>not</b> be delivered to representatives.
        Instead a copy will be sent to you as if you were the
        representative, so you can see what it looks like.</div>
    </div>
</div>
<?php endif; ?>

<?php

if (isset($values['warning_text'])) {
echo '<div id="bad_contact_warning">', $values['warning_text'], '</div>';
}

?>

<div class="row">
    <div class="large-10 large-centered columns">
        <div class="row">
            <div class="large-3 columns">
                <div class="panel radius write-instructions">

<?php

if (!preg_match('#Order and Explanatory Memorandum#', $values['cobrand_letter_help'])) { ?>

<h3>Instructions</h3>

<ul id="tips">
<li>Please be polite, concise and to the point; if you abuse your <?php print $values['group_msg'] ? $values['voting_area']['rep_name_plural'] : $values['voting_area']['rep_name']; ?> you devalue the service for all users.</li>

<li><a class="fancybox" href="about-qa#formletters" target="_blank">Use your own words</a>; we block copied-and-pasted identical messages.</li>

<?php if (isset($values['representative']['type']) && $values['representative']['type'] != 'HOC'): ?>

<li>It&rsquo;s a <a class="fancybox" href="about-qa#onlyrep" target="_blank">waste of time</a> writing to <?=$values['voting_area']['rep_name_plural']?> other than your own;
your message will be ignored.</li>

    <?php
        $hashref = strtolower($values['voting_area']['rep_name']);
        if ($hashref == 'london assembly member') $hashref = 'lam';
        if (strstr($hashref, 'councillor')) $hashref = strtolower($values['voting_area']['type']);
        echo '<li><a class="fancybox" href="about-yourrep#' . $hashref . '" target="_blank">Read this<small></small></a> to learn when a ',
            $values['voting_area']['rep_name'], ' can help you &ndash; and when they can&rsquo;t.</li>';
        ?>

    <?php else: ?>
    <li>Lords vote on and amend UK bills before they become law. By writing to a
    Lord you might be able to tell them about something you think they should care
    about, provide information to someone who you support, or provide counter
    evidence to someone you disagree with. For other matters, it might be better
    to contact your MP or a local representative.</li>
    <?php endif; ?>

<?php

if (isset($values['representative']['parlparse_person_id'])) {
$pid = str_replace('uk.org.publicwhip/person/', '', $values['representative']['parlparse_person_id']);
echo '<li><a target="_blank" href="https://www.theyworkforyou.com/mp/?p=', $pid,
    '">Find out more about ', str_replace('The ', 'the ', $values['representative']['name']),
    '<small></small></a>';
if (isset($values['representative']['type']) && $values['representative']['type'] == 'HOC' && isset($values['representative']['party'])) {
    if ($values['representative']['party'] == 'Judge') {
        echo ', a <strong>Law Lord</strong>,';
    } elseif ($values['representative']['party'] != 'Bishop') {
        echo ', a <strong>', $values['representative']['party'], '</strong> Lord,';
    }
}
echo ' on TheyWorkForYou.';
}

if ($values['group_msg'] && $values['any_via']) {
echo '<li><strong>We do not have direct contact details for some of your ',
    $values['voting_area']['rep_name_plural'], ' so your message to them
will be sent via the internal mail systems of the body to which they
were elected.</strong>';
}

if (isset($values['representative']['method']) && $values['representative']['method'] == 'via') {
echo '<li><strong>We do not have direct contact details for ', $values['representative']['name'], ', ';
echo 'so your message will be sent via the internal mail systems of the body to which they were elected.';
echo '</strong></li>';
}

echo '</ul>';

}

?>

                </div>
            </div>
            <div class="large-9 columns">

                <?=$values['form'];?>

            </div>
        </div>
    </div>
</div>

<?php template_draw('footer', $values); ?>
