<? 
$values['title'] = "Now write your message to ". $values['title_text'];
$values['robots'] = 'noindex, nofollow';

template_draw('header', $values);
print $values['representative']['type'] == 'HOC' ? fyr_breadcrumbs(2, 'lords') : fyr_breadcrumbs(3);

if ($values['prime_minister']) { 
?>

<h2 class="warning"><strong>VIP.... VIP... VIP.... VIP... READ THIS BIT
PLEASE...</strong></h2> 
<p>Please <strong>*ONLY*</strong> use this service to fax Tony Blair if you are one of his
<strong>constituents</strong> in Sedgefield. Many people from outside of Mr
Blair's constituency have been abusing the service by sending faxes to his
constituency office via WriteToThem.com</p>

<p><a href="/about-qa#onlyrep">Click here to understand why this is A Bad Thing</a>.

<p>If you NOT a constituent of Sedgefield and wish to contact Tony Blair, you
may write to him at the address below:<p>
<address>
The Rt Hon Tony Blair <br>
Prime Minister<br>
10 Downing Street<br>
London<br>
SW1A 2AS
</address>

<p>Alternatively, Number 10's website has <a
href="http://www.number-10.gov.uk/output/Page821.asp" target="_blank">webform
that allows non-constituents to contact the Prime Minister</a>.</p>

<p>If you are a constituent of Sedgefield, read on...</p>
<hr>

<? } ?>

<? if ($values['cobrand_letter_help']) { ?>
<div id="cobrand_letter_help">
<?=$values['cobrand_letter_help']?>
</div>
<? } ?>

<?  if (OPTION_FYR_REFLECT_EMAILS) { ?>
    <p style="text-align: center; color: #ff0000; "><b>Note:</b> This is a test version of the
    site.  Messages will <b>not</b> be delivered to representatives.
    Instead a copy will be sent to you as if you were the
    representative, so you can see what it looks like.</p>
<?  } ?>

<? if ($values['warning_text']){ ?>
<div id="bad_contact_warning">
<?=$values['warning_text']?>
</div>
<? } ?>

<h2>Read this before writing your message</h2>

<ul>
	<li>Please be polite, concise and to the point.</li>
	<li>By abusing your <? print $values['group_msg'] ? $values['voting_area']['rep_name_plural'] : $values['voting_area']['rep_name']; ?> you devalue the service for all users.</li>
	<li><A HREF="about-qa#formletters" TARGET="_blank">Use your own words <small>(new window)</small></A>. <?=$values['voting_area']['rep_name']?>s will ignore copied and pasted 'identikit' messages.</li>
<? if ($values['representative']['type'] != 'HOC') { ?>
	<li>It's a <A HREF="about-qa#onlyrep" TARGET="_blank">waste of time <small>(new window)</small></A> writing to <?=$values['voting_area']['rep_name_plural']?> other than your own. If <? print $values['group_msg'] ? "these aren't your " . $values['voting_area']['rep_name_plural'] : "this isn't your " .$values['voting_area']['rep_name']; ?>, your message will be ignored.</li>
	<li><A HREF="about-yourrep" TARGET="_blank">Read this <small>(new window)</small></A> to learn when a <?=$values['voting_area']['rep_name']?> can help you - and when they can't.</li>
<? } else { ?>
<li><a href="about-lords#when" target="_blank">Read this <small>(new window)</small></a> to learn when to contact a Lord.</li>
<? } ?>

<?
       if (isset($values['representative']['parlparse_person_id'])) {
	$pid = str_replace('uk.org.publicwhip/person/', '', $values['representative']['parlparse_person_id']); ?>
       <li><a target="_blank" href="http://www.theyworkforyou.com/mp/?p=<?=$pid ?>">Find out more about <?=str_replace('The ', 'the ', $values['representative']['name']) ?> <small>(new window)</small></a> on TheyWorkForYou.com.</li>
<?
	    }

    if ($values['representative']['type'] == 'HOC'
        && isset($values['representative']['party'])
        && $values['representative']['party'] != 'Bishop') { ?>
       <li><?=$values['representative']['name']; ?> is a <strong><?=$values['representative']['party']; ?></strong> Lord.</li>
<?
    }
?>

<?  
    if ($values['representative']['method'] == 'via') { ?>
    <li>We do not have direct contact details for <?=$values['representative']['name']?>,
    <? if ($values['representative']['type'] == 'HOC') { ?>
        so we will send your message via the central House of Lords fax machine.
    <? } else { ?>
        so your message will be sent via the internal mail systems of the body to which they were elected.
    <? } ?>
    </li>
<?  } ?>
					 
</ul>

<?=$values['form'] ?>

<? template_draw('footer', $values); ?>
