<? 
$values['title'] = "Now write your message to ". 
    $values['representative']['name'] . " " .
    $values['voting_area']['rep_name'] . " for " . $values['voting_area']['name'];

include "header.php"; ?>

<h2>Read this before writing your message</h2>
<ul>
	<li>Please be polite, concise and to the point.</li>
	<li>By abusing your <?=$values['voting_area']['rep_name']?> you devalue the service for all users.</li>
	<li><A HREF="about-qa#formletters" TARGET="_NEW">Use your own words.</A> <?=$values['voting_area']['rep_name']?>s will ignore copied and pasted 'identikit' messages.</li>
	<li>It's a <A HREF="about-qa#onlyrep" TARGET="_blank">waste of time</A> writing to <?=$values['voting_area']['rep_name_plural']?> other than your own. If this isn't your <?=$values['voting_area']['rep_name']?>, your message will be ignored.</li>
	<li><A HREF="about-yourrep" TARGET="_blank">Read this</A> to learn when a <?=$values['voting_area']['rep_name']?> can help you - and when they can't.</li>
</ul>

<?=$values['form'] ?>

<? include "footer.php"; ?>
