<? 
$values['title'] = "We'll send your message now";
template_draw('header', $values);
?>

<h2>All done... We'll send your message now</h2>

<p style="text-align: center">In a fortnight, we'll send you an email to see if your representative replied.</p>
<p style="text-align: center">If for some reason we couldn't send your message
to your representative, we will email you to tell you. Otherwise, you can sit
back and relax &mdash; your message is on its way.</p>
<p style="text-align: center; font-size: 130%">Please send us any
<a href="mailto:team@writetothem.com">thoughts, complaints or comments</a>
about this service.</p>

<p id="confirmadvert" align="center">
<a href="http://www.animalaid.org.uk/">Return to Animal Aid's website</a>
</p>

<? template_draw('footer', $values); ?>
