<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>WriteToThem.com - Now Check Your Email</title>
<link rel="stylesheet" type="text/css" href="wtt.css">
<style type="text/css">@import "animalaid.css";</style>
</head>
<body bgcolor="#ffffff" text="#000000">
<a title="Back to Animal Aid website" href="http://www.animalaid.org.uk/"><img id="cobrand_logo" alt="Return to www.animalaid.org.uk" src="http://www.animalaiduk.com/templates/aa/images/logo.gif"></a>
<div align="center">
<?= fyr_breadcrumbs(5) ?>
<h1>Nearly Done! Now check your email...</h1>
<? if (isset($values['error_msg'])){
print $values['error_msg'];
 } ?>
<h2>The confirmation email <strong>may</strong> take a few minutes to arrive &mdash; <em>please</em> be patient.</h2>
<p>If you use web-based email or have 'junk mail' filters, you may wish to check your bulk&#47;spam mail folders: sometimes, our messages are marked that way.</p>
<p>You must now click on the link within the email we've just sent you -<br>if you do not, your message to your <? print $values['group_msg'] ? $values['voting_area']['rep_name_plural'] : $values['voting_area']['rep_name']; ?> will not be sent.</p>
<p>(Don't worry - we'll hang on to your message while you're checking your email.)</p>
</div>
</body>
</html>
