<th style="<?= $values['td_style'] ?> <?= $values['primary_column_style'] ?>">

  <h1 style="<?= $values['h1_style'] ?>">Sorry, we don&rsquo;t accept email at this address.</h1>
  <p style="<?= $values['p_style'] ?> font-weight: bold;">This is an automatic response, we have NOT read your email.</p>
  <p style="<?= $values['p_style'] ?>">If you are trying to confirm a message, or answer our questionnaire, please click the link in the email that we sent you, or copy-and-paste it into your web browser.</p>
  <p style="<?= $values['p_style'] ?>">If you have a question or comment about the site, please send an email to <a href="mailto:<?= $values['contact_email'] ?>"><?= $values['contact_email'] ?></a>.</p>

</th>
