

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<TITLE>FaxYourRepresentative.com - Fax Or Email Your Democratic Representatives For Free</TITLE>
<LINK REL="STYLESHEET" TYPE="text/css" HREF="fax_style.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<DIV ALIGN="center">
<TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" WIDTH="530">
<TR>
<TD VALIGN="top" ALIGN="center">
<IMG SRC="images/mosaic.gif" WIDTH="529" HEIGHT="12" BORDER="0" ALT="mosaic_strip"><BR><BR>
<!--
<TABLE CELLPADDING="4" CELLSPACING="2" BORDER="0" WIDTH="100%">
<TR>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/index.php3">Home</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/youandyourmp.php3">You &amp; Your MP</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/q_a.php3">Q&amp;A</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/about_us.php3">About Us</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/contact.php3">Contact Us</A></TD>
</TR>
</TABLE>
-->
<H3>FaxYourRepresentative.com - Fax Or Email Your Democratic Representatives For Free</H3>


	<!-- <P ALIGN="center"><FONT SIZE="2" COLOR="#FF0000"><B>We are VERY busy at the moment. Apologies if we're overloaded when you try to send your message. Please DO NOT keep clicking retry as that just makes things worse, go make a cup of tea and come back later.<br>Thanks and sorry. -- The FaxYourMP Volunteers</B></FONT></P> -->

<TABLE CELLPADDING="2" CELLSPACING="0" BORDER="0" BGCOLOR="#006666">
	<TR>
	<TD><TABLE CELLPADDING="8" CELLSPACING="0" BORDER="0" BGCOLOR="#cccc99">
		<TR><FORM METHOD="GET" ACTION="whotofax.php">
		<TD CLASS="smallb">Type Your UK Postcode:</TD>
		<TD><FONT CLASS="form"><INPUT value="<?=$fyr_initial_postcode?>" NAME="pc" TYPE="text" SIZE="10" CLASS="form"></FONT></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="5" HEIGHT="1" BORDER="0"></TD>
		<TD><INPUT TYPE="submit" NAME="submit" VALUE="go"></TD>
		</TR>
</FORM>
		</TABLE></TD>
	</TR>
</TABLE>

	<P ALIGN="center"><FONT SIZE="-3">If you don't know your Postcode you can try <A HREF="http://pol.royalmail.com/dda/txt/PF.asp" TARGET="_new">The Royal Mail Postcode Finder</A></FONT></P>
	

	<P><BR>
<TABLE CELLPADDING="2" CELLSPACING="2" BORDER="0">
	<TR>
		<TD CLASS="white" BGCOLOR="#cccc99" ALIGN="center">1</TD>
		<TD COLSPAN="5"><B>Type in your full UK postcode, then click "Go"</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#999966" ALIGN="center">2</TD>
		<TD COLSPAN="4"><B>From the list of representatives, choose who to write to</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="2"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#9c9c9c" ALIGN="center">3</TD>
		<TD COLSPAN="3"><B>Write the letter you want to be faxed to them</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="3"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#99cc99" ALIGN="center">4</TD>
		<TD COLSPAN="2"><B>Click the link in the email we'll send you</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="4"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#000066" ALIGN="center">5</TD>
		<TD><B>That's it! Your letter has been sent!</B></TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="200" HEIGHT="1" BORDER="0"></TD>
	</TR>
	</TABLE><P>

<H4>
 12345 faxes sent to date.
<P>
       <P ALIGN="center"><FONT SIZE="2" COLOR="#FF0000"><B>
Sending identical copied and pasted "form" letters will do your cause more harm than good...
<a href="/q_a.php3#formletters">Here's why.</A></B></FONT></P>


</H4>
<!--
	<A HREF="feedback.php3">Does It Really Work?</a>
	&nbsp;&nbsp;||&nbsp;&nbsp;		
	<A HREF="link_to_us.php3">How To Link To Us</a> 
	&nbsp;&nbsp;||&nbsp;&nbsp;
	<A HREF="/guidelines.php3">Guidelines for Campaigners</a> 
	<P>
-->
<IMG SRC="mosaic.gif" WIDTH="529" HEIGHT="12" BORDER="0" ALT="mosaic_strip"><BR><P>
</TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="530" HEIGHT="1" BORDER="0"></TD>
	</TR>
</TABLE><P>
</DIV>


</BODY>
</HTML>

