<? include "header.php"; ?>

<H3>FaxYourRepresentative.com - Fax Or Email Your Democratic Representatives For Free</H3>

<TABLE CELLPADDING="2" CELLSPACING="0" BORDER="0" BGCOLOR="#006666">
	<TR>
	<TD><TABLE CELLPADDING="8" CELLSPACING="0" BORDER="0" BGCOLOR="#cccc99">
		<TR><FORM METHOD="GET" ACTION="who.php">
		<TD CLASS="smallb">Type Your UK Postcode:</TD>
		<TD><FONT CLASS="form"><INPUT value="<?=$fyr_initial_postcode?>" NAME="pc" TYPE="text" SIZE="10" CLASS="form"></FONT></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="5" HEIGHT="1" BORDER="0"></TD>
		<TD><INPUT TYPE="submit" NAME="submit" VALUE="go"></TD>
		</TR>
</FORM>
		</TABLE></TD>
	</TR>
</TABLE>

	<P ALIGN="center"><FONT SIZE="-3">If you don't know your Postcode you can try <A HREF="http://pol.royalmail.com/dda/txt/PF.asp" TARGET="_new">The Royal Mail Postcode Finder</A></FONT></P>
	

	<P><BR>
<TABLE CELLPADDING="2" CELLSPACING="2" BORDER="0">
	<TR>
		<TD CLASS="white" BGCOLOR="#cccc99" ALIGN="center">1</TD>
		<TD COLSPAN="5"><B>Type in your full UK postcode, then click "Go"</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#999966" ALIGN="center">2</TD>
		<TD COLSPAN="4"><B>From the list of representatives, choose who to write to</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="2"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#9c9c9c" ALIGN="center">3</TD>
		<TD COLSPAN="3"><B>Write the letter you want to be faxed to them</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="3"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#99cc99" ALIGN="center">4</TD>
		<TD COLSPAN="2"><B>Click the link in the email we'll send you</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="6"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="4"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#000066" ALIGN="center">5</TD>
		<TD><B>That's it! Your letter has been sent!</B></TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="200" HEIGHT="1" BORDER="0"></TD>
	</TR>
	</TABLE><P>

<? include "footer.php"; ?>
