<? include "header.php"; ?>

<H3>FaxYourRepresentative.com - <?=$fyr_title?> </H3>

<form method="get" action="write.php">

<P align="left" style="align: left;">You have several democratic representatives at different levels of government.
Please choose the most appropriate one to contact, and then click any of the buttons
marked "Next".</p>

<p align="left"><b>If you aren't sure who to contact, please read <a href="whoadvice1.html">this advice</a>.</b></p>

<table>
<?
foreach ($fyr_representatives as $row) {
    list($left_column, $right_column) = $row;
?>
    <tr><td colspan="2" align="center" height="4" bgcolor="#cecece"></td></tr>
    <tr><td width="50%"><?=$left_column?></td><td valign="bottom"><?=$right_column?></td></tr> 
<?
}
?>
</table>

<? include "footer.php"; ?>
