

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<TITLE>FaxYourRepresentative.com - Fax or Email Your Democratic Representatives For Free</TITLE>
<LINK REL="STYLESHEET" TYPE="text/css" HREF="fax_style.css">
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<DIV ALIGN="center">
<TABLE CELLSPACING="0" CELLPADDING="0" BORDER="0" WIDTH="530">
<TR>
<TD VALIGN="top" ALIGN="center">
<IMG SRC="images/mosaic.gif" WIDTH="529" HEIGHT="12" BORDER="0" ALT="mosaic_strip"><BR><BR>
<!--
<TABLE CELLPADDING="4" CELLSPACING="2" BORDER="0" WIDTH="100%">
<TR>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/index.php3">Home</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/youandyourmp.php3">You &amp; Your MP</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/q_a.php3">Q&amp;A</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/about_us.php3">About Us</A></TD>
<TD BGCOLOR="#cccc99" ALIGN="center"><A HREF="/contact.php3">Contact Us</A></TD>
</TR>
</TABLE>
-->
<H3>FaxYourRepresentative.com - Fax or Email Your Democratic Representatives For Free</H3>


<form method="get" action="dofax.php">

<P align="left" style="align: left;">You have several democratic representatives at different levels of government.
Please choose the most appropriate one to contact, and then click any of the buttons
marked "Next".</p>

<p align="left"><b>If you aren't sure who to contact, please read <a href="whoadvice1.html">this advice</a>.</b></p>

<table>
<?
foreach ($fyr_representatives as $row) {
    list($left_column, $right_column) = $row;
?>
    <tr><td colspan="2" align="center" height="4" bgcolor="#cecece"></td></tr>
    <tr><td width="50%"><?=$left_column?></td><td valign="bottom"><?=$right_column?></td></tr> 
<?
}
?>
</table>

<!--

	<P><BR>
<TABLE CELLPADDING="2" CELLSPACING="2" BORDER="0">
	<TR>
		<TD CLASS="white" BGCOLOR="#cccc99" ALIGN="center">1</TD>
		<TD COLSPAN="4"><B>Type in your full UK postcode, then click "Go"</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="5"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#999966" ALIGN="center">2</TD>
		<TD COLSPAN="3"><B>Write the letter you want to be faxed to your Councillor</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="5"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="2"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#99cc99" ALIGN="center">3</TD>
		<TD COLSPAN="2"><B>Click the link in the email we'll send you</B></TD>
	</TR>
	<TR>
		<TD COLSPAN="5"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
	</TR>
	<TR>
		<TD COLSPAN="3"><IMG SRC="/images/tiny.gif" ALT="" WIDTH="1" HEIGHT="1" BORDER="0"></TD>
		<TD CLASS="white" BGCOLOR="#000066" ALIGN="center">4</TD>
		<TD><B>That's it! You have faxed your Councillor</B></TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="14" HEIGHT="1" BORDER="0"></TD>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="200" HEIGHT="1" BORDER="0"></TD>
	</TR>
	</TABLE><P>
-->


<H4>
12345 faxes sent to date.
<P>
       <P ALIGN="center"><FONT SIZE="2" COLOR="#FF0000"><B>
Sending identical copied and pasted "form" letters will do your cause more harm than good...
<a href="/q_a.php3#formletters">Here's why.</A></B></FONT></P>


</H4>
<!--
	<A HREF="feedback.php3">Does It Really Work?</a>
	&nbsp;&nbsp;||&nbsp;&nbsp;		
	<A HREF="link_to_us.php3">How To Link To Us</a> 
	&nbsp;&nbsp;||&nbsp;&nbsp;
	<A HREF="/guidelines.php3">Guidelines for Campaigners</a> 
	<P>
-->
<IMG SRC="mosaic.gif" WIDTH="529" HEIGHT="12" BORDER="0" ALT="mosaic_strip"><BR><P>
</TD>
	</TR>
	<TR>
		<TD><IMG SRC="/images/tiny.gif" ALT="" WIDTH="530" HEIGHT="1" BORDER="0"></TD>
	</TR>
</TABLE><P>
</DIV>


</BODY>
</HTML>

