<? include "header.php"; ?>
 
<H3>FaxYourRepresentative.com - Read This Before Writing Your Fax</H3>
<SPAN CLASS="bigb">
&#149;&nbsp;Please be polite, concise and to the point.<BR>
&#149;&nbsp;By abusing your <?=$fyr_representative['office']?> you devalue the service for all users.<BR>
&#149;&nbsp;<A HREF="q_a.php3#formletters" TARGET="_NEW">Use your own words.</A> <?=$fyr_representative['office']?>s will ignore copied and pasted 'identikit' messages.<BR>
&#149;&nbsp;It's a <A HREF="q_a.php3#onlymp" TARGET="_new">waste of
time</A> writing to <?=$fyr_representative['office']?>s other than your
own. If this isn't your <?=$fyr_representative['office']?>, your message will be ignored.<BR>
&#149;&nbsp;<A HREF="youandyourmp.php3" TARGET="_new">Read this</A> to learn when an <?=$fyr_representative['office']?> can help you - and when they can't. <P>
</SPAN>
<TABLE CELLSPACING="0" CELLPADDING="2" BORDER="0" 
BGCOLOR="#006666">
	<TR>
	<TD VALIGN="top">
			<TABLE CELLSPACING="0" CELLPADDING="4" BORDER="0" BGCOLOR="#cccc99">
		<TR><FORM METHOD="POST" NAME="" action="write.php">
		<TD VALIGN="top"><B>Now Write Your Fax:<BR><BR>
		<?=$fyr_representative['short_office']?> <?=$fyr_representative['name']?><BR>
        ADDRESS<br>
		Tuesday 30 February 2004		<IMG SRC="/images/tiny.gif" WIDTH="256" HEIGHT="1" BORDER="0"></TD>
		<TD VALIGN="top" ALIGN="right">
			<TABLE CELLPADDING="2" CELLSPACING="0" BORDER="0">
			<TR>
			<TD CLASS="smallb">your name:</TD>
			<TD><FONT CLASS="form"><INPUT NAME="standee_name" VALUE="" TYPE="text" SIZE="20" CLASS="form"></FONT></TD>
			</TR>
			<TR>
			<TD CLASS="smallb">address 1:</TD>
			<TD><FONT CLASS="form"><INPUT NAME="standee_address1" VALUE="" TYPE="text" SIZE="20" CLASS="form"></FONT></TD>
			</TR>
			<TR>
			<TD CLASS="small">address 2:</TD>			
			<TD><FONT CLASS="form"><INPUT NAME="standee_address2" VALUE="" TYPE="text" SIZE="20" CLASS="form"></FONT></TD>
			</TR>
			<TR>
			<TD CLASS="smallb">town:</TD>
			<TD><FONT CLASS="form"><INPUT NAME="standee_town" value="" TYPE="text" SIZE="20" CLASS="form"></FONT></TD>
			</TR>
			<TR>
			<TD CLASS="smallb">postcode:</TD>
			<TD><B><?=$fyr_postcode?></B><INPUT NAME="postcode" TYPE="hidden" VALUE="OX1 3DR"></TD>
			</TR>
			<TR>
			<TD CLASS="smallb">your email:</TD>
			<TD><FONT CLASS="form"><INPUT NAME="email" VALUE="" TYPE="text" SIZE="20" CLASS="form"></FONT>
			</TD>
			</TR>
<!--start tom playing adding phone number-->
			<TR>
			<TD CLASS="small">phone:</TD>			
			<TD><FONT CLASS="form"><INPUT NAME="standee_phone" VALUE="" TYPE="text" SIZE="20" CLASS="form"></FONT>
<!--end start tom playing adding phone number-->
			</TD>
			</TR>
			</TABLE><BR><IMG SRC="/images/tiny.gif" WIDTH="250" HEIGHT="1" BORDER="0"></TD>
		</TR>
		<TR>
		<TD COLSPAN="2" CLASS="smallb">write your Fax:</SPAN> &nbsp;&nbsp;(<A HREF="q_a.php3#personal" TARGET="_new"><SPAN CLASS="small">read our privacy policy</SPAN></A>)</TD>
		</TR>
		<TR>
		<TD COLSPAN="2"><FONT CLASS="form"><TEXTAREA ROWS="15" COLS="62"
        MAXLENGTH="5000" NAME="body" CLASS="form" TEXTWRAP="physical">Dear <?=$fyr_representative['name']?>,</TEXTAREA></FONT></TD>
		</TR>
		<TR>
		<TD COLSPAN="2" ALIGN="right" CLASS="smallb">Ready? Press the "Preview" button to continue --> &nbsp;
<INPUT TYPE="hidden" NAME="who" VALUE="<?=$fyr_representative['id']?>">
<INPUT TYPE="submit" NAME="SUBMIT" VALUE="preview &nbsp;your &nbsp;Fax &gt;&gt;"><BR><IMG SRC="/images/tiny.gif" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
		</TR></FORM>
		</TABLE>
	</TD>
	</TR>
	</TABLE>
<P> 
</TD>
</TR>
<TR>
<TD><IMG SRC="/images/tiny.gif" WIDTH="525" HEIGHT="1" BORDER="0"></TD>
</TR>
</TABLE>


<? include "footer.php"; ?>
