<? include "header.php"; ?>

<H3>FaxYourRepresentative.com - Read This Before Writing Your Fax</H3>
<SPAN CLASS="bigb">
&#149;&nbsp;Please be polite, concise and to the point.<BR>
&#149;&nbsp;By abusing your <?=$fyr_voting_area['rep_name']?> you devalue the service for all users.<BR>
&#149;&nbsp;<A HREF="q_a.php3#formletters" TARGET="_NEW">Use your own words.</A> <?=$fyr_voting_area['rep_name']?>s will ignore copied and pasted 'identikit' messages.<BR>
&#149;&nbsp;It's a <A HREF="q_a.php3#onlymp" TARGET="_new">waste of
time</A> writing to <?=$fyr_voting_area['rep_name_plural']?>s other than your
own. If this isn't your <?=$fyr_voting_area['rep_name']?>, your message will be ignored.<BR>
&#149;&nbsp;<A HREF="youandyourmp.php3" TARGET="_new">Read this</A> to learn when a <?=$fyr_voting_area['rep_name']?> can help you - and when they can't. <P>
</SPAN>
<TABLE CELLSPACING="0" CELLPADDING="2" BORDER="0" 
BGCOLOR="#006666">
	<TR>
	<TD VALIGN="top">
        <TABLE CELLSPACING="0" CELLPADDING="4" BORDER="0" BGCOLOR="#cccc99">
        <tr><td><?=$fyr_form ?></td></tr>
        </TABLE>
	</TD>
	</TR>
<P> 
</TD>
</TR>
<TR>
<TD><IMG SRC="/images/tiny.gif" WIDTH="525" HEIGHT="1" BORDER="0"></TD>
</TR>
</TABLE>

<? include "footer.php"; ?>
