<? include "header.php"; ?>

<? if ($fyr_preview) print "Preview";
   if ($fyr_complete) print "Complete"; ?>

<? if ($fyr_preview && $fyr_complete) { ?>

<H3>Now Preview The Fax You've Written</H3>

    <TABLE CELLSPACING="0" CELLPADDING="2" BORDER="0" WIDTH="100%" BGCOLOR="#006666">

    <TR>
    <TD>
        <TABLE CELLSPACING="0" CELLPADDING="5" BORDER="0" WIDTH="100%" BGCOLOR="#cccc99">
        <TR>

                <TD VALIGN="top" ALIGN="left"><BR><B>FOR THE ATTENTION OF:</B><BR><BR>
        <B><?=$fyr_representative['name']?>
        <BR><?=$fyr_representative['office']?> 

        <BR>ADDRESS<BR>
        <BR>
        DATE      </B>
        </TD>
        <TD VALIGN="top" ALIGN="right">
        <BR><BR>

        <?=$fyr_writer_name?><BR>
        <?=$fyr_writer_address1?><BR>
        <?=$fyr_writer_address2?><BR>
        <?=$fyr_postcode?><BR>
        <BR>
        <?=$fyr_writer_email?>     </TD>
        </TR>
        <TR>
        <TD COLSPAN="2"><IMG SRC="/images/tiny.gif" WIDTH="1" HEIGHT="20" BORDER="0"></TD>
        </TR>

        <TR>

        <TD COLSPAN="2">
        Dear Mrs Anne Campbell,     <P>
        <FONT SIZE="-3"><B><?=$fyr_writer_signature?> &nbsp;&nbsp; (Signed with an electronic signature in accordance with subsection 7(3) of the Electronic Communications Act 2000.)</B></FONT>
        <BR>
        <IMG SRC="/images/tiny.gif" WIDTH="1" HEIGHT="10" BORDER="0"></TD>

        </TR>
        </TABLE></TD>
    </TR>
    </TABLE><P>

<!-- Tom: start here -->

    <TABLE CELLSPACING="0" CELLPADDING="2" BORDER="0" WIDTH="100%">
    <TR>
<FORM ACTION="write.php" METHOD="POST">

<INPUT TYPE="hidden" NAME="standee_name" VALUE="Francis">
<INPUT TYPE="hidden" NAME="standee_address1" VALUE="Mouse">
<INPUT TYPE="hidden" NAME="standee_address2" VALUE="">
<INPUT TYPE="hidden" NAME="standee_town" value="sfaadfs">
<INPUT TYPE="hidden" NAME="input_postcode" VALUE="CB1 2QP">
<INPUT TYPE="hidden" NAME="email" VALUE="francis@flourish.org">
<INPUT TYPE="hidden" NAME="standee_phone" VALUE="">
<INPUT TYPE="hidden" NAME="body" value="Dear Mrs Anne Campbell,">
<INPUT TYPE="hidden" NAME="mp_name" VALUE="Mrs Anne Campbell">
<INPUT TYPE="hidden" NAME="region_name" VALUE="Cambridge">
<!-- OK kids, this might look like it's your MP's fax number... trust us, it ain't...-->
<INPUT TYPE="hidden" NAME="mp_fax" VALUE="02072146229">
<INPUT TYPE="hidden" NAME="mp_email" VALUE="">
<INPUT TYPE="hidden" NAME="faxoremail" VALUE="Fax">
<INPUT TYPE="hidden" NAME="fax_submit" VALUE="0">


    <TD><INPUT TYPE="submit" NAME="SUBMIT" VALUE="&lt;&lt; edit this Fax">
    <BR>
    <BR><A HREF="/q_a.php3#digitalsig" TARGET="_new" CLASS="smallb">What's all this electronic <BR>signature mularkey?</A><BR><BR>


    </TD>
</FORM>

<FORM ACTION="http://www.faxyourmp.com/cgi-bin/ft.cgi" METHOD="POST">
<INPUT TYPE="hidden" NAME="sender" VALUE="Francis##Mouse##sfaadfs##CB1 2QP~~##francis@flourish.org~~">
<INPUT TYPE="hidden" NAME="recipient" VALUE="Mrs Anne Campbell##
MP for Cambridge##
House Of Commons##
London##
SW1A 0AA~~
Friday 15 October 2004~~">

<INPUT TYPE="hidden" NAME="email" VALUE="francis@flourish.org">
<!-- OK kids, this might look like it's your MP's fax number... trust us, it ain't...-->
<INPUT TYPE="hidden" NAME="faxnumber" VALUE="02072146229">
<INPUT TYPE="hidden" NAME="faxoremail" VALUE="Fax">
<INPUT TYPE="hidden" NAME="foremail_email" VALUE="francis@flourish.org">
<INPUT TYPE="hidden" NAME="foremail_standeename" VALUE="Francis">
<INPUT TYPE="hidden" NAME="body" VALUE="Dear Mrs Anne Campbell,####385f073a12b016d1a85c0fda88ce82d5 (Signed with an electronic signature in accordance with subsection 7(3) of the Electronic Communications Act 2000)">
<INPUT TYPE="hidden" NAME="foremail_mpname" VALUE="Mrs Anne Campbell">
<INPUT TYPE="hidden" NAME="mp_email" VALUE="">
<INPUT TYPE="hidden" NAME="foremail_region_name" VALUE="Cambridge">
<INPUT TYPE="hidden" NAME="foremail_fax_date" VALUE="Friday 15 October 2004">
<INPUT TYPE="HIDDEN" NAME="formatfile" VALUE="faxlayout3.ftfmt">
<INPUT TYPE="HIDDEN" NAME="rcfile" VALUE="faxconfig26">
    <TD ALIGN="right"><INPUT TYPE="submit" NAME="sendfax" VALUE="Continue &gt;&gt;"><BR>

<BR>
(We will email you asking for confirmation <BR>before we send the Fax to your <?=$fyr_representative['office']?>)
<BR>



</TD>
</TR></FORM>
    </TABLE>


<? } else { ?>
 
<H3>FaxYourRepresentative.com - Read This Before Writing Your Fax</H3>
<SPAN CLASS="bigb">
&#149;&nbsp;Please be polite, concise and to the point.<BR>
&#149;&nbsp;By abusing your <?=$fyr_representative['office']?> you devalue the service for all users.<BR>
&#149;&nbsp;<A HREF="q_a.php3#formletters" TARGET="_NEW">Use your own words.</A> <?=$fyr_representative['office']?>s will ignore copied and pasted 'identikit' messages.<BR>
&#149;&nbsp;It's a <A HREF="q_a.php3#onlymp" TARGET="_new">waste of
time</A> writing to <?=$fyr_representative['office']?>s other than your
own. If this isn't your <?=$fyr_representative['office']?>, your message will be ignored.<BR>
&#149;&nbsp;<A HREF="youandyourmp.php3" TARGET="_new">Read this</A> to learn when a <?=$fyr_representative['office']?> can help you - and when they can't. <P>
</SPAN>
<TABLE CELLSPACING="0" CELLPADDING="2" BORDER="0" 
BGCOLOR="#006666">
	<TR>
	<TD VALIGN="top">
			<TABLE CELLSPACING="0" CELLPADDING="4" BORDER="0" BGCOLOR="#cccc99">
        <TR><TD>
<? if ($fyr_preview && !$fyr_complete) {
    print "<b><font color=\"red\">Oops! Sorry, but we need you to fill in:<ul>";
    if (!$fyr_writer_name_valid)
        print "<li>your name";
    if (!$fyr_writer_address_valid)
        print "<li>your address";
    if (!$fyr_writer_town_valid)
        print "<li>your town";
    if (!$fyr_writer_email_valid)
        print "<li>your email";
    print "</ul></font>";
}

    function display_field($field_desc, $field_urlname, $content, $valid) {
        global $fyr_preview;
        print "<TD CLASS=\"smallb\">";
        if (!$valid && $fyr_preview) 
            print "<font color=\"red\">";
        print "$field_desc:";
        if (!$valid && $fyr_preview) 
            print "</font>";
        print "</TD><TD><FONT CLASS=\"form\"><INPUT NAME=\"$field_urlname\"
            VALUE=\"$content\" TYPE=\"text\" SIZE=\"20\" CLASS=\"form\"></FONT></TD>";
    }
?>
        </TD></TR>
		<TR><FORM METHOD="POST" NAME="" action="write.php">
		<TD VALIGN="top"><B>Now Write Your Fax:<BR><BR>
		<?=$fyr_representative['short_office']?> <?=$fyr_representative['name']?><BR>
        ADDRESS<br>
		Tuesday 30 February 2004		<IMG SRC="/images/tiny.gif" WIDTH="256" HEIGHT="1" BORDER="0"></TD>
		<TD VALIGN="top" ALIGN="right">
			<TABLE CELLPADDING="2" CELLSPACING="0" BORDER="0">
			<TR>
            <? display_field("your name", "writer_name", $fyr_writer_name, $fyr_writer_name_valid); ?>
			</TR>
			<TR>
            <? display_field("address 1", "writer_address1", $fyr_writer_address1, $fyr_writer_address1_valid); ?>
			</TR>
			<TR>
            <? display_field("address 2", "writer_address2", $fyr_writer_address2, $fyr_writer_address2_valid); ?>
			</TR>
			<TR>
            <? display_field("town", "writer_town", $fyr_writer_town, $fyr_writer_town_valid); ?>
			</TR>
			<TR>
			<TD CLASS="smallb">postcode:</TD>
			<TD><B><?=$fyr_postcode?></B></TD>
			</TR>
			<TR>
            <? display_field("email", "writer_email", $fyr_writer_email, $fyr_writer_email_valid); ?>
			</TD>
			</TR>
			<TR>
            <? display_field("phone", "writer_phone", $fyr_writer_phone, $fyr_writer_phone_valid); ?>
			</TD>
			</TR>
			</TABLE><BR><IMG SRC="/images/tiny.gif" WIDTH="250" HEIGHT="1" BORDER="0"></TD>
		</TR>
		<TR>
		<TD COLSPAN="2" CLASS="smallb">write your Fax:</SPAN> &nbsp;&nbsp;(<A HREF="q_a.php3#personal" TARGET="_new"><SPAN CLASS="small">read our privacy policy</SPAN></A>)</TD>
		</TR>
		<TR>
		<TD COLSPAN="2"><FONT CLASS="form"><TEXTAREA ROWS="15" COLS="62"
        MAXLENGTH="5000" NAME="body" CLASS="form" TEXTWRAP="physical">Dear <?=$fyr_representative['name']?>,</TEXTAREA></FONT></TD>
		</TR>
		<TR>
		<TD COLSPAN="2" ALIGN="right" CLASS="smallb">Ready? Press the "Preview" button to continue --> &nbsp;
<INPUT TYPE="hidden" NAME="who" VALUE="<?=$fyr_who?>">
<INPUT TYPE="hidden" NAME="pc" VALUE="<?=$fyr_postcode?>">
<INPUT TYPE="hidden" NAME="act" VALUE="preview">
<INPUT TYPE="submit" NAME="SUBMIT" VALUE="preview &nbsp;your &nbsp;Fax &gt;&gt;"><BR><IMG SRC="/images/tiny.gif" WIDTH="1" HEIGHT="5" BORDER="0"></TD>
		</TR></FORM>
		</TABLE>
	</TD>
	</TR>
	</TABLE>
<P> 
</TD>
</TR>
<TR>
<TD><IMG SRC="/images/tiny.gif" WIDTH="525" HEIGHT="1" BORDER="0"></TD>
</TR>
</TABLE>

<? } ?>

<? include "footer.php"; ?>
