<div class="wtt-builder" id="wtt-link-b">
    <div class="wtt-field">
        <label for="lk-type">Send people to just one kind of representative</label>
        <select id="lk-type">
            {{REP_OPTIONS}}
        </select>
    </div>
    <div class="wtt-code">
        <div class="wtt-code__bar"><span class="wtt-code__label">Link to WriteToThem</span><button type="button" class="wtt-code__copy" data-target="lk-out">Copy</button></div>
        <pre><code id="lk-out">https://www.writetothem.com/</code></pre>
    </div>
    <p><a id="lk-go" class="wtt-go" href="https://www.writetothem.com/" target="_blank" rel="noopener">Go &rarr;</a></p>
</div>