<option value="">All their representatives</option>
            <optgroup label="Common choices">
                <option value="westminstermp" data-rep="MP">Their MP</option>
                <option value="council" data-rep="councillors">All their local councillors</option>
                <option value="regionalmp" data-rep="devolved representative">Their devolved representative (MSP, MS, MLA or London Assembly)</option>
            </optgroup>
            <optgroup label="Councils">
                <option value="DIW" data-rep="district councillors">District council</option>
                <option value="LBW" data-rep="councillors">London borough council</option>
                <option value="MTW" data-rep="councillors">Metropolitan district council</option>
                <option value="UTW,UTE" data-rep="councillors">Unitary authority</option>
                <option value="CED" data-rep="county councillors">County council</option>
                <option value="LGE" data-rep="councillors">Northern Ireland council</option>
                <option value="COP" data-rep="councillors">Isles of Scilly</option>
            </optgroup>
            <optgroup label="Devolved parliaments and assemblies">
                <option value="SPC,SPE" data-rep="MSPs">Scottish Parliament (MSPs)</option>
                <option value="WAC" data-rep="MSs">Senedd/Welsh Parliament (MSs)</option>
                <option value="NIE" data-rep="MLAs">Northern Ireland Assembly (MLAs)</option>
                <option value="LAC,LAE" data-rep="London Assembly Members">London Assembly</option>
            </optgroup>