<th style="<?= $values['td_style'] ?> <?= $values['primary_column_style'] ?>">

  <h1 style="<?= $values['h1_style'] ?>">Please confirm your message to your <?= $values['recipient_position_plural'] ?>.</h1>
  <p style="<?= $values['p_style'] ?>">All ready to send? Click the button below</p>
  <p style="margin: 30px auto; text-align: center">
    <a style="<?= $values['button_style'] ?>" href="<?= $values['confirm_url'] ?>">Send the message to my <?= $values['recipient_position_plural'] ?></a>
  </p>
  <p style="<?= $values['p_style'] ?>">A copy of your message is at the end of this email.</p>
  <p style="<?= $values['p_style'] ?>">By clicking this confirmation, you&rsquo;re also verifying that the message came from you.</p>
  <p style="<?= $values['p_style'] ?>">If you have changed your mind and don&rsquo;t want to send this message, then do nothing &ndash; we&rsquo;ll send one more reminder before it will expire.</p>

</th>

</tr><tr>
  <th style="<?= $values['td_style'] ?> <?= $values['column_separator_style'] ?>"></th>
</tr><tr>

<th style="<?= $values['td_style'] ?> <?= $values['secondary_column_style'] ?>">
  <h2 style="<?= $values['h2_style'] ?>">Your letter to your <?= $values['recipient_position_plural'] ?></h2>
  <p align="right">
  <?= $values['email_text'] ?>
  </p>
</th>
