<th style="<?= $values['td_style'] ?> <?= $values['primary_column_style'] ?>">

  <h1 style="<?= $values['h1_style'] ?>">Your letter could not be sent.</h1>
  <p style="<?= $values['p_style'] ?>">We&rsquo;re very sorry, but it wasn&rsquo;t possible to send your letter (below) to
<?= $values['recipient_name'] ?>, your <?= $values['recipient_position'] ?>.</p>
  <p style="<?= $values['p_style'] ?>">Unfortunately, sometimes emails can&rsquo;t get through. It might be down to a server problem at the other end, or something unexpected in our system – we&rsquo;ll look into it.</p>
  <p style="<?= $values['p_style'] ?>">Meanwhile, we&rsquo;ve attached a copy of your letter to the bottom of this email, so that you can print it out and send it by other means. Or, try again via our site in a week or so – hopefully we&rsquo;ll have tracked down the problem by then.</p>

</th>

</tr><tr>
  <th style="<?= $values['td_style'] ?> <?= $values['column_separator_style'] ?>"></th>
</tr><tr>

<th style="<?= $values['td_style'] ?> <?= $values['secondary_column_style'] ?>">
  <h2 style="<?= $values['h2_style'] ?>">Your letter to <?= $values['recipient_name'] ?></h2>
  <pre>
    <?= $values['email_text'] ?>
  </pre>
</th>
