<th style="<?= $values['td_style'] ?> <?= $values['primary_column_style'] ?>">

  <h1 style="<?= $values['h1_style'] ?>">Your letter could not be sent.</h1>
  <p style="<?= $values['p_style'] ?>">We&rsquo;re very sorry, but it wasn&rsquo;t possible to send your message to
<?= $values['recipient_name'] ?>, your <?= $values['recipient_position'] ?>.</p>
  <p style="<?= $values['p_style'] ?>">We tried for a week, but it appears that their mailbox was full and so your
message to them bounced back to us.</p>
  <p style="<?= $values['p_style'] ?>">We&rsquo;ve attached a copy of your letter to the bottom of this email, so that you can send it by other means. Or, try again via our site in a week or so – hopefully they&rsquo;ll have cleared out some of their backlog by then.</p>

</th>

</tr><tr>
  <th style="<?= $values['td_style'] ?> <?= $values['column_separator_style'] ?>"></th>
</tr><tr>

<th style="<?= $values['td_style'] ?> <?= $values['secondary_column_style'] ?>">
  <h2 style="<?= $values['h2_style'] ?>">Your letter to <?= $values['recipient_name'] ?></h2>
  <p align="right">
    <?= $values['email_text'] ?>
  </p>
</th>
