BODY { background : #ffffff;
}

H3 { font-family: Verdana, Arial, Helvetica;
font-size: 13pt;
font-weight: bold; 
color: #006666;
text-align: center;
}

H4 { font-family: Verdana, Arial, Helvetica;
font-size: 11pt;
font-weight: bold; 
color: #006666;
text-align: center;
}

td { font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-weight: normal; 
color: #006666;
}

.normal { font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-weight: normal; 
color: #006666;
}

.white { font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-weight: bold; 
color: #ffffff;
}

.small { font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-weight: normal;
color: #006666;
}

.smallb { font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-weight: bold; 
color: #006666;
}

.smallp { font-family: Verdana, Arial, Helvetica;
font-size: 8pt;
font-weight: normal; 
color: #999966;
}

.bigb { font-family: Verdana, Arial, Helvetica;
font-size: 10pt;
font-weight: normal;
color: #006666;
}


.monospace { font-family: Courier New, Courier, monospace;
font-size: 10pt;
font-weight: bold; 
color: #000000;
}

B { font-family: Verdana, Arial, Helvetica;
font-weight: bold;
}

.form {  font-family: monospace;
}

.lightbg {background : #9966cc;
}

a { font-family: Verdana, Arial, Helvetica;
color: #006666;
font-weight: bold;
}

a:visited { font-family: Verdana, Arial, Helvetica;
color: #006666;
font-weight: bold;
}

a:hover { font-family:  Verdana, Arial, Helvetica;
color: #999966;
font-weight: bold;
}

p, ul, li {
	text-align: left;
}
