<h3>When should I contact one of my Welsh Assembly Members?</h3>

<p>According to the Welsh Assembly Government website, they are responsible for:

<ul>
<li>Agriculture, fisheries, forestry and rural development
<li>Ancient monuments and historic buildings
<li>Culture
<li>Economic development
<li>Education and training 
<li>Environment
<li>Fire and rescue services and promotion of fire safety
<li>Food
<li>Heath and health services
<li>Highways and transport
<li>Housing
<li>Local government 
<li>Public administration
<li>Social welfare
<li>Sport and recreation
<li>Tourism
<li>Town and county planning
<li>Water and flood defence
<li>Welsh language
</ul>

