<h2>When should I contact a Senedd Member?</h2>

<p>The Welsh Government is responsible for:</p>

<ul>
    <li>Agriculture, fisheries, forestry and rural development</li>
    <li>Ancient monuments and historic buildings</li>
    <li>Culture</li>
    <li>Economic development</li>
    <li>Education and training</li>
    <li>Environment</li>
    <li>Fire and rescue services and promotion of fire safety</li>
    <li>Food</li>
    <li>Health and health services</li>
    <li>Highways and transport</li>
    <li>Housing</li>
    <li>Local government</li>
    <li>Public administration</li>
    <li>Social welfare</li>
    <li>Sport and recreation</li>
    <li>Tourism</li>
    <li>Town and county planning</li>
    <li>Water and flood defence</li>
    <li>Welsh language</li>
</ul>


<p>Issues for which you should contact your Westminster MP, rather than your Senedd Member, include police, prisons, the justice system, tax and benefits, defence, national security and foreign affairs.</p>
