<h2>When should I contact a London Assembly Member?</h2>

<p>The Greater London Authority's main areas of responsibility are:</p>

<ul>
    <li>Transport</li>
    <li>Policing</li>
    <li>Fire and emergency planning</li>
    <li>Economic development</li>
    <li>Planning</li>
    <li>Culture</li>
    <li>Environment</li>
    <li>Health</li>
</ul>
<p>Assembly Members can also hold the Mayor of London to account.</p>
<p>For local issues which fall outside those topics, you should contact your local councillor.</p>
