<h3>When should I contact one of my Northern Ireland Assembly Members?</h3>

<p>The Northern Ireland Assembly has full authority over &ldquo;transferred matters&rdquo;,
which are defined as anything not excepted or reserved. The responsibilities of the
Northern Ireland executive are:</p>

<ul>
    <li>Agriculture and Rural Development</li>
    <li>Culture, Arts and Leisure</li>
    <li>Education</li>
    <li>Employment and Learning</li>
    <li>Enterprise, Trade and Investment</li>
    <li>Environment</li>
    <li>Finance and Personnel</li>
    <li>Health, Social Services and Public Safety</li>
    <li>Justice</li>
    <li>Regional Development</li>
    <li>Social Development</li>
</ul>

<p>Reserved matters include navigation and civil aviation, financial services,
telecommunications, postal services, and the national minimum wage. Excepted
matters include defence, immigration, taxation, and elections.</p>