<h2>When should I contact one of my Northern Ireland Assembly Members?</h2>

<p>The Northern Ireland Assembly can help you with the following matters:</p>

<ul>
    <li>Agriculture and Rural Development</li>
    <li>Culture, Arts and Leisure</li>
    <li>Education</li>
    <li>Employment and Learning</li>
    <li>Enterprise, Trade and Investment</li>
    <li>Environment</li>
    <li>Finance and Personnel</li>
    <li>Health, Social Services and Public Safety</li>
    <li>Justice</li>
    <li>Regional Development</li>
    <li>Social Development</li>
</ul>

<p>Issues for which you should contact your Westminster MP, rather than your Assembly Member, include navigation and civil aviation, financial services, telecommunications, postal services, the national minimum wage, defence, immigration, taxation, and elections.</p>
