<h2>When should I contact my MP?</h2>

<p>You’ll often hear people say, "I’m going to write to my MP" when something upsets them. It’s a wide-held belief that MPs are there to solve every type of problem.</p>

<p>In fact, Parliament and central government are only responsible for certain matters. Those are the issues with which your MP can help. If your problem does not fall within one of the following areas, then you should consider contacting one of your other representatives. </p>

<p><strong> MPs can help you with matters such as:</strong>
<ul>
    <li><strong>Tax problems</strong> involving HM Revenue &amp; Customs
        (but not issues with, for example, the council tax, which is administered by your local authority).</li>
    <li>Problems with <strong>hospitals and the NHS</strong>, if you are in England. The Scottish
        and Welsh Parliaments are responsible for health matters in Scotland and Wales respectively.</li>
    <li>Problems with <strong>benefits, pensions and national insurance</strong> (but not problems with the social services department of your local authority).</li>
    <li>Issues dealt with by the Home Office, such as <strong>immigration</strong>.</li>
    <li>In England, matters such as <strong>school closures and grants</strong> (but not day to day
        problems involving schools, which are overseen by their governors and your local
        education authority). In Scotland and Wales the devolved Parliaments
        are responsible for education issues.</li>
</ul>

<p>Your MP <strong>cannot</strong> help you in private disputes with other <strong>individuals</strong> or with <strong>companies</strong> who have sold you faulty goods, nor, for example, can they interfere with decisions made by <strong>courts</strong>.</p>

<p><a target="_blank" href="http://www.parliament.uk/documents/commons-information-office/fymp/yaympenglish.pdf">You and Your MP</a> [PDF],
a factsheet produced by Parliament, has more information about what your MP can
do for you.

</p>
