<h3>When should I contact my MP?</h3>

<p>Many people think that their MP is there to solve all their problems for them;
unfortunately this is not the case. MPs can only help with those matters for
which Parliament or central government is responsible.</p>

<P><strong>Your MP will be able to help you with such areas as:</strong>
<UL>
<LI><strong>Tax problems</strong> involving HM Revenue &amp; Customs
(but not such areas as the council tax, which is paid to your local authority).
<LI>Problems dealt with by the Department of Health such
as <strong>hospitals and the National Health Service</strong>, if you are in England. The Scottish
Parliament and the Welsh Assembly are responsible for health matters in Scotland and Wales respectively.
<LI>Problems dealt with by the Department of Work and Pensions such as <strong>benefits, pensions and national 
insurance</strong> (but not problems with the social services department of your local authority).
<LI>Problems dealt with by the Home Office such as <strong>immigration</strong>.
<LI>In England, matters such as <strong>school closures and grants</strong> which are
dealt with by the Department for Children, Schools and Families (but not day to day
problems involving schools which are run by their governors and your local
education authority). In Scotland and Wales the devolved Parliament and
Assembly respectively are responsible for education matters.<A NAME="not"></A>
</UL>
<p>Your MP is <strong>not</strong> there to help you in private disputes with other <strong>individuals</strong> or with 
<strong>companies</strong> who have sold you faulty goods, nor, for example, to interfere with decisions 
made by <strong>courts</strong>.</p>

<p><a target="_blank" href="http://www.parliament.uk/documents/commons-information-office/fymp/yaympenglish.pdf">You and Your MP</a>,
a factsheet produced by Parliament, has more information about what your MP can
do for you.

</p>

