<h2>When should I contact one of my MSPs?</h2>

<P>MSPs deal with any issues for which the Scottish Parliament is responsible. They include:

<ul>
    <li>health</li>
    <li>education and training</li>
    <li>local government</li>
    <li>social work</li>
    <li>housing</li>
    <li>planning</li>
    <li>tourism, economic development and financial assistance to industry</li>
    <li>some aspects of transport, including the Scottish road network, bus policy and ports and harbours</li>
    <li>law and home affairs, including most aspects of criminal and civil law, the prosecution system and the courts</li>
    <li>police and fire services</li>
    <li>environment</li>
    <li>natural and built heritage</li>
    <li>agriculture, forestry and fishing</li>
    <li>sport and the arts</li>
    <li>statistics, public registers and records</li>
</ul>

<p>For constituency matters, you can approach any one of the MSPs who represent you. Do not contact more than one MSP on a constituency matter, as this will cause potential delays. </p>
<p>Only contact all your regional MSPs about issues that apply to all of them &ndash; for example, if you wish them to cast a particular vote in the Scottish Parliament.</p>
