<h3>When should I contact one of my MSPs?</h3>

<P>According to the Scottish Parliament website, "MSPs deal with the issues for
which the Scottish Parliament is responsible. These are called devolved
matters. They include:

<ul>
<li>health
<li>education and training
<li>local government
<li>social work
<li>housing
<li>planning
<li>tourism, economic development and financial assistance to industry
<li>some aspects of transport, including the Scottish road network, bus policy and ports and harbours
<li>law and home affairs, including most aspects of criminal and civil law, the prosecution system and the courts
<li>Police and Fire services
<li>environment
<li>natural and built heritage
<li>agriculture, forestry and fishing
<li>sport and the arts
<li>statistics, public registers and records"
</ul>

<p>The Scottish Parliament code of conduct indicates that for constituency
matters, you can approach any one of the MSPs who represent you. You should not
contact all your MSPs at once on a constituency matter, as then they will have
to work out amongst themselves who will deal with the case, and this won't be
of help to you. Please only contact all your regional MSPs on matters that
apply to all of them &ndash; for example, if you wish them to vote a particular
way on something in the Scottish Parliament.</p>

