/*

This is the header that runs across the very top of each mySociety page

*/

$mysociety-banner: #333333;

.image-replacement {
  overflow: hidden;
  text-indent: 150%;
  white-space: nowrap;
}

.ms-header {
  background-color: $mysociety-banner;
  @include clearfix();
}

.ms-header__container {
  padding: 0 !important; // override Foundation column gutters
}

.ms-header__logo {
  @include grid-column(12);
  text-align: center;
  line-height: 0;

  @media (min-width: 15em) {
    @include grid-column(6,$offset:6);
    text-align: right;
  }
  @media #{$small} {
    @include grid-column(2,$offset:10);
  }

  a{
    background-color: $mysociety-banner;
    @extend .image-replacement;
    background-image: url("../img/mysociety-header_logo.png");
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url("../img/mysociety-header_logo@2.png");
    }
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 101px 21px;
    display: inline-block;
    width: 101px;
    height: 21px;
    margin: 10px 0;
  }
}
