@import "settings";
@import "normalize";

@import "foundation/components/global";
@import "foundation/components/grid";
@import "foundation/components/visibility";
@import "foundation/components/block-grid";
@import "foundation/components/type";
@import "foundation/components/buttons";
@import "foundation/components/forms";
// @import "foundation/components/custom-forms";
// @import "foundation/components/button-groups";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/split-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
@import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
@import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
@import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
@import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
@import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// CSS3 Mixin for useful styling
@import "compass/css3";

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Merriweather:400,700);

$retina: "only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6/2), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx)";

// Mixin for simplifying retina background images.
// Applies at densities above 1.3, to avoid fuzzy images below full 2x displays.
@mixin retina-bg($image, $retinaimage, $size: 100%) {
	background-image: url($image);
	@media #{$retina} {
		background-image: url($retinaimage);
		background-size: $size;
	}
}

// Custom Styles

$link-color: #0077a3; // astonishingly this is not a Foundation variable!!
$link-underline-color: #B7C2C7;
$content-background-colour: #F4F3EF;
$instruction-list-number-size: 1.5em;
$transition-timing: 0.1s;

html {
  height: 100%;
}

body {
  min-height: 100%;

  &.home {
    background-color: #fff;

    .content {
      background-color: #fff;
    }
  }
}

h1, h2, h3, h4, h5, h6, strong, b {
  font-weight: 600;
}

h2 {
  /* Foundation makes h2s too small by default.
  So we give all h2s, at all screen sizes, a
  font-size matching the one for 768px+ displays. */
  font-size: 1.71429em;
}

h3 {
  /* Likewise for h3s */
  font-size: 1.14286em;
}

p {
    line-height: 1.5em;
}

a, .side-nav li a {
    color: $link-color;

    &:hover, &:focus {
        text-decoration: underline;
        color: #333
    }
}

p a,
.rep-list a {
  border-bottom: 1px solid $link-underline-color;

  &:hover, &:focus {
    text-decoration: none;
    border-bottom-color: currentColor;
  }
}

.help-text {
  font-family: $header-font-family;
}

small {
    font-size: emCalc(13);
    line-height: 1.461538462em;
}

input[type="submit"], input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"] {
    font-family: $header-font-family;
    font-size: emCalc(16);
    -webkit-appearance: none;
    @include border-radius(3px);
    color: #333;
}

textarea {
    height: 30.142857143em;
    -webkit-appearance: none;
    @include border-radius(3px);
    color: #333;
}

.button {
    @include box-shadow(none);
    border: none;
    font-weight: normal;
    font-family: $header-font-family;
    background-color: transparent;
    border: 1px solid #dbdad7;
    color: #666;
    @include transition(border $transition-timing ease-in, background-color $transition-timing ease-in);
    &:hover, &:focus {
        border-color: #999;
        color: #333;
        background-color: transparent;
        @include transition(border $transition-timing ease-in, background-color $transition-timing ease-in);
    }
}

/*
 * Tables
 */

table {
    border: none;
    text-align: left;

    th {
        font-family: $header-font-family;
        font-weight: normal;
        line-height: 1.3em;
        background-color: #fff; // prevent hover row background change

        a {
          display: block; // larger click target for table header sorting
        }
    }

    tr {
        line-height: 1.5em;
        background-color: transparent;
        border-top: 1px solid #E9E9E9;
        &:first-child {
            border-top: none;
        }
        &:nth-child(even) {
            background-color: transparent;
        }
        &:hover {
            background-color: rgba(0,0,0,0.05);
        }
    }

    th.sorted-desc {
      padding-right: 32px;
      background: #EEF7FB url('../img/sorted-desc.png') 100% 50% no-repeat;
      font-weight: bold;
    }
}


.button.success {
    &:hover, &:focus {
        border-color: darken($success-color, 20%);
    }
}

.banner {
    padding: emCalc(10);
    font-weight: normal;
    font-family: $header-font-family;
    line-height: 1.5em;
    font-size: emCalc(16);
}
.banner--donate {
    text-align: center;
    background: $alert-color;
    color: #fff;
    a {
        color: #fff;
        text-decoration: underline;
    }
}
.banner--staging {
    background: $alert-color;
    color: #fff;
}

$colour_violet: #a94ca6;

.democracy-week-banner {
    display: block;
    padding: 1em;
    text-align: center;
    color: #fff;
    background-color: $colour_violet;
    text-shadow: 0 1px 1px rgba(#000, 0.5);
    line-height: 1.4em;

    &:hover,
    &:focus {
        color: #fff;
        background-color: darken($colour_violet, 5%);
        text-decoration: none;
    }

    strong {
        margin-right: 0.8em;
    }

    small {
        font-size: 0.8em;
        text-decoration: underline;
    }
}

.alert-box {
    font-weight: normal;
    font-family: $header-font-family;
    line-height: 1.5em;
    font-size: emCalc(16);
}

.content-wrapper {
    .banner-top {
        background: $primary-color;
        padding-top: 0;
        padding-bottom: 0;
        min-height: 52px;
        margin-bottom: emCalc(20);

        @media #{$small} {
            min-height: 75px;
        }
    }
}

.row-full-width {
    /* adding this class to Foundation .row elements will stop them
    leaving gutters on either side on big screens, without losing
    their useful float clearing properties */
    max-width: none !important;
}

.large-centered {
  &.column, &.columns {
    max-width: $row-width;
  }
}

@media only screen and (min-width: $small-screen) and (max-width: 1024px) {
  /* We use .large-10 quite a lot to centre content on the screen.
  That's fine on screens over 1024px, but for the magic 768px-1024px
  range, we want to avoid the useless gutters on either side. */
  .row .row .large-10 {
    width: 100%;
  }
}

.hero {
    background-image: url(../img/heroes/index.jpg);
    background-position: center center;
    background-size: cover;
    color: #FFFFFF;
    @include text-shadow(rgba(0, 0, 0, 0.5) 0 0 5px);
    padding-top: 0;
    padding-bottom: emCalc(42);
    position: relative;
    min-height: 70px;

    &.hero-error {
        background-image: url(../img/heroes/error.jpg);
    }

    &.hero-sent {
        background-image: url(../img/heroes/sent.jpg);
    }

    // Correct site logo position, by stopping h2 margin collapsing.
    & > :first-child {
        padding-top: 40px;
    }

    h2 {
        color: #FFFFFF;
        font-family: $body-font-family;
        font-size: emCalc(26);
        margin-top: 1.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 17em; /* break headline onto 2 lines */
        text-align: center;
    }

    p {
        text-align: center;
        max-width: 30em;
        margin: 0 auto 1em auto;
    }

    abbr {
        color: #FFFFFF;
    }

    @media #{$small} {
        background-image: url(../img/heroes/index-large.jpg);

        h2 {
            font-size: emCalc(48);
        }

        p {
            font-size: emCalc(20);
        }
    }

    @media #{$large} and (min-height: 1000px) {
        /* make the hero taller on tall, wide screens */

        h2 {
            font-size: emCalc(52);
            max-width: 17em;
            margin-top: 2.5em;
            margin-bottom: 1em;
        }

        p {
            font-size: 2em;
            margin-bottom: 2.5em;
        }
    }
}

.hero--responsiveness {
    background-image: url(../img/heroes/index-responsiveness.jpg);
    background-position: 50% 40%;

    @media #{$small} {
        background-image: url(../img/heroes/index-responsiveness-large.jpg);
    }

    h2 {
        max-width: 20em;
    }

    .button {
      background: #f3f3f3;
      color: #333;
      font-weight: bold;
      font-size: 1.2em;
      @include box-shadow(rgba(0, 0, 0, 0.5) 0 0 5px);
      border: none;
      border-radius: 0.3em;
      text-shadow: none;
      text-decoration: none;

      &:hover, &:focus {
        background: #fff;
        color: #000;
      }
    }
}

.hero__donate__button {
    margin-bottom: 0.5em;
}

.wtt-logo {
    position: absolute;
    top: 2px;

    img {
        height: 50px;
        width: auto;
    }

    @media #{$small} {

        img {
            height: 70px;
            width: 250px;
        }
    }
}

.wtt-help {
  position: absolute;
  right: 1em * (15/16); // this is the default Foundation gutter width (0.9375em)
  top: 0.5em;
  color: #fff;
  padding: 0.6em 0;

  &:hover,
  &:focus {
    color: #fff;
    opacity: 0.9;
  }

  @media #{$small} {
    top: 1.2em;
  }
}

.index-input {
    padding-top: emCalc(30);
    padding-bottom: emCalc(30);
    background: #FFFFFF;

    h3 {
        font-size: emCalc(30);
    }

    label {
        font-size: emCalc(18);

        b {
            font-weight: normal;
        }
    }

    .button {
        font-size: emCalc(18);
        letter-spacing: 1px;
        @include border-radius(0 3px 3px 0);
        text-transform: uppercase;
        font-weight: 600;
    }

    // This is the postcode box
    input[type=text] {
        font-size: emCalc(18);
        border-right: none;
        @include border-radius(3px 0 0 3px);
        text-transform: uppercase;
    }

    @media #{$large} and (min-height: 800px) {
      /* move input further from hero on tall, wide screens */
      padding-top: emCalc(60);
    }
}

.sub-hero--responsiveness {
    padding-bottom: 0;

    h2 {
        text-align: center;
        margin: 0;
    }

    p {
        display: none;
    }
}

form#stats-search {
    .error-message {
        color: $alert-color;
        font-family: $header-font-family;
        width: 100%;
        clear: both;
        margin-bottom: 1em;
        line-height: 1.5em;
        font-weight: 600;
        font-size: emCalc(16);
    }
}


#index-search {
  text-align: center;
  @media #{$small} {
    /* stop input getting too narrow in tablet view */
    min-width: 360px;
  }
}

.error-input {
    background-color: transparent;
}

.index-content {
    padding: 20px 0;
    border-top: 1px solid #E9E9E9;
    h4 {
        font-size: emCalc(24);
    }
}

.instruction-list p {
    line-height: 2.8em;
    font-size: emCalc(16);
    margin-bottom: 1em;
    .number {
        background: $success-color;
        color: #FFFFFF;
        font-weight: 700;
        font-size: emCalc(28);
        margin-right: .2em;
        height: $instruction-list-number-size;
        width: $instruction-list-number-size;
        display: inline-block;
        text-align: center;
        @include border-radius($instruction-list-number-size);
    }

}

.index-about-blurb {
    p {
        line-height: 1.642857143em;
    }
}

.index-about-links {
    list-style: none;
    font-family: $header-font-family;
    a {
        display: block;
        padding: 0.8em;
        margin-bottom: 0.5em;
        border: 1px solid #DBDAD7;
        color: lighten($body-font-color, 30%);
        @include border-radius(3px);
        font-size: emCalc(18);
    }

}

.content {
    background: $content-background-colour;
}

.flow-breadcrumbs {
    display: none !important;
    text-align: center;
    margin-top: 12px;
}
@media #{$small} {
  .flow-breadcrumbs { display: inherit !important; }
}

.flow-breadcrumbs li {
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: 400;
	font-size: emCalc(11);
	padding-top: 22px;
	color: #666666;
}

.flow-breadcrumbs li.done:first-child {
	background: no-repeat center top;
	@include retina-bg('../img/flow-start-complete.png', '../img/flow-start-complete@2x.png', 400px 19px);
}

.flow-breadcrumbs li.done {
	background: no-repeat center top;
	@include retina-bg('../img/flow-mid-complete.png', '../img/flow-mid-complete@2x.png', 400px 19px);
}

.flow-breadcrumbs li.done:last-child {
	background: no-repeat center top;
	@include retina-bg('../img/flow-end-complete.png', '../img/flow-end-complete@2x.png', 400px 19px);
}

.flow-breadcrumbs li.current:first-child {
	background: no-repeat center top;
	@include retina-bg('../img/flow-start-current.png', '../img/flow-start-current@2x.png', 400px 19px);
}

.flow-breadcrumbs li.current {
	background: no-repeat center top;
	@include retina-bg('../img/flow-mid-current.png', '../img/flow-mid-current@2x.png', 400px 19px);
}

.flow-breadcrumbs li.current:last-child {
	background: no-repeat center top;
	@include retina-bg('../img/flow-end-current.png', '../img/flow-end-current@2x.png', 400px 19px);
}

.flow-breadcrumbs li:first-child {
	background: no-repeat center top;
	@include retina-bg('../img/flow-start-incomplete.png', '../img/flow-start-incomplete@2x.png', 400px 19px);
}

.flow-breadcrumbs li {
	background: no-repeat center top;
	@include retina-bg('../img/flow-mid-incomplete.png', '../img/flow-mid-incomplete@2x.png', 400px 19px);
}

.flow-breadcrumbs li:last-child {
	background: no-repeat center top;
	@include retina-bg('../img/flow-end-incomplete.png', '../img/flow-end-incomplete@2x.png', 400px 19px);
}

.write-header {
    text-align: center;
    padding-top: 12px;
    padding-bottom: 1em;

    h2 {
        font-family: $body-font-family;
    }

    p {
      margin-bottom: 1em;
    }

}

.write-content {
    background: #FFFFFF;
}

.write-instructions {
    background: #424242;

    h3 {
        color: #FFFFFF;
        font-size: emCalc(21);
        margin-bottom: 0;
    }

    ul {
        list-style: none;
        padding: 0;
        li {
            display: block;
            color: #FFFFFF;
            border-bottom: 1px solid #666666;
            font-family: $header-font-family;
            font-size: emCalc(13);
            padding: 8px 0;
            margin: 0;

        }

    }

    a {
        color: #FFFFFF;
        text-decoration: underline;

        &:hover, &:focus {
          color: #C3E8FA;
        }
    }

}

#writebox textarea {
  padding: 1.5em;
}

.write-instructions li:last-child {
    border-bottom: none;
}

.write-content.preview {
    padding: 5%;

    .preview-to {
        float: left;
        width: 100%;
        @media #{$small} {
            width: auto;
        }
    }

    .preview-from {
        float: left;
        width: 100%;
        @media #{$small} {
            float: right;
            width: auto;
        }
    }

    .preview-message {
        padding-top: 2em;
        clear: both;
        font-size: emCalc(16);
    }

}

.preview-send-controls {
    text-align: right;
    .success {
        @media #{$small} {
            margin-left: 20px;
        }

    }

    .button {
        display: block;
        width: 100%;
        @media #{$small} {
            display: inline-block;
            width: auto;
        }
    }

    form {
        margin-bottom: 0;
    }
    p {
        font-family: $header-font-family;
        font-size: emCalc(14);
        border-top: 1px solid #dbdad7;
        padding-top: emCalc(18);
        float: right;
        max-width: emCalc(372);
    }
}

h3.rep-heading {
    font-size: emCalc(21);
    padding-top: emCalc(6);
    padding-bottom: emCalc(6);
    margin-top: emCalc(10);
    margin-bottom: emCalc(10);
    border-bottom: 1px solid #E9E9E9;

    &.v-b {
        min-height: emCalc(50);

        &.lords {
            min-height: 0;
            margin-top: 3em;
        }

    }

}

.rep-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    li {
        margin-bottom: 0.5em;

        a {
            font-size: emCalc(18);
        }

        small {
            font-size: emCalc(14);
            color: #666666;
        }

    }

}

.rep-list.v-b {

    li {

        a {
            font-size: emCalc(16);
        }

        small {
            font-size: emCalc(13);
            display: block;
        }

    }

}

.rep-blurb, .rep-more {
  color: #6c6b68;
  p {
    margin-bottom: 0.7em;
    color: inherit;
  }
}


pre {
    margin-top: 1em;
    margin-bottom: 1em;
}

dl {
    dt {
        font-family: $header-font-family;
        font-size: emCalc(18);
        font-weight: 600;
    }

    dd {
        border-bottom: 1px solid #DBDAD7;
        margin-bottom: 1.75em;
        padding-bottom: 0.75em;
    }
}

ul,
ol {
    list-style-position: outside;
    padding-left: 1.2em;
    li {
        margin-bottom: 1em;

    }
}

a[href="#top"] {
    font-family: $header-font-family;
    text-transform: uppercase;
    font-weight: 600;
}

.feedback {
    blockquote {
        background: #fff;
        @include border-radius(3px);
        border: 1px solid #DBDAD7;
        padding: 1.5em;
        font-size: emCalc(16);
    }
}

.sidebar {
    font-family: $header-font-family;
    li {
        margin-bottom: 0;
    }
    ul {
        padding: 0;
        margin-bottom: 1em;
    }
    h5 {
        font-size: 1em;
        padding: 0;
        text-transform: uppercase;
        color: #666;
        margin-bottom: 0;
    }
}


p.toplink {
    font-size: 0.8em;
}

.panel {
    h3 {
        line-height: 1.3em;
    }
}

.advert.panel {
	background: #FFFFFF;
    @include border-radius(3px);
}

.sent-content {
    h3 {
       font-size: emCalc(18);
    }

    .side-nav {
        padding-top: 0;
    }

}

.zg-year-bar {
    font-size: 0.9em;

    ul {
        margin-bottom: 0;
    }

    & + .big-title {
      margin-top: 0; // avoid double margin
    }
}

.zg-year-bar p {
    margin: 0.25em 0;
}

form#writeForm {

    h3 {
        font-family: $body-font-family;
        font-size: emCalc(22);
    }

    .row .row {
      margin: 0;

      .columns {
        padding-left: 0;
        padding-right: 0;
      }

      .columns:first-child {
        padding-right: 2em;
      }
    }

    fieldset {
        border: none;
        legend {
            background: none;
            font-family: $header-font-family;
            font-size: emCalc(20);
            font-weight: 600;
        }
    }

    fieldset.last {
      padding: 0;
      margin-top: 0;

      legend {
        margin-bottom: 1em;
      }

      // Submit button on /write is wrapped in a label, to increase hit area.
      // We don't want its text size reduced to 0.875em.
      label {
        font-size: 1em;
      }
    }

    // Contains the privacy information above submit button on /write form.
    .before-you-submit {
      color: #666;
      font-size: emCalc(14);
      margin-bottom: 2.5em;
      margin-top: -1em;

      p {
          margin-bottom: 1em;
      }
    }

    label {
        input {
            margin-top: 0.2em;
        }
    }

    .optional-text {
        font-size: emCalc(12);
        color: #666;
        float: right;
        font-family: $header-font-family;
    }

    .error-message {
        color: $alert-color;
        font-family: $header-font-family;
        width: 100%;
        clear: both;
        margin-bottom: 1em;
        line-height: 1.5em;
        font-weight: 600;
        font-size: emCalc(16);
    }

    input[type="text"][disabled] {
        background: #fff;
        border-color: #e9e9e9;
        color: #666;
    }

    .error-element {
        input,
        textarea {
            border-color: $alert-color;
        }
        label {
            font-weight: 600;
            color: $alert-color;

        }
    }
}

.questionnaire-buttons {
    text-align: center;
}

address {
    line-height: 170%;
    margin-bottom: 1em;
}

$mysoc-footer-border-top: 1px solid #E9E9E9;
$mysoc-footer-background-color: $body-bg;
$mysoc-footer-link-text-color: $link-color;
$mysoc-footer-link-hover-text-color: #333;
$mysoc-footer-donate-background-color: $content-background-colour;
$mysoc-footer-donate-button-background-color: $success-color;

@import "mysoc_footer";

.mysoc-footer {
  font-family: $header-font-family;
  margin-top: 5em !important;

  a {
    border-bottom: none;
  }
}

body.home {
  .mysoc-footer {
    background-color: $content-background-colour;
  }

  .mysoc-footer__donate {
    background-color: #fff;
  }
}

// Styles for the Zeitgeist pages

.big-title {
    font-size: emCalc(32px);

    @media #{$small} {
        margin-top: 0; // avoid double margin below .zg-stats-bar
    }

    @media #{$medium} {
        font-size: emCalc(48px);
    }
}

.statistics-page {
    background-color: #fff;
    padding: 1em;
    margin-bottom: 2em;
    overflow-x: scroll;
    @media #{$medium} {
        padding: 4em;
    }
    small {
        color: #666;
    }
    table {
        width: 100%;
        margin: 1em 0 2em;
    }
    .totals {
        font-style: normal;
        font-family: $header-font-family;
        color: #666;
        font-size: 0.875em;
    }
}

.stats-postcodebox {
    @media #{$medium} {
        margin-top:-0.5em; // Visually line up with bottom of .stats-postcodebox-intro
    }

    label {
        margin-bottom: 1em;
        font-size: 1em;
    }

    input[type=text] {
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    input[type=submit] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.stats-postcodebox__inputs {
    font-size: 1.3em;
}

.zg-share {
    margin: 0 -0.5em;

    @media (min-width: $small-screen) {
        text-align: right;
        margin-top: 0.5em; // visually line up with .zg-year-bar
    }

    & > * {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
}

.navigation-tabs {
    font-family: $header-font-family;
    margin-bottom: 1em;

    @media (min-width: 29em) {
        margin-bottom: 0;
    }

    a,
    b {
        display: block;
        font-weight: normal;
        @media (min-width: 29em) {
            background: #fff;
            color: #333;
            padding: 0.5em 1em;
            font-size: emCalc(18);
            display: inline-block;
            padding: 0.25em .5em;
        }
    }

    a {
        @media (min-width: 29em) {
            background: #e3e2de;
            &:hover,
            &:active,
            &:focus {
                background: #fff;
            }
        }

    }

    .inline-list {
        margin-bottom: 0;
        margin-left: 0;

        @media (min-width: 29em) {
            margin-left: 1em;
        }

        li {
            margin-bottom: 0;
            margin-right: 1em;
            margin-left: 0;
        }
    }
}

h2 {
    .stat-desc {
        font-size: 0.75em;
        color: #666;
    }
}

.mp-lookup-results {
    background-color: #f4f3ef;
    padding: 2em;
    margin-bottom: 2em;

    p {
        margin-bottom: 0em;
    }
}

.mp-response-stats {
    list-style: none outside none;
    padding-left: 0;
    li {
        @media #{$small} {
            display: inline-block;
            vertical-align: top;
            margin-right: 2em;
            padding-right: 2em;
            max-width: 15em;
            border-right: 1px solid #e9e9e9;
            margin-top: 1em;

            &:last-child {
              margin-right: 0;
              padding-right: 0;
              border-right: 0;
            }
        }
    }
}

.mp-response-actions {
  p {
    margin-bottom: 0.5em;
  }

  .facebook-share-button {
    margin-left: 0.5em;
  }
}

.stat-desc,
.stat-number,
.stat-desc-mini {
    display: block;
    line-height: 1.2em;
}

.stat-desc,
.stat-desc-mini {
    font-family: $header-font-family;
}

.stat-desc-mini {
    color: #888;
    margin-top: 0.5em;
}

.stat-number  {
    font-family: $header-font-family;
    font-weight: 600;
    font-size: emCalc(48);
}

// Styling to match the Twitter Tweet button
.facebook-share-button {
    display: inline-block;
    height: 28px;
    padding: 1px 10px 1px 9px;
    vertical-align: top;

    background: #4c69ba;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    color: #fff;
    font-weight: 500;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    line-height: 26px;
    text-decoration: none !important;

    &:hover, &:focus {
        background-color: darken(#4c69ba, 15%);
        color: #fff;
    }

    &:before {
        content: "";
        display: inline-block;
        background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 216 216'%3E%3Cpath fill='%23fff' d='M204.1 0H11.9C5.3 0 0 5.3 0 11.9v192.2c0 6.6 5.3 11.9 11.9 11.9h103.5v-83.6H87.2V99.8h28.1v-24c0-27.9 17-43.1 41.9-43.1 11.9 0 22.2.9 25.2 1.3v29.2h-17.3c-13.5 0-16.2 6.4-16.2 15.9v20.8h32.3l-4.2 32.6h-28V216h55c6.6 0 11.9-5.3 11.9-11.9V11.9C216 5.3 210.7 0 204.1 0z'/%3E%3C/svg%3E") 0 0 no-repeat;
        background-size: 16px 16px;
        width: 16px;
        height: 16px;
        vertical-align: -3px;
        margin-right: 0.5em;
    }
}

.js-fixed-thead__clone {
    position: fixed;
    background: #fff;
    box-shadow: 0 6px 6px -4px rgba(0,0,0,0.2);
}

@import "overrides";

/* 
 * WTT political knowledge survey
 */

 .sg-content {
     fieldset legend {
         background-color: transparent;
     }

     ul li {
         margin-bottom: 0;
     }

     .sg-question {
        border-color: rgba(0,0,0,0.1);
        margin-bottom: 2em;
     }

     .sg-button {
        font-family: $header-font-family;
        background-color: $success-color;
        color: #fff;
        font-size: emCalc(18);
        letter-spacing: 1px;
        @include border-radius(0 3px 3px 0);
        text-transform: uppercase;
        font-weight: 600;
     }

     .sg-question-errorlist,
     .sg-error-message
      {
        box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
        border-radius: 3px;
     }
 }