// Global Foundation Settings
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// CSS3 Mixin for useful styling
@import "compass/css3";

// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Merriweather:400,700);

// Custom Styles

.staging {
    background: $alert-color;
    color: #FFFFFF;
    border-bottom: 1px solid #723f3f;
    padding: 10px 0;
}

.banner-top {
    background: $primary-color;
    padding: 11px 0;
}

.hero {
    background: url(../img/parliament.jpg) center center;
    color: #FFFFFF;
    @include text-shadow(rgba(0, 0, 0, 0.7) 0 0 5px);
    padding: 11px 0;
}

.hero h2 {
    color: #FFFFFF;
    font-family: $body-font-family;
}

.hero abbr {
    color: #FFFFFF;
}

.hero .panel {
    @include text-shadow(none);
}

.index-input {
    padding: 30px 0;
    background: #FFFFFF;
}

.index-content {
    padding-top: 20px;
}

.content {
    background: #f4f3ef;
}

.flow-breadcrumbs {
	text-align: center;
}

.flow-breadcrumbs li {
	text-transform: uppercase;
	font-family: $header-font-family;
	font-weight: 400;
	font-size: 0.8em;
	padding-top: 22px;
	margin: 12px 0;
	color: #666666;
}

.flow-breadcrumbs li.done:first-child {
	background: url(../img/flow-start-complete.png) no-repeat center top;
}

.flow-breadcrumbs li.done {
	background: url(../img/flow-mid-complete.png) no-repeat center top;
}

.flow-breadcrumbs li.done:last-child {
	background: url(../img/flow-end-complete.png) no-repeat center top;
}

.flow-breadcrumbs li.current:first-child {
	background: url(../img/flow-start-current.png) no-repeat center top;
}

.flow-breadcrumbs li.current {
	background: url(../img/flow-mid-current.png) no-repeat center top;
}

.flow-breadcrumbs li.current:last-child {
	background: url(../img/flow-end-current.png) no-repeat center top;
}

.flow-breadcrumbs li:first-child {
	background: url(../img/flow-mid-incomplete.png) no-repeat center top;
}

.flow-breadcrumbs li {
	background: url(../img/flow-mid-incomplete.png) no-repeat center top;
}

.flow-breadcrumbs li:last-child {
	background: url(../img/flow-end-incomplete.png) no-repeat center top;
}

.write-header {
    text-align: center;
}

.write-header h2 {
    font-family: $body-font-family;
}

.write-content {
    background: #FFFFFF;
}

.write-content h3 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    padding: 6px 0;
    margin: 10px 0;
    border-bottom: 1px solid #E9E9E9;
}

.rep-blurb {
	font-family: $header-font-family;
	font-size: 0.9em;
	color: #666666;
}

.rep-list {
    list-style: none;
}

.rep-list li {
    margin: 3px 0;
}

.sidebar {
    font-family: $header-font-family;
}

.sidebar h5 {
    font-size: 0.9em;
    color: #666666;
    padding: 4px;
    text-transform: uppercase;
}

.sidebar .side-nav {
    padding: 4px;
}

.footer {
    padding: 10px 0;
    border-top: 1px solid #E9E9E9;
}

@media #{$small} {
    .footer-links-credits li {
        float: right;
    }
}